/* styles.css */
@font-face {
    font-family: "TW";
    src: url("fonts/TWFONT/Tw\ Cen\ MT\ Regular.ttf") format("truetype");
}

@font-face {
    font-family: "PrintClearly";
    src: url("fonts/PRINC___.TTF") format("truetype");
}

@font-face {
    font-family: "Georgia";
    src: url("fonts/georgia.ttf") format("truetype");
}
@font-face {
    font-family: "DDay";
    src: url("fonts/FONT/Daddy\ Day.ttf") format("truetype");
}



body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: black !important;
    overflow: hidden;
    user-select: none;
}
body {
    cursor: none;
}

.FooterContainer p {
    position:absolute;
    color: white;    
    font-family: 'TW';
    font-size: 1rem;
    top: 60%;
    font-weight: 100;
    transform: translateX(-50%);
    left: 50%;
    text-align: center;
}

.LogoAndNameFooter {
    position: absolute;
    width: 15%;
    height: 20%;
    transform: translateX(-50%);
    left: 40%;
    display: inline;
    top: 18%;
}
.footerLogo {
    position: absolute;
    width: auto;
    height: 3rem;
    object-fit: cover;
}
.footerEntradoxTitle {
    position: absolute;
    width: 50%;
    height: 50%;
    left: 22%;
    color: rgb(221, 221, 221);
    font-family: 'DDay';
    font-size: 4rem;
    top: -11%;
}
.LogoAndNameFooterMeadowridge {
    position: absolute;
    width: 15%;
    height: 20%;
    transform: translateX(-50%);
    left: 60%;
    top: 18%;
    display: inline;
}

.footerLogoMDR {
    position: absolute;
    width: auto;
    height: 3.2rem;
    object-fit: cover;
}
.footerMeadowridgeTitle {
    position: absolute;
    width: 50%;
    height: 50%;
    left: 20%;
    color: rgb(221, 221, 221);
    font-family: 'DDay';
    font-size: 4rem;
    top: -11%;
}

.thank {
    position: absolute;
    font-family: 'TW';
    font-size: 1rem;
    top: 50%;
    transform: translateX(-50%);
    left: 50%;
    color: rgb(113, 113, 113);
}
.thank img {
    position: absolute;
    width: auto;
    height: 200%;
    object-fit: cover;
    transform: translateY(-50%);
    top: 50%;
    opacity: 0.5;
}
.footerTopHighlight {
    width: 100%;
    height: .1px;
    background-color: #00aaff;
}
.footerTopHighlight2 {
    width: 20%;
    height: .1px;
    background-color: #ffa200;
}


/* 1: bar */

.preloader-bar,
.preloader-bar2 {
  position: absolute;
  height: 2px;
  width: 50%;
  z-index: 2147483647;
  top: 70%;
  transform: translate(-50%, -50%);
  left: 50%;
}

.preloader-bar {
  background-color: #c9c9c9;
  width: 100%;
}

.preloader-bar2 {
  width: 0%;
  background-color: #00aaff;
  transition: all 300ms;
}

/* 2: progress circle */

#canvas {
    position: absolute;
    z-index: 1;
    opacity: 0; /* Change opacity if needed */
}
#canvas2 {
    z-index: 1;
    position: absolute;
    opacity: 0; /* Change opacity if needed */
}


.homeBGContainer {
    position: absolute;
    height: 110%;
    width: 110%;
    max-width: 104%;
    max-height: 104%;
    z-index: 1;

}
.loadingTextIndicator {
    position: absolute;
    opacity: 1;
    font-family: 'Cinzel', serif;
    z-index: 201;
    letter-spacing: .1rem;
    font-size: 1.5rem;
    opacity: 1;
    color: rgb(255, 255, 255);
    transform: translate(-50%, -50%);
    left: 50%;
    top: 68%;
    object-fit: cover;
    text-wrap: nowrap;
}
.testbg { 
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0);
    z-index: 10;
    left: 0%;
}
.testbg2 { 
    position: absolute;
    width: 100%;
    height: 100%;
    
    background-color: rgba(255, 0, 0, 0);
    z-index: 2;
}

.homeLabel {
    position: absolute;
    opacity: 1;
    font-family: 'TW', Arial, Helvetica, sans-serif;
    z-index: 201;
    letter-spacing: .1rem;
    font-size: 1rem;
    opacity: 1;
    color: rgb(164, 164, 164);
    text-align: right;
    top: 90%;
    left: 90%;
    object-fit: cover;
    text-wrap: nowrap;
}
.entradoxNameLabel {
    position: absolute;
    opacity: 1;
    font-family: 'TW', Arial, Helvetica, sans-serif;
    z-index: 201;
    letter-spacing: .1rem;
    text-align: right;
    font-size: 1rem;
    opacity: 1;
    color: rgb(164, 164, 164);
    top: 2%;
    left: 85%;
    object-fit: cover;
    text-wrap: nowrap;
}



.homeBGContainer[data-v-33779a56]:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(/NewEntradoxWebsite/BGBar.png);
    z-index: 100;
    opacity: 1;

}
.homeBackgroundRender {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    animation: moveCircularly 12s linear infinite;
}


.cursor {
    position: absolute;
    z-index: 2147483647;
    width: 40px;
    height: 40px;
    border: 1px solid #bbbbbb; /* Adjusted the border value */
    border-radius: 50%;
    pointer-events: none; /* Ensure the cursor doesn't interfere with other elements */
    transform: translate(-50%, -50%); /* Center the cursor on the pointer */
    background-color: transparent; /* Make the cursor transparent inside the circle */
    transition: all .0125s linear;
}
.cursorEffect {
    position: absolute;
    z-index: 2147483647;
    width: 40px;
    height: 40px;
    border: 0.1px solid #bbbbbb3d;
    border-radius: 50%;
    pointer-events: none; /* Ensure the cursor doesn't interfere with other elements */
    background-color: transparent; /* Make the cursor transparent inside the circle */
    transition: transform 1s linear 0s;
}

#smokeEffectHome {
    position: absolute;
    z-index: 2;
    width: 130%;
    height: 130%;
    opacity: 0.2;
    top: -30%;
    left: -30%;
    object-fit: cover;
    transform: rotateY(180deg) scaleY(.2);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
}

.icon-scroll,
.icon-scroll:before {
    position: absolute;
    z-index: 10;
    left: 6%;
  
}

.icon-scroll {
    width: 40px;
    height: 70px;
    margin-left: -20px;
    top: 88%;
    margin-top: -35px;
    box-shadow: inset 0 0 0 1px #fff;
    border-radius: 25px;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: iconShiftDown;
}

.icon-scroll-text {
    position: absolute;
    opacity: 1; 
    z-index: 10;
    width: 40rem;
    margin-left: 4rem;
    margin-top: 50%;
    color: rgb(179, 179, 179);
    font-family: 'TW', Arial, sans-serif;
    font-weight: lighter; 
    font-size: 1.3rem;
    letter-spacing: .2rem;
}

.icon-scroll:before {
    content: '';
    width: 8px;
    height: 8px;
    background: #fff;
    margin-left: -4px;
    top: 8px;
    left: 50%;
    border-radius: 4px;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: scroll;
}

@keyframes scroll {
    0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
        transform: translateY(46px);
      }
}

@keyframes iconShiftDown {
    0% {
        transform: translateY(-10%);
    }
    50% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-10%);
    }
}

   
#lightRay {
    position: absolute;
    z-index: 10;
    width: 130%;
    height: 130%;
    top: -8%;
    left: -30%;
    object-fit: cover;
    filter: brightness(150%);
}
.MDRTeamSymbol {
    position: absolute;
    opacity: 1;
    object-fit: cover;
    width: auto;
    height: 25%;
    max-width: 100%;
    max-height: 100%;
    background-color: transparent;
    z-index: 101;
    top: 48%;
    left: 25%;
  }



.cursorDot {
    position: absolute;
    z-index: 2147483647;
    width: 5px;
    height: 5px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    pointer-events: none; /* Ensure the cursor doesn't interfere with other elements */
    background-color: rgb(233, 233, 233); /* Make the cursor transparent inside the circle */
}



.lineDownMobile {
    position: absolute;
    opacity: 0;
    width: .5px;
    height: 100%;
    top: 0%;
    max-width: .1%;
    left: 22%;
    background-color: rgba(6, 128, 189, 0);
    transition: all .5% ease;
    z-index: 1;

  }
  .lineDownMobile2 {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: .5px;
    top: 7%;
    max-height: .1%;
    left: 0%;
    z-index: 10;
    background-color: rgba(6, 128, 189, 0);

    
  }

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 2147483646;
}

[data-custom="homeMovingItems"] {
    transition: transform 0.3s linear;
}


video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.ended {
    display: none; 
}

.TitleIMG {
    position: absolute;
    padding-left: 9%;
    padding-top: 11%;
    opacity: 1;
    z-index: 2;
}

.TitleDesc {
    position: absolute;
    padding-left: 9.8%;
    padding-top: 35%;
    opacity: 1;
    z-index: 2;


}
.TDESC {
    
    flex-direction: row;
    opacity: 1; 
    z-index: 900;
    width: 40rem;
    color: black;
    font-family: 'TW', Arial, sans-serif;
    font-weight: bold;
    
}
.ReadMore {
    position: absolute;
    padding-top: 25%;
    opacity: 1; 
    z-index: 900;
    width: 40rem;
    color: black;
    font-family: 'TW', Arial, sans-serif;
    font-weight: lighter;
    
}

.containerBottomLeftTextMOBILE {
    position: absolute;
    opacity: 0;
}

.expand {
    transform-origin: center center; /* Set the transform origin to the center */
    transform: translate(20%, -7%); /* Initial scale */
    transition: transform 0.3s ease; /* Add a transition for smooth scaling */
}


.expand2 {
    transform-origin: center center; /* Set the transform origin to the center */
    transform: translate(5%, -7%); /* Initial scale */
    transition: transform 0.3s ease; /* Add a transition for smooth scaling */
}

.fullOpacity {
    background-color: rgb(0, 179, 255) !important;;
    transition:all 0.4s ease;
}

.arrowHighlighted {
    position:absolute;
    padding-top: 2.5%;
    padding-left: 15%;
    opacity: 1; 
    z-index: 1;
    width: 8rem;
    height: 0.5rem;
    background-color: transparent;
    box-sizing: border-box;
}

.containerBottomLeftTextMOBILE2 {
    position: absolute;
    opacity: 0;
  }

  
  .upDownMobileLine {
    animation: moveUpDownMobile 12s ease-in-out infinite;
}
.backgroundScale {
    animation: backgroundScale 12s ease-in-out infinite;
}

@keyframes backgroundScale {
    0% {
        transform: scale(1);
        left: 0%;
    }
    50% {
        transform: scale(1.02);
        left: -2%;
    }
    80% {
        transform: scale(1.03);
        left: 2%;
    }
    100% {
        left: 0%;
        transform: scale(1);
    }
}


@keyframes moveUpDownMobile {
    0% {
        top: 5%;
    }
    50% {
        top: 16%;
    }
    75% {
        top: 19%;
    }
    100% {
        top: 5%;
    }
}

.SideMobileLine {
    animation: SideMobileLine 12s ease-in-out infinite;
}


@keyframes SideMobileLine {
    0% {
        left: 20%;
    }
    50% {
        left: 25%;
    }
    75% {
        left: 27%;
    }
    100% {
        left: 20%;
    }
}


.TitleBG {
    position: absolute;
    padding-left: 3.5%;
    padding-top: 7%;
    opacity: 1;
    z-index: 1;
}
.TitleBG2 {
    position: absolute;
    padding-left: 32%;
    padding-top: 30%;
    opacity: 1;
    z-index: 1;
}



.TIMG {
    width: 50rem;
    height: 32rem;
    max-width: 80%;
    max-height: 78%;
    opacity: 0; 
    z-index: 900;
}

.TBG {
    opacity: 0; 
    width: 25rem;
    height: 19rem;
    max-width: 80%;
    max-height: 80%;
    z-index: 1;
    filter: contrast(400%);
}
.TBG2 {
    opacity: 1; 
    width: 23rem;
    height: 17rem;
    max-width: 80%;
    max-height: 80%;
    z-index: 1;
    filter: contrast(400%);
}


.HB {
    position: absolute;
    z-index: 2147483647;
    padding-top: .4%;
    padding-left: .5%;
    width: 2.3%;
    height: 3.6%;
    max-width: 2.3%;
    max-height: 3.6%;
    filter: saturate(70%);
    filter: contrast(90%);
    filter: grayscale(1000%);
    filter : brightness(0%)
}

.logoBackground {
    position: absolute;
    z-index: 2147483646;
    padding-top: .4%;
    padding-left: .5%;
    width: 3%;
    height: 4.6%;
    max-width: 2.9%;
    max-height: 5%;
    background-color: white;
    
}


.ButtonContainer {
    position: absolute;
    z-index: 2147483647;
    padding-top: .4%;
    padding-left: .5%;
    width: 2.3%;
    height: 3.6%;
    max-width: 2.3%;
    max-height: 3.6%;
}
.trTitle {
    background-color: transparent;
    z-index: 2147483647;
    width: 12%;
    height: 4%;
    position: absolute;
    top: .5%;
    left: 87.5%;
}




.trt2 {
    position: absolute;
    z-index: 2147483647;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    background-color: transparent;
    transition: all .5s ease;
}


.mobileBackgroundHome {
    opacity: 0;
}



.rlb {
    position: absolute;
    z-index: 90;
    padding-top: 8%;
    padding-left: 60%;
    width: 45%;
    height: 64%;
    max-width: 45%;
    max-height: 64%;
    filter: contrast(400%);
}

.bl {
    opacity: 0;
    position: absolute;
    z-index: 5;
    padding-top: 11%;
    padding-left: 55%;
    width: 37%;
    height: 56%;
    max-width: 37%;
    max-height: 56%;
}
.HomeProps {
    position: absolute;
    background: transparent;
    width: 20%;
    height: 20%;
    max-width: 20%;
    max-height: 20%;
    z-index: 50;
}
.props-container {
    position: absolute;
    background: transparent;
    padding-left: 30%;
    padding-top: 2%;
    z-index: 999;
    max-width: 80%;
    max-height: 80%;
    width: 80%;
    height: 80%;
}


.endDesign {
    position: absolute;
    z-index: 999;
    background: transparent;
    padding-left: 98%;
    padding-top: 12%;
}



.bed {
    max-width: 75%;
    max-height: 75%;
    height: 75%;
    z-index: 999;
    width: 75%;
}

.BGDesignBlue {
    opacity: 1; 
    width: 25rem;
    height: 19rem;
    max-width: 80%;
    max-height: 80%;
    padding-top: 5%;
    padding-left: 12%;
    z-index: 1;
    position: absolute;
}

.BGB {
    position: absolute;
    opacity: 1; 
    width: 4rem;
    height: 4rem;
    max-width: 80%;
    max-height: 80%;
    z-index: 1;
    filter: contrast(200%);
}

.BGDesignBlue2 {
    opacity: 1;
    width: 25rem;
    height: 19rem;
    max-width: 80%;
    max-height: 80%;
    padding-top: 40%;
    padding-left: 42%;
    z-index: 1;
    position: absolute;
}

.BGB2 {
    position: absolute;
    opacity: 1; 
    width: 4rem;
    height: 4rem;
    max-width: 80%;
    max-height: 80%;
    z-index: 1;
    filter: contrast(200%);
}

.blackScreen {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 2147483625;
    background-color: black;
}

.homeBGContainer {
    position: absolute;
    z-index: 1;
    height: 110%;
    width: 110%;
    max-width: 104%;
    max-height: 104%;

}



.homeBGContainer[data-v-33779a56]:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(/NewEntradoxWebsite/BGBar.png);
    z-index: 100;
    opacity: 0;

}

.homeBackgroundRender {
    position: absolute;
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    left: 0%;
    filter: saturate(80%);
  }

  .containerforMobileAssets {
    position: absolute;
    opacity: 1;
    height: 100%;
    width: 100%;
    z-index: 1;
  }

  .mobileCircle {
    position: absolute;
    height: auto;
    width: 50%;
    max-width: 10%;
    max-height: 20%;
    top: 5%;
    left: 20%;
    opacity: 0;
}

  .mobile_title {
    position: absolute;
    font-family: 'DDay', Arial, Helvetica, sans-serif;
    z-index: 201;
    font-size: 8rem;
    opacity: 1;
    color: rgb(222, 222, 222);
    top: 25%;
    left: 3.5%;
    object-fit: cover;
    text-wrap: nowrap;
  }

  .containerBottomLeft {
    position: absolute;
    top: 53%;
    left: 20%;
    z-index: 1;
    width: 30rem;
    height: 30rem;
    max-width: 40rem;
    max-height: 30rem;
    background-color: transparent;
  }

  .mascotIcon {
    position: absolute;
    width: 31%;
    height: 31%;
    max-width: 31%;
    max-height: 31%;
    top: -85%;
    left: -65%;
    z-index: 100;
  }
  .mobile_titleDATE {
    position: absolute;
    font-family: 'DDay', Arial, Helvetica, sans-serif;
    z-index: 101;
    font-size: 1.5rem;
    opacity: 1;
    color: rgb(222, 222, 222);
    top: 22.5%;
    letter-spacing: 3rem;
    left:12.5%;
    object-fit: cover;
    text-wrap: nowrap;
  }

  .containerBottomLeftText {
    position: absolute;
    z-index: 10;
    top: -30%;
    left: -58%;
    font-family: 'TW', monospace;
    font-size: 1.2rem;
    letter-spacing: .1rem;
    color: rgb(222, 222, 222);
    font-weight: lighter;
    opacity: 1;
    object-fit: cover;
  }
  .barForSideOfContainer {
    position:absolute;
    top: 50%;
    background-color: rgba(0, 157, 255, 0);
    height: 60%;
    width: 0.3%;
  }
  .barForSideOfContainer2 {
    position:absolute;
    top: 30%;
    background-color: white;
    height: 15%;
    width: 0.5%;
  }

  .movingWarningUnderline {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 40%;
    max-height: 40%;
    top: 40%;
    left: 43%;
    opacity: 0.5;
    transform: translate(-50%, -50%) rotate(90deg);
  }

.nestedContainer {
    position: absolute;
    z-index: 1;
    width: 87%;
    height: 15%;
    left: 4%;
    top: 5%;
    background-color: transparent;
    overflow: hidden;
    white-space: pre;
}
  .textHeaderContainerHome {
    position: absolute;
    background-color: transparent;
    z-index: 1;
    white-space: nowrap;
    width: auto;
    max-width: 100%;
    object-fit: cover;
  }
  
.headerHorizontalMoveAnim {
    animation: moveText 40s linear infinite;

}

.barForSideOfContainer2 {
    opacity: 0;
  }

  
  @keyframes moveText {
    0% {
        transform: translateX(-50%); /* Initial position: move text to the right edge */
    }
    100% {
        transform: translateX(-100%); /* Final position: move text to the left edge */
    }
    
}

.bottomLogosHome {
    position: absolute;
    background-color: transparent;
    z-index: 1;
    width: auto;
    height: auto;
    max-width: 18rem;
    max-height: 8rem;
    top: 55%;
    left: 3.5%;
}

.doubleLineHomeBG {
    position: absolute;
    z-index: 1;
    width: auto;
    height: auto;
    max-width: 18rem;
    max-height: 18rem;
    top: 70%;
    left: 77%;
    opacity: 0;
}
.mobileHalftone {
    opacity: 0;
}

.movingWarningUnderline2 {
    opacity: 0;
}


.mobile_title2 {
    opacity: 0;
}

@media screen and (max-width: 1800px) {
    #page1 {
      z-index: 214748364 !important;
      transform: scale(1)!important;
    }
    .testbg {
        left: 0% !important;
        transition: all .2s linear;
    }

    }
@media screen and (max-width: 1650px) {
    #page1 {
      z-index: 214748364 !important;
      transform: scale(1)!important;
    }
    .testbg {
        left: -4% !important;
        transition: all .2s linear;
    }
    .mobile_title {
        left: -5% !important;
        transition: all .2s linear;

    }
    .containerBottomLeft {
        left: 14% !important;
        transition: all .2s linear;
    }
    .bottomLogosHome {
        left: -5% !important;
    }
    .MDRTeamSymbol {
        left: 20% !important;
    }
    .mobile_titleDATE {
        left: 5% !important;
    }
    .movingWarningUnderline {
        left: 40% !important;
    }

    
.icon-scroll,
.icon-scroll:before {
    position: absolute;
    z-index: 10;
    left: 0%;
    top: 95%;
  
}

.icon-scroll:before {
    top: 10%;
    left: 50%;
 
}
    }
@media screen and (max-width: 1600px) {
    #page1 {
      z-index: 214748364 !important;
      transform: scale(0.9)!important;
      display: inline;
    }
    #page7 {
        display: inline;  
    }
    .LogoAndNameFooter {
        left: 37%;
        transition: left .4s linear;
    }
    .footerLogoMDR, .footerLogo {
        left: -5%;
        transition: left .4s linear;
    }
    .testbg {
        left: -8% !important;
        transition: all .2s linear;
    }
    .mobile_title {
        left: -3.5% !important;

    }
    .containerBottomLeft {
        left: 14% !important;
    }
    .bottomLogosHome {
        left: -3.5% !important;
    }
    .MDRTeamSymbol {
        left: 18% !important;
    }
    .mobile_titleDATE {
        left: 6% !important;
    }
    .movingWarningUnderline {
        left: 41% !important;
    }
    }
@media screen and (max-width: 1500px) {
    #page1 {
      z-index: 214748364 !important;
      transform: scale(0.85)!important;
    }
    .testbg {
        left: -15% !important;
        transition: all .2s linear;
    }
    .mobile_title {
        left: -5% !important;

    }
    .containerBottomLeft {
        left: 14% !important;
    }
    .bottomLogosHome {
        left: -4% !important;
    }
    .MDRTeamSymbol {
        left: 17% !important;
    }
    .mobile_titleDATE {
        left: 5% !important;
    }
    .movingWarningUnderline {
        left: 40% !important;
    }
    }
@media screen and (max-width: 1400px) {
    #page1 {
      z-index: 214748364 !important;
      transform: scale(0.8)!important;
    }
    .testbg {
        left: -20% !important;
        transition: all .2s linear;
    }
    .mobile_title {
        left: -10% !important;

    }
    .containerBottomLeft {
        left: 10.5% !important;
    }
    .bottomLogosHome {
        left: -10% !important;
    }
    .MDRTeamSymbol {
        left: 16% !important;
    }
    .mobile_titleDATE {
        left: 1% !important;
    }
    .movingWarningUnderline {
        left: 38% !important;
    }
    .icon-scroll,
    .icon-scroll:before {
        position: absolute;
        z-index: 10;
        left: -8%;
        top: 95%;
      
    }
    
    .icon-scroll:before {
        top: 10%;
        left: 50%;
     
    }
    .LogoAndNameFooter {
        left: 30%;
        transition: left .4s linear;
    }
    .footerLogoMDR, .footerLogo {
        left: -10%;
        transition: left .4s linear;
    }
    }
    @media screen and (max-width: 1300px) {
        #page1 {
          z-index: 214748364 !important;
          transform: scale(0.8)!important;
          left: -5% !important;
        }

        .testbg {
            left: -25% !important;
            transition: all .2s linear;
            transform: scale(.9) !important;

        }
        .mobile_title {
            left: -6% !important;
    
        }
        .containerBottomLeft {
            left: 16% !important;
        }
        .bottomLogosHome {
            left: -6% !important;
        }
        .MDRTeamSymbol {
            left: 20% !important;
        }
        .mobile_titleDATE {
            left: 5.6% !important;
        }
        .movingWarningUnderline {
            left: 43% !important;
        }
        .icon-scroll,
        .icon-scroll:before {
            position: absolute;
            z-index: 10;
            left: -1%;
            top: 95%;
          
        }
        
        .icon-scroll:before {
            top: 10%;
            left: 50%;
         
        }
        .LogoAndNameFooter {
            left: 27%;
            transition: left .4s linear;
        }
        .footerLogoMDR, .footerLogo {
            left: -13%;
            transition: left .4s linear;
        }
        }

    @media screen and (max-width: 1200px) {
        #page1 {
          z-index: 214748364 !important;
          transform: scale(0.8)!important;
          left: -6% !important;
        }

        .testbg {
            left: -25% !important;
            transition: all .2s linear;
            transform: scale(.8) !important;
        }
        .mobile_title {
            left: -4% !important;
    
        }
        .containerBottomLeft {
            left: 20% !important;
        }
        .bottomLogosHome {
            left: -3% !important;
        }
        .MDRTeamSymbol {
            left: 25% !important;
        }
        .mobile_titleDATE {
            left: 9% !important;
        }
        .movingWarningUnderline {
            left: 43% !important;
            opacity: 0;
            transition: opacity .4s linear;
        }
        .LogoAndNameFooter {
            left: 28%;
            transition: left .4s linear;
        }
        .footerLogoMDR, .footerLogo {
            left: -14%;
            transition: left .4s linear;
        }
        }
@media screen and (max-width: 1100px) {
    #page1 {
      z-index: 214748364 !important;
      transform: scale(0.73)!important;
    }
    .testbg {
        left: -35% !important;
        transition: all .2s linear;
        transform: scale(.8) !important;
    }
    .mobile_title {
        left: -8% !important;

    }
    .containerBottomLeft {
        left: 18% !important;
    }
    .bottomLogosHome {
        left: -8% !important;
    }
    .MDRTeamSymbol {
        left: 23% !important;
    }
    .mobile_titleDATE {
        left: 6% !important;
    }
    .movingWarningUnderline {
        opacity: 0;
        transition: opacity .4s linear;
    }
    .icon-scroll,
    .icon-scroll:before {
        position: absolute;
        z-index: 10;
        left: -5%;
        top: 95%;
      
    }
    
    .icon-scroll:before {
        top: 10%;
        left: 50%;
    }
    .LogoAndNameFooter {
        left: 25%;
        transition: left .4s linear;
    }
    .footerLogoMDR, .footerLogo {
        left: -18%;
        transition: left .4s linear;
    }
    }
@media screen and (max-width: 1000px) {
  #page1 {
    z-index: 214748364 !important;
    transform: scale(0.6)!important;
    }

    .testbg {
        left: -40% !important;
        transition: all .2s linear;
        transform: scale(.75) !important;
    }

    .icon-scroll,
    .icon-scroll:before {
        opacity: 0;
        transition: opacity .3s linear;
      
    }
    .mobile_title {
        left: -20% !important;

    }
    .containerBottomLeft {
        left: 9% !important;
    }
    .bottomLogosHome {
        left: -20% !important;
    }
    .MDRTeamSymbol {
        left: 15% !important;
    }
    .mobile_titleDATE {
        left: -5% !important;
    }
    .movingWarningUnderline {
        opacity: 0;
        transition: opacity .4s linear;
    }
    .LogoAndNameFooter {
        left: 20%;
        transition: left .4s linear;
    }
    .LogoAndNameFooterMeadowridge, .LogoAndNameFooter {
        transform: scale(.9);
        transition: left .4s linear;
    }
    .footerLogoMDR, .footerLogo {
        left: -20%;
        transition: left .4s linear;
    }
  }

  @media screen and (max-width: 950px) {
    .testbg {
        opacity: 0;
        transition: all .2s linear;
    }
  }
  
  @media screen and (max-width: 900px) {
    #page1 {
        z-index: 214748364 !important;
        transform: scale(0.8)!important;
      }

      .mobile_title {
        left: 0% !important;

    }
    .containerBottomLeft {
        left: 32.5% !important;
    }
    .bottomLogosHome {
        left: 0% !important;
    }
    .MDRTeamSymbol {
        left: 38% !important;
    }
    .mobile_titleDATE {
        left: 18% !important;
    }
    .movingWarningUnderline {
        opacity: 0;
        transition: opacity .4s linear;
    }
    .LogoAndNameFooter {
        left: 10%;
        transition: left .4s linear;
    }
    .LogoAndNameFooterMeadowridge {
        left: 55%;
        transition: left .4s linear;

    }

    .footerLogoMDR, .footerLogo {
        left: -30%;
        transition: left .4s linear;
    }
    .menu {
        transform: scale(0.9) !important;
    }

  }
  
  @media screen and (max-width: 800px) {
    #page1 {
        z-index: 214748364 !important;
        transform: scale(0.85)!important;
      }

      .mobile_title {
        left: 5% !important;

    }
    .containerBottomLeft {
        left: 40% !important;
    }
    .bottomLogosHome {
        left: 5% !important;
    }
    .MDRTeamSymbol {
        left: 48% !important;
    }
    .mobile_titleDATE {
        left: 25% !important;
    }
    .movingWarningUnderline {
        opacity: 0;
        transition: opacity .4s linear;
    }

      .testbg {
        display: none;
    }
    .LogoAndNameFooter {
        left: 12%;
        transition: left .4s linear;
    }
    .LogoAndNameFooterMeadowridge {
        left: 53%;
        transition: left .4s linear;

    }

    .footerLogoMDR, .footerLogo {
        left: -38%;
        transition: left .4s linear;
    }
    .LogoAndNameFooterMeadowridge, .LogoAndNameFooter {
        transform: scale(.7);
        transition: left .4s linear;
    }
    .thank {
        font-size: 14px;
    }
    .FooterContainer p {
        font-size: 12px;
    }
    
    .menu {
        transform: scale(0.8) !important;
        width: 110% !important;
        left: -5% !important;
    }
  }



  @media screen and (max-width: 750px) {
    #page1 {
        z-index: 214748364 !important;
        transform: scale(0.7)!important;
      }
      .mobile_title {
        left: 0% !important;
    }
    .bottomLogosHome {
        left: 0% !important;
    }

    .LogoAndNameFooterMeadowridge, .LogoAndNameFooter {
        transform: scale(.6);
        transition: left .4s linear;
    }
    .footerLogoMDR, .footerLogo {
        left: -50%;
        transition: left .4s linear;
    }

  }

@media screen and (max-height: 900px) {
    #page1 {
        z-index: 214748364 !important;
        transform: scale(0.9)!important;
      }
      .testbg {
        left: 0% !important;
        transform: scale(0.95)!important;
        transition: all .2s linear;
    }
  }
  
  @media screen and (max-height: 800px) {
    #page1 {
        z-index: 214748364 !important;
        transform: scale(0.8)!important;
      }
      .testbg {
        left: 0% !important;
        transform: scale(0.9)!important;
        top: -5% !important;
        transition: all .2s linear;
    }

    .containerBottomLeft {
        top: 59% !important;
    }
    .bottomLogosHome {
        top: 60% !important;
    }
    .MDRTeamSymbol {
        top: 60% !important;
    }

    .icon-scroll,
    .icon-scroll:before {
        position: absolute;
        z-index: 10;
        left: -8%;
        top: 95%;
      
    }
    
    .icon-scroll:before {
        top: 10%;
        left: 50%;
     
    }
  }
  
  @media screen and (max-height: 700px) {
    #page1 {
        z-index: 214748364 !important;
        transform: scale(0.6)!important;
      } 

      .testbg {
        left: 0% !important;
        transform: scale(0.7)!important;
        top: -10% !important;
        transition: all .2s linear;
    }
    .icon-scroll,
    .icon-scroll:before {
        opacity: 0;
        transition: opacity .3s linear;
      
    }
    .movingWarningUnderline {
        opacity: 0;
    }
    .containerBottomLeft {
        top: 65% !important;
    }
    .bottomLogosHome {
        top: 70% !important;
    }
    .MDRTeamSymbol {
        top: 70% !important;
    }
    .thank, .FooterContainer p, .LogoAndNameFooterMeadowridge, .LogoAndNameFooter {
        transform: scale(.8) translateX(-50%);
        transition: transform .4s linear;
    }

  }
  @media screen and (max-height: 600px) {
    #page1 {
        z-index: 214748364 !important;
        transform: scale(0.5)!important;
      }

      
      .testbg {
        left: 0% !important;
        transform: scale(0.6)!important;
        top: -15% !important;
        transition: all .2s linear;
    }
    .icon-scroll,
    .icon-scroll:before {
        opacity: 0;
        transition: opacity .3s linear;
      
    }
    .movingWarningUnderline {
        opacity: 0;
    }
    .containerBottomLeft {
        top: 70% !important;
    }
    .bottomLogosHome {
        top: 80% !important;
    }
    .MDRTeamSymbol {
        top: 80% !important;
    }
    .thank, .FooterContainer p, .LogoAndNameFooterMeadowridge, .LogoAndNameFooter {
        transform: scale(.5) translateX(-50%);
        transition: transform .4s linear;
    }
    .FooterContainer p {
        top: 40%;
        left: 40%;
        text-align: left;
    }
    .thank {
        left: 40%;
    }

  }

  @media screen and (max-height: 500px) {
    #page1 {
        z-index: 214748364 !important;
        transform: scale(0.5)!important;
      }
      .containerBottomLeft {
        top: 80% !important;
    }
    .testbg {
        left: 0% !important;
        transform: scale(0.5)!important;
        top: -15% !important;
        transition: all .2s linear;
    }

  }

  @media screen and (max-height: 400px) {
    #page1 {
        z-index: 214748364 !important;
        transform: scale(0.1)!important;
        opacity: 0;
      }
      .testbg {
        opacity: 0;
        transform: scale(0.1)!important;
        transition: opacity transform .2s linear;
    }

    .thank, .FooterContainer p, .LogoAndNameFooterMeadowridge, .LogoAndNameFooter {
        transition: opacity .4s linear;
        opacity: 0;
    }

  }



  @media only screen and (max-width: 600px) {
    #page1 {
        transform: scale(0.5)!important;
      }
    .testbg {
        display: none;
    }
    .icon-scroll,
    .icon-scroll:before {
        opacity: 1;
        top: 135%;
        left: -20%;
        transition: opacity .3s linear;
    }
    .icon-scroll:before {
        top: 10%;
        left: 50%;
     
    }
    .movingWarningUnderline {
        opacity: 0;
    }
    .containerBottomLeft {
        top: 110% !important;
        left: 50% !important;
    }
    .mascotIcon {
        opacity: 0;
    }
    .bottomLogosHome {
        top: 120% !important;
        left: 70% !important;
        transform: scale(1.25) !important;
    }
    .MDRTeamSymbol {
        top: 20% !important;
        left: -5% !important;
        transform: scale(2) !important;
    }

    .mobile_title {
        left: -25% !important;
        font-size: 110px;
        top: 64%;
    }
    .mobile_titleDATE {
        left: -22% !important;
        top: 80%;
        font-size: 35px;
    }
    .homeLabel {
        left: 124%;
        top: 110%;
    }
    .entradoxNameLabel {
        left: 105%;
        top: -45%;
    }

    .homeBackgroundRender {
        position: fixed;
        transform: scale(3.3) !important;
        top: -30%;
        left: 165% !important;
        min-width: 200%;
        min-height: 100%;
        filter: brightness(190%);
    }

    .thank, .FooterContainer p, .LogoAndNameFooterMeadowridge, .LogoAndNameFooter {
        transition: transform .4s linear;
    }
    .LogoAndNameFooter {
        top: 5%;
        left: 3%;
        transform: scale(.4);
    }
    .LogoAndNameFooterMeadowridge {
        top: 5%;
        left: 40%;
        transform: scale(.4);
    }
    .footerLogoMDR, .footerLogo {
        left: -80%;
        top: 6%;
    }
    .FooterContainer p {
        top: 40%;
        left: 50%;
        text-align: center;
        font-size: 10px;
    }
    .thank {
        left: 50%;
        top: 50%;
        opacity: 0;
        font-size: 8px;
        text-align: center;
    }
    .menu {
        transform: scale(0.6) !important;
        width: 150% !important;
        left: -20% !important;
        top: 1.5% !important;
    }
  }


  @media only screen and (max-width: 280px) {
    #page1 {
        transform: scale(0.4)!important;
      }
    
      .bottomLogosHome {
        top: 145% !important;
        left: 70% !important;
        transform: scale(1.25) !important;
    }
    .icon-scroll,
    .icon-scroll:before {
        opacity: 1;
        top: 160%;
        left: -40%;
        transition: opacity .3s linear;
    }
    .icon-scroll:before {
        top: 10%;
        left: 50%;
     
    }
    .homeLabel {
        left: 140%;
        top: 135%;
    }
    .entradoxNameLabel {
        left: 105%;
        top: -65%;
    }
    .mobile_title {
        left: -45% !important;
        font-size: 100px;
        top: 64%;
    }
    .mobile_titleDATE {
        left: -40% !important;
        top: 80%;
        font-size: 22px;
    }
    .containerBottomLeft {
        top: 110% !important;
        left: 15% !important;
        font-size: 22px;
        width: 100%;
    }
    .containerBottomLeftText {
        font-size: 25px;
    }
    .MDRTeamSymbol {
        top: 20% !important;
        left: -15% !important;
        transform: scale(2) !important;
    }
    .homeBackgroundRender {
        left: 215% !important;
    }
    .LogoAndNameFooter {
        top: 5%;
        left: 3%;
        transform: scale(.3);
    }
    .LogoAndNameFooterMeadowridge {
        top: 5%;
        left: 40%;
        transform: scale(.3);
    }
    .footerLogoMDR, .footerLogo {
        left: -105%;
        top: 6%;
    }
    .FooterContainer p {
        top: 40%;
        left: 25%;
        text-align: left;
        font-size: 10px;
    }
    .menu {
        transform: scale(0.5) !important;
        width: 200% !important;
        left: -51% !important;
        top: 5% !important;
    }
  }

  