.sectionWrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    transition: all .5s ease-out;
}
#page1 {
    top: 0%;
    object-fit: contain;
}
#page2 {
    object-fit: contain;
    top: 100%;
}
#page3 {
    object-fit: contain;
    top: 200%;
}
#page4 {
    top: 300%;
    object-fit: contain;
}
#page5 {
    top: 400%;
    object-fit: contain;
}
#page6 {
    top: 500%;
    object-fit: contain;
}
#page7 {
    top: 100%;
    object-fit: contain;
    transition: all .5s ease-out;

}

.FooterContainer {
    position:absolute;
    z-index: 214748365;
    background-color: rgb(5, 5, 5);
    width: 100%;
    height: 25%;
}


