.RobotsGrayBackground {
    position: absolute;
    z-index: 1;
    left: 0%;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    top: 500%;
    left: 0;
    opacity: 1;
    transition: all .5s ease-out;
}

.robotsPageLabel {
    position: absolute;
    opacity: 1;
    font-family: 'TW', Arial, Helvetica, sans-serif;
    z-index: 201;
    letter-spacing: .1rem;
    font-size: 1rem;
    opacity: 1;
    color: rgb(164, 164, 164);
    top: 95%;
    left: 92%;
    object-fit: cover;
    text-wrap: nowrap;
}
.robotsHeader {
    position: absolute;
    opacity: 1;
    font-family: 'TW', Arial, Helvetica, sans-serif;
    z-index: 201;
    letter-spacing: .1rem;
    font-size: 1rem;
    opacity: 1;
    color: rgb(164, 164, 164);
    top: 2%;
    left: 87%;
    object-fit: cover;
    text-wrap: nowrap;
}
