.bottomBorder {
    position: absolute;
    z-index: 100;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 10%;
    max-width: 100%;
    max-height: 10%;
    top: 93%;
    opacity: 1;

}

.borderExtenderTop {
    position: absolute;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 8%;
    max-width: 100%;
    max-height: 10%;
    top: 0%;
    opacity: 1;

}

.blueBoxBottom1 {
    position: absolute;
    z-index: 101;
    left: 30%;
    background-color: rgba(0, 166, 255, 0);
    width: 3%;
    height: 10%;
    max-width: 3%;
    max-height: 15%;
    top: 92%;

    opacity: 1;
}

.blueBoxBottom2 {
    position: absolute;
    z-index: 101;
    left: 40%;
    background-color: rgba(0, 166, 255, 0);
    width: 3%;
    height: 10%;
    max-width: 3%;
    max-height: 15%;
    top: 97%;
    opacity: 1;

}


.PageBackgroundSponsor {
    position: absolute;
    z-index: 1;
    top: 0%;
    left: -.5%;
    opacity: 1;

}

.PageBackgroundSponsorClass {
    width: 120%;
    height: 100%;
    max-width: 120%;
    max-height: 100%;
    filter: brightness(50%);
    filter: saturate(150%);
    filter: grayscale(40%);

}


/* TEXT STYLE */

.SponsorHeader {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.438);
    width: 100%;
    height: 80px;
    object-fit: cover;

}
.TextContainer {
    position:absolute;
    background-color: transparent;
    top: 0;
    left: 3%;
    z-index: 10;
    width: 100%;
    height: 100%;
    opacity: 1;
    object-fit: cover;

}
.yourImpact {
    position: absolute;
    top: 40%;
    left: 11%;
    transform: translate(-50%, -50%);
    text-align: left;
    z-index: 10;
    color: white;
    width: 6vw; /* Adjust the width as needed */
    height: 50px;
    background-color: rgba(255, 0, 0, 0);
    font-family: 'TW', Arial;
    font-weight: lighter;
    font-size: 3.5vw; /* Use vw for font size */
    padding-right: 15%;
    object-fit: cover;

}


.yourImpactText {
    position: absolute;
    text-align: left;
    z-index: 10;
    color: white;
    width: 70%;
    font-family: 'PrintClearly', Arial, sans-serif;
    font-weight: lighter;
    font-size: 1.4rem;
    top: 15%;
    left: 2%;
    object-fit: cover;

}






.LearnMoreSponsorButton {
    z-index: 2147483647;
    position: absolute;
    width: 8vw;
    top: 20%;
    left: 75%;
    object-fit: cover;
    height: 5vh;
    max-height: 45px;
    background-color: transparent;
    border: .05rem;
    border-color: rgb(255, 255, 255);
    border-style: groove;
    opacity: 1;
    transition: all .3s ease-in-out;
    user-select: none;
    -webkit-user-select: none; /* For Safari and older versions of Chrome */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For Microsoft Edge */

}
.LearnMoreSponsorButton:hover {
    background-color: rgb(255, 255, 255);
    transform: scale(1.08);

}
.LearnMoreSponsorButton:hover .LearnMoreTextSponsor {
    color: rgb(0, 0, 0);

}

.LearnMoreTextSponsor {
    position: absolute;
    top: 25%;
    left: 5%;
    text-align: center;
    z-index: 10;
    object-fit: cover;

    color: white;
    letter-spacing: 1px;
    font-family: 'TW', Arial, sans-serif;
    font-weight: bold;
    font-size: 1.2vw;
    user-select: none;
    -webkit-user-select: none; /* For Safari and older versions of Chrome */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For Microsoft Edge */
}







.OurSponsorsButton {
    z-index: 2147483647;
    position: absolute;
    width: 8vw;
    top: 20%;
    height: 5vh;
    left: 85%;
    object-fit: cover;
    max-height: 45px;
    background-color: transparent;
    border: .05rem;
    border-color: rgb(255, 255, 255);
    border-style: groove;
    opacity: 1;
    transition: all .3s ease-in-out;
    user-select: none;
    -webkit-user-select: none; /* For Safari and older versions of Chrome */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For Microsoft Edge */

}
.OurSponsorsButton:hover {
    background-color: rgb(255, 255, 255);
    transform: scale(1.08);
}
.OurSponsorsButton:hover .OurSponsorsButtonText {
    color: rgb(0, 0, 0);
    
}

.OurSponsorsButtonText {
    position: absolute;
    top: 25%;
    left: 15%;
    text-align: center;
    object-fit: cover;
    font-size: 1.2vw;

    z-index: 10;
    color: white;
    letter-spacing: 1px;
    font-family: 'TW', Arial, sans-serif;
    font-weight: bold;
    user-select: none;
    -webkit-user-select: none; /* For Safari and older versions of Chrome */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For Microsoft Edge */
}


.sponsoHeaderBackgroundColor {
    width: 100%;
    height: 100%;
    background-color: transparent;
    object-fit: cover;

}

.SponsorFooter {
    position: absolute;
    z-index: 10;
    width: 100%;
    top: 90%;
    background-color: rgb(0, 0, 0);
    height: 10%;
    object-fit: cover;

}

.sponsorGilbert {
    position: absolute;
    left: 75%; /* Adjust the left position as needed */
    width: 4vw;
    top: 50%;
    height: 7vh;
    object-fit: cover;
    transform: translate(-50%, -50%);
}

.sponsorComponentsContainer {
    position: absolute;
    z-index: 100;
    width: 100%;
    max-width: 3445px;
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    flex-wrap: wrap;
    gap: 50px 0;
    height: 100%;
    max-height: 2683px;
    left: 50%;
    top: 7%;
    transform: translateX(-50%);
    background-color: transparent;

    opacity: 0;

}
.pricingComponent {
    padding: 30px;
    border: 1.43px solid #ffffff;
    width: 100%;
    max-width: 275px;
    height: 508px;
    background-color: rgba(255, 255, 255, 0);
    transition: all .2s linear;
}

.pricingComponentRelative {
    position: relative;
    height: 100%;
    
}

.pricingComponentButton {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 49px;
    z-index: 11;
    background: rgb(10, 10, 10);
    border-radius: 5px;
    border: 1px solid #14141400;
    font-weight: normal;
    letter-spacing: 1.5px;
    font-size: 20px;
    color: #ffffff;
    outline: none;
    transition: all .3s linear;
    font-family: 'PrintClearly', Arial, Helvetica, sans-serif;
    

}
.pricingComponentButton:hover {
    transform: scale(1.05);
    color: rgb(0, 0, 0);
    background-color: white;

}

.sponsorCheck {
    position: absolute;
    width: 3rem;
    height:  48px;
    object-fit: cover;
}
.sponsorTextBen {
    margin-top: 1px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: white;
    position: absolute;
    object-fit: cover;
    z-index: 10;
    font-family: 'PrintClearly', Arial, sans-serif;
    font-weight: normal;
    user-select: none;
    -webkit-user-select: none; /* For Safari and older versions of Chrome */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For Microsoft Edge */
    gap: 16px
}

.gradientWhiteSponsor {
    position: absolute;
    width: 100%;
    height: 200%;
    left: 50%;
    top: 50%;
    z-index: 10;
    transform: translate(-50%,-50%);
    transition: all .2s linear;
}

.pricingComponent:hover {
    transform: scale(1.04);
}
.pricingComponent:hover .gradientWhiteSponsor {
    transform: translate(-50%,-50%) scaleX(2.5);
    opacity: .2;
}

.floatingSponsorItemsA {
    animation-name: floatingSponsorItems;
    animation-duration: 10s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite
}

@keyframes floatingSponsorItems {
    0% {
        top: 8%;
    }
    50% {
        top: 13%;

    }
    100% {
        top: 8%;

    }
}

.PricingTag {
    position: absolute;
    transform: translate(-50%,-50%);
    left: 102%;
    top: -6%;
}
.PricingTag p {
    font-weight: 400;
    font-size: 70px;
    color: white;
    object-fit: cover;
    font-family: 'TW', Arial, sans-serif;
    font-weight: normal;
    user-select: none;
    -webkit-user-select: none; /* For Safari and older versions of Chrome */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For Microsoft Edge */
}

.TierName {
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 80%;
}
.TierName p {
    font-weight: 400;
    font-size: 55px;
    color: white;
    object-fit: cover;
    text-wrap: nowrap;
    font-family: 'TW', Arial, sans-serif;
    font-weight: normal;
    user-select: none;
    -webkit-user-select: none; /* For Safari and older versions of Chrome */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For Microsoft Edge */
}

/* SPONSOR CONTAINAER */
.sponsorInformationContainerMainDisplay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 222, 173, 0);
    z-index: 2147483647;
    display: flex;
    flex-direction: row;
}
.sponsorInformationContainerMain {
    position: relative;
    width: 15%;
    height: 60%;
    background-color: rgba(245, 222, 179, 0);
    border: .05rem;
    border-color: rgb(174, 174, 174);
    border-style: groove;
    transform: translate(-50%,-50%);
    left: 20%;
    top: 50%;
    margin-left: 3%;
}
