@font-face {
    font-family: "PrintClearly";
    src: url("fonts/PRINC___.TTF") format("truetype");
}
@font-face {
    font-family: "Servant";
    src: url("fonts/the-servant-italic.ttf") format("truetype");
}
body {
    user-select: none;
    background-color: blue;
}

.staffPanelContainer {
    position: absolute;
    z-index: 2147483647;
    width: 40%;
    height: 85%;
    left: 0%;
    top: 14%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0);
    transition: transform .3s linear;
}



.CurrentStaffList {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 255, 0);
    margin-top: 5%;
    left: 0%;
}
.StaffDisplayList {
    position: absolute;
    background-color: rgba(255, 166, 0, 0);
    display: flex;
    flex-wrap: wrap;
    object-fit: cover;
    flex-direction: column;
    height: 100%;
    width: 23%;
    left: 15%;
    z-index: 2147483646;

}
.displayNames {
    position: relative;
    margin-top: 17.3%;
    font-family: 'TW', Arial, Helvetica, sans-serif;
    letter-spacing: .3rem;
    font-weight: normal;
    color: white;
    font-size: 40px;
    background-color: rgba(0, 255, 255, 0);
    margin-left: 13%;
}

.StaffDisplayListIcons {
    position: absolute;
    display: flex;
    opacity: 1;
    flex-wrap: wrap;
    height: 100%;
    object-fit: cover;
    flex-direction: column;
}


.displayNameIcon {
    position: relative;
    margin-top: 0; /* Adjusted to 0 to align with the text */
    width: auto;
    object-fit: cover;
    height: 40px;
    white-space: nowrap;
}
.displayNameIconTest {
    position: relative;
    width: auto;
    vertical-align: middle;
    object-fit: cover;
    height: 2.5rem;
    margin-right: 5px; /* Added margin to separate icon from text */
}

#CurrentStaffList-Engineer {
    display: inline;
}




.staffPanelBarTopMenu {
    position: absolute;
    display: flex;
    flex-wrap:wrap;
    margin-top: 0px;
    width: 50%;
    height: 10%;
    left: 8%;
    top: -8%;
    background-color: rgba(255, 0, 0, 0);
}

.displayNamesIconsLeft {
    position: absolute;
    background-color: rgba(255, 0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    object-fit: cover;
    flex-direction: column;
    height: 100%;
    width: 100%;
    left: 10%;
}
.displayNameIconTestLeft {
    position: relative;
    background-color: rgba(255, 166, 0, 0);
    height: 2.7rem;
    object-fit: cover;
    width: 2.7rem;
    margin-top: 4%;
    transition: transform, color, .1s linear;
}

.staffPanelRole {
    list-style-type: none;
    margin: .1rem;
    opacity: 1;
    padding: 10px;
    font-family: 'TW', Arial, Helvetica, sans-serif;
    letter-spacing: .2rem;
    font-size: 3rem;
    font-weight: bold;
    background-color: rgba(0, 0, 255, 0);
    color: rgb(208, 208, 208);
}


.staffPageLabel {
    position: absolute;
    opacity: 1;
    font-family: 'TW', Arial, Helvetica, sans-serif;
    z-index: 201;
    letter-spacing: .1rem;
    font-size: 1rem;
    opacity: 1;
    color: rgb(164, 164, 164);
    top: 95%;
    left: 92%;
    object-fit: cover;
    text-wrap: nowrap;
}
.staffPageNameLabel {
    position: absolute;
    opacity: 1;
    font-family: 'TW', Arial, Helvetica, sans-serif;
    z-index: 201;
    letter-spacing: .1rem;
    font-size: 1rem;
    opacity: 1;
    color: rgb(164, 164, 164);
    top: 2%;
    left: 88%;
    object-fit: cover;
    text-wrap: nowrap;
}

.staffBackgroundImage {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover the entire container */
    opacity: 1;
    animation: moveCircularly2 12s ease-in-out infinite;

}
@keyframes moveCircularly2 {
    0% {
        filter: contrast(150%) saturate(120%);
      transform: translate(3%, 0) scale(1);
    }
    25% {
      transform: translate(0, 0) scale(1);
    }
    50% {
        filter: contrast(100%) saturate(100%);
      transform: translate(-3%, 0) scale(1);
    }
    75% {
        filter: contrast(100%);

      transform: translate(0, 0) scale(1);
    }
    100% {
        filter: contrast(150%) saturate(120%);
      transform: translate(3%, 0) scale(1);
    }
  }
.fullScreenStaffWrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    top: 0%;
    opacity: 0;

}
.fullScreenStaffWrapper2 {
    position: absolute;
    z-index: 2147483647;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    top: 0%;
    z-index: 50;
    opacity: 0;
    background-color: transparent;
}
.fullScreenStaffWrapper::after {
    content: "";
    position:fixed;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background: url(/BGBar.png);
    z-index: 100;
  }

.bordersStaff1 {
    position: absolute;
    background-color: black;
    z-index: 50;
    width: 100%;
    height: 4rem;
    max-width: 100%;
    max-height: 4rem;
}

.bordersStaff2 {
    position: absolute;
    background-color: black;
    z-index: 50;
    width: 100%;
    height: 8rem;
    max-width: 100%;
    max-height: 8rem;
    top: 92%;
}

.textOnBorder {
    position: absolute;
    font-family: 'Servant', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: white;
    font-weight: bold;
    letter-spacing: .4rem;
    left: 15%;
    top: 30%;
    transform: translate(-50%, -50%);

}
.textOnBorder2 {
    position: absolute;
    font-family: 'Servant', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: white;
    font-weight: bold;
    letter-spacing: .4rem;
    left: 85%;
    top: 30%;
    transform: translate(-50%, -50%);

    
}
.textOnBorder3 {
    position: absolute;
    font-family: 'Servant', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: white;
    font-weight: bold;
    letter-spacing: .4rem;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    
}

.staffPageTitle {
    transition: all 0.6s linear;

    position: absolute;
    font-family: 'Servant', Arial, Helvetica, sans-serif;
    letter-spacing: .3rem;
    left: 40%;
    top: 15%;
    z-index: 5;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    color: white;
    font-weight: bold;
}

/* STAFF FRAMES PART */
.StaffFramesHolder {
    z-index: 2147483647;
    position:absolute;
    top:65%;
    left: 54%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
    width: 90%;
    max-width: 90%;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin: 0 auto; /* Center the container */
}
.StaffFramesHolder2 {
    
    z-index: 2147483647;
    position:absolute;
    top:65%;
    left: 54%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
    width: 90%;
    max-width: 90%;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin: 0 auto; /* Center the container */
}
.StaffFramesHolder3 {
    
    z-index: 2147483647;
    position:absolute;
    top:65%;
    left: 54%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
    width: 90%;
    max-width: 90%;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin: 0 auto; /* Center the container */
}

.StaffFrameBG {
    width: auto;
    height: auto;
    max-width: 110px;
    max-height: 110px;
    filter: brightness(70%);
}

.StaffFrame_Manager {
    background-color: transparent;
    transition: all 0.4s linear;
    position: relative;
    z-index: 2147483647;
    width: calc(25% - 10px);
    height: auto;
    max-width: 110px;
    max-height: 110px;
    margin-right: 10rem; /* Adjust the margin as needed */
    margin-bottom: 40%; /* Add margin to create space between rows */
}

.StaffFrame_Row1 {
    background-color: transparent;
    transition: all 0.4s linear;
    width: calc(25% - 10px);
    height: auto;
    max-width: 110px;
    max-height: 110px;
    margin-right: 10rem; /* Adjust the margin as needed */
    margin-bottom: 20%; /* Add margin to create space between rows */
}


.StaffFrame_Row2 {
    background-color: transparent;
    transition: all 0.4s linear;
    width: calc(25% - 10px);
    height: auto;
    max-width: 110px;
    max-height: 110px;
    margin-right: 10rem; /* Adjust the margin as needed */
}

.StaffMembersUnderline {
    transition: all 0.6s linear;
    position: absolute;
    z-index: 10;
    width: auto;
    height: auto;
    max-width: 65%;
    max-height: 65%;
    top: 8%;
    left: 16%;
    transform: translate(-50%, -50%);
}

.ArtStaffBottom {
    position: absolute;
    z-index: 10;
    top: 70%;
    transition: all 0.6s linear;

    left: 21%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    max-width: 60rem;
    max-height: 60rem;
}

.Stylizer {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    opacity: .04;
}

.FlagManager {
    position: absolute;
    z-index: 100;
    color: black;
    font-weight: lighter;
    padding-left: .4rem;
    font-family: 'Servant', Arial, Helvetica, sans-serif;
   background-color: rgb(0, 162, 255); 
   width: 70%;
   height: 20%;
   top: 75%;
   left: 60%;
}

.FlagFieldCoach {
    position: absolute;
    z-index: 100;
    color: black;
    font-weight: lighter;
    padding-left: .4rem;
    font-family: 'Servant', Arial, Helvetica, sans-serif;
   background-color: rgb(0, 162, 255); 
   width: 88%;
   height: 20%;
   top: 75%;
   left: 60%;
}


/* MAIN PART OF STAFF PAGE */
.ContainerForStaffOverview {
    position: absolute;
    z-index: 1;
    height: 80%;
    width: 80%;
    top: 200%;
    left: 10%;
    max-width: 100%;
    max-height: 100%;
    background-color: transparent;
    transition: all .3s linear;
}

.StaffPictureBody {
    opacity: 0;
    position: absolute;
    top: 30%;
    z-index: 3;
    left: 24%;
    width: auto;
    height: 95%;
    max-height: 95%;
}

.StaffEntradoxTag {
    position: absolute;
    z-index: 2;
    background-color: white;
    width: 45%;
    height: 15%;
    top: 35%;
    left: 23%;
}
.EntradoxTagTitle {
    position: absolute;
    z-index: 3;
    width: 70%;
    height: auto;
    max-width: 75%;
    max-height: 50%;
    left: 22%;
    top: 25%;
}

.StaffDescGuiLayoutContainer {
    opacity: 0;
}
.grayLayoutDescriptionContainer {
    position: absolute;
    z-index: 1;
    background-color: #171717f1;
    width: 0%;
    height: 43%;
    top: 43%;
    left: 23%;
    opacity: 0;

}

.TagNamePerson {
    position: absolute;
    z-index: 100;
    color: white;
    font-weight: bold;
    font-size: 3rem;
    font-family: 'Servant', Arial, Helvetica, sans-serif;
   width: 70%;
   height: 20%;
   top: 19%;
   left: 45%;
   text-align: center;
}

.StaffDescriptionExitButton {
    position: absolute;
    z-index: 100;
    color: white;
    font-weight: bold;
    font-size: 4.8rem;
    font-family: 'Servant', Arial, Helvetica, sans-serif;
   width: 70%;
   height: 20%;
   top: -15%;
   left: 99%;
   transition: transform .3s ease-in-out;

}
.StaffDescriptionExitButton:hover {
    transform: scale(1.03);
    color: rgb(0, 166, 255);
}

.TagRoleText {
    position: absolute;
    z-index: 100;
    color: white;
    font-weight:200;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
   width: 70%;
   height: 20%;
   top: 28%;
   left: 25%;
}

.TagRoleIconType {
    position: absolute;
    z-index: 99;
    width: 6%;
    height: auto;
    top: 22%;
    left: 18%;
}

.TagStaffMemberDescription {
    position: absolute;
    z-index: 100;
    color: rgb(171, 171, 171);
    font-weight: lighter;
    font-size: 1.3rem;
    font-family: 'Courier New', monospace;
    width: 80%;
    height: 20%;
    top: 48%;
    left: 18%;
}


/* ANIMATIONS FOR STAFF PAGE POP OUT */


.staffOverviewContainerAppear {
    animation: staffAppearAnimation 1s ease-in-out forwards;
}

@keyframes staffAppearAnimation {
    0% {
        opacity: 0;
        top: 100%;
    }
    40% {
        opacity: 0;
        top: 50%;
    }
    60% {
        opacity: .1;
    }
    80% {
        opacity: .5;
        top: 20%;
    }

    100% {
        opacity: 1;
        top: 20%;
    }


}

/* ANIMATIONS FOR STAFF PAGE FRAMES DROP OUT */

.staffFramesGoUpAnimations {
    animation: staffItemsGoUp 1.5s ease-in-out forwards;
}

.expandGrayContainer {
    animation: expandGrayContainer 2s ease-in-out forwards;
}

@keyframes expandGrayContainer {
    0% {
        width: 0%;
        opacity: 0;
    }
    30% {
        width: 0%;
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        width: 78%;
    }
}

.mobileNextButton2{
    position: absolute;
    z-index: 2147483646;
    opacity: 0;
    top: 200%;
}


@keyframes staffItemsGoUp {
    0%,
    10% {
        opacity: 1;
    }

    40% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        top: -20%;
    }


}


.expandEntradoxWhiteContainer {
    animation: expandEntradoxWhiteContainer 1.2s ease-in-out forwards;
}

@keyframes expandEntradoxWhiteContainer {
    0% {
        width: 0%;
    }
    30% {
        width: 0%;
    }
    100% {
        width: 45%;
    }
}


/* ICONS */
.Name1 {
    position: absolute;
    width: auto;
    height: auto;
    max-width: 70px;
    max-height: 70px;
    left: 20.5%;
    top: 16%;
}
.Name2 {
    position: absolute;
    width: auto;
    height: auto;
    max-width: 80px;
    max-height: 70px;
    left: 20.5%;
    top: 16%;
}

.Name3 {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 70px;
    max-height: 70px;
    left: 20.5%;
    top: 16%;
}
.Name4 {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 70px;
    max-height: 70px;
    left: 20.5%;
    top: 16%;
}

.Name5 {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 70px;
    max-height: 70px;
    left: 20.5%;
    top: 16%;
}
.Name6 {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 70px;
    max-height: 70px;
    left: 20.5%;
    top: 16%;
}

.Name7 {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 70px;
    max-height: 70px;
    left: 20.5%;
    top: 16%;
}
.Name8 {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 70px;
    max-height: 70px;
    left: 20.5%;
    top: 16%;
}
.Name9 {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 70px;
    max-height: 70px;
    left: 20.5%;
    top: 16%;
}
.Name10 {
    position: absolute;
    width: auto;
    height: auto;
    max-width: 70px;
    max-height: 70px;
    left: 20.5%;
    top: 16%;
}

/*STAFF CONTAINER*/

.ContainerForStaffDescriptionBody {

    position: absolute;
    z-index: 10;
    background-color: rgba(255, 0, 0, 0);
    width: 90%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

.HumanBody-Image {
    position: absolute;
    transform: translate(-50%,-50%);
    width: auto;
    height: 100%;
    left: 30%;
    top: 50%;
    object-fit: cover;
    z-index: 12;
}
.HumanBody-ImageShadow {
    position: absolute;
    transform: translate(-50%,-50%);
    width: auto;
    height: 100%;
    left: 13%;
    top: 50%;
    object-fit: cover;
    opacity: 1;
    z-index: 11;

}


.StaffMemberHeadlineContainer {
    background-color: rgba(0, 140, 255, 0);
    position: absolute;
    transform: translate(-50%,-50%);
    width: 115%;
    height: 30%;
    left: 50%;
    top: 20%;
    z-index: 9;
}
.HeadlineContainerPicture {
    width: 120%;
    height: 100%;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 45%;
    object-fit: cover;
    position: absolute;
    opacity: 0;
}

.AnimatableSqaureForHeadline {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    transform: translate(-50%,-50%);
    width: 22%;
    height: 150%;
    left: 12.5%;
    top: 26%;
    z-index: 101;
}
.staffPageStaffContentXButton {
    position: absolute;
    font-weight: bold;
    font-size: 2.5rem;
    font-family: 'Servant', Arial, Helvetica, sans-serif;
    color: white;
    left: 90%;
    top: 40%;
    z-index: 2147483647;
    background-color: rgba(102, 51, 153, 0);
    transition: transform .15s linear;
    display: none;
}
.staffPageStaffContentXButton:hover {
    transform: scale(1.2);
}

.StaffMemberHeadlineContainer-Name {
    position: absolute;
    z-index: 100;
    color: rgb(192, 192, 192);
    font-weight: bold;
    font-size: 2rem;
    font-family: 'TW', Arial, Helvetica, sans-serif;
    width: 70%;
    height: 20%;
    top: 120%;
    letter-spacing: 2PX;
    transform: translate(-50%,-50%);
    left: 80%;
    text-wrap: nowrap;
    transition: transform .3s ease-in-out;
}

.StaffMemberHeadlineContainer2 {
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 100;
    color: rgba(186, 186, 186, 0.055);
    font-weight: bold;
    font-size: 11rem;
    font-family: 'Servant', Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    top: 100%;
    left: 50%;
    text-align: center;
    text-align: center;
  }

.MainRoleIconBehindImage {
    position: absolute;
    width: auto;
    height: 65%;
    left: 73%;
    top: 75%;
    opacity: 0;
    transform: translate(-50%,-50%);
    z-index: 1;
}
.StaffLabelOnContainerForDesc {
    position: absolute;
    background-color: rgba(255, 166, 0, 0);
    width: 100%;
    height: 80%;
    top: 60%;
    left: 53%;
    z-index: 1;
    transform: translate(-50%,-50%);
    color: rgb(13, 13, 13);
}
.VerticleDownRect {
    position: absolute;
    width: 3px;
    height: 50%;
    z-index: 50;
    transform: translate(-50%,-50%);
    left: 97%;
    top: 50%;
    background-color: rgb(171, 171, 171);
}
.StaffLabelOnContainerForDesc p {
    position: absolute;
    transform: translate(-50%,-50%);
    font-weight: bold;
    font-size: 1rem;
    left: -2.5%;
    top: 0%;
    text-align: left;
    font-family: 'Servant', Arial, Helvetica, sans-serif;
}
.ImageForStaffLabelOnContainer {
    position: absolute;
    transform: translate(-50%,-50%);
    width: auto;
    height: 8%;
    left: -3.8%;
    top: 13%;
    filter: brightness(10%);
    object-fit: cover;
    z-index: 15;
}
.ContainerForStaffDescriptionText {
    position: absolute;
    background-color: rgba(72, 0, 255, 0);
    transform: translate(-50%,-50%);
    width: 80%;
    height: 60%;
    left: 83%;
    top: 73%;
    z-index: 20;
}


.ContainerForStaffDescriptionText p {
    position: absolute;
    font-size: 1.1rem;
    font-weight: normal;
    transform: translate(-50%,-50%);
    left: 35%;
    color: rgb(199, 199, 199);
    top: 50%;
    font-family: 'Servant', Arial, Helvetica, sans-serif;
}
.LineThroughTopExtend {
    position: relative;
    transform: translate(-50%,-50%);
    width: 90%;
    height: 3px;
    left: 15%;
    top: 30%;
    z-index: 0;
    background-color: rgb(0, 145, 213);
}

.StaffRoleTextDisplay {
    position: absolute;
    font-family: 'Servant', Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    transform: translate(-50%,-50%);
    color: rgb(255, 200, 0);
    z-index: 50;
    left: 17%;
    top: 20%;
}
.StaffRoleTextDisplay p {
    font-family: 'Servant', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: lighter;
    transform: translate(-50%,-50%);
    left: 10%;
    top: -90%;
    color: rgb(226, 226, 226);
    z-index: 50;
}

.StaffRoleTextDisplay2 {
    position: absolute;
    font-family: 'Servant', Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    transform: translate(-50%,-50%);
    color: rgb(203, 203, 203);
    z-index: 50;
    left: 49%;
    top: 20%;
}
.StaffRoleTextDisplay2 p {
    font-family: 'Servant', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight:lighter;
    transform: translate(-50%,-50%);
    left: 10%;
    top: -90%;
    color: rgb(226, 226, 226);
    z-index: 50;
}

.FadedBackgroundForContainer {
    position: absolute;
    z-index: 1;
    background: rgba(35, 35, 35, 0);
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
}
/*STAFF CONTAINER*/



@media only screen and (max-width: 700px) {
 
    .StaffFramesHolder {
        z-index: 2147483647;
        position:absolute;
        top:265%;
        left: 54%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-wrap: wrap;
        background-color: transparent;
        width: 90%;
        max-width: 90%;
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
        margin: 0 auto; /* Center the container */
    }
    .StaffFramesHolder2 {
        
        z-index: 2147483647;
        position:absolute;
        top:265%;
        left: 54%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-wrap: wrap;
        background-color: transparent;
        width: 90%;
        max-width: 90%;
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
        margin: 0 auto; /* Center the container */
    }
    .StaffFramesHolder3 {
        
        z-index: 2147483647;
        position:absolute;
        top:265%;
        left: 54%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-wrap: wrap;
        background-color: transparent;
        width: 90%;
        max-width: 90%;
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
        margin: 0 auto; /* Center the container */
    }

    .bordersStaff1 {
        position: absolute;
        top: 200%;
    }
    .bordersStaff2 {
        position: absolute;
        top: 200%;
    }
    .StaffMembersUnderline {
        position: absolute;
        width: 90%;
        object-fit: cover;
        height: 30%;
        left: 20%;
        top: 0%;
    }
    .staffPageTitle {
        transition: all 0.6s linear;
        position: absolute;
        font-family: 'Servant', Arial, Helvetica, sans-serif;
        letter-spacing: .1rem;
        left: 19%;
        top: 2.5%;
        z-index: 5;
        transform: translate(-50%, -50%);
        font-size: 15px;
        color: white;
        font-weight: bold;
    }

    .ArtStaffBottom {
        position: absolute;
        top: 200%;
        left: 25%;
        width: auto;
        max-width: 100%;
        height: 10%;
        background-color: transparent;
        object-fit: cover;
        transition: all 0.3s linear;
        
    }

    .ContainerForStaffOverview {
        position: absolute;
        z-index: 2147483647;
        height: 80%;
        width: 100%;
        top: 1000%;
        left: 0%;
        max-width: 100%;
        max-height: 100%;
        background-color: rgba(0, 0, 0, 0);
        transition: all .3s linear;
        opacity: 1;
    }

    .StaffPictureBody {
        opacity: 1;
        transition: transform .3s linear;
        position: absolute;
        top: 200%;
        z-index: 3;
        left: 50%;
        width: auto;
        height: 90%;
        /*ORIGINAL TOP: 50%*/
        max-height: 90%;
        transform: translate(-50%,-50%);
    }
    
    .StaffEntradoxTag {
        position: absolute;
        z-index: 10;
        background-color: white;
        top: -5%;
        left: 10%;
        height: 33px;
        width: 130px;
        transform: translate(-50%,-50%);
    }
    .EntradoxTagTitle {
        position: absolute;
        z-index: 10;
        width: 80%;
        height: auto;
        max-width: 75%;
        max-height: auto;
        left: 22%;
        top: 15%;
    }
    
    .StaffDescGuiLayoutContainer {
        opacity: 0;
        position: absolute;
        background-color: transparent;
        width: 100%;
        height: 30%;
        top: 53%;
        z-index: 10;
        object-fit: cover;

    }
    .grayLayoutDescriptionContainer {
        position: absolute;
        z-index: 9;
        background-color: #171717da;
        width: 100%;
        height: 100%;
        top: 0%;
        left: 0%;
        opacity: 0;
    
    }
    
    .TagNamePerson {
        position: absolute;
        z-index: 100;
        color: white;
        font-weight: bold;
        font-size: 1.3rem;
        font-family: 'Servant', Arial, Helvetica, sans-serif;
       width: 70%;
       height: 20%;
       top: 10%;
       left: 5%;
       text-align: left;
       text-wrap: nowrap;
    }
    
    .StaffDescriptionExitButton {
        position: absolute;
        z-index: 100;
        color: white;
        font-weight: bold;
        font-size: 4.8rem;
        font-family: 'Servant', Arial, Helvetica, sans-serif;
       width: 70%;
       height: 20%;
       top: -15%;
       left: 200%;
       opacity: 0;
       transition: transform .3s ease-in-out;
    
    }
    .StaffDescriptionExitButton:hover {
        transform: scale(1.03);
        color: rgb(0, 166, 255);
    }
    
    .TagRoleText {
        position: absolute;
        z-index: 100;
        color: white;
        font-weight:200;
        font-size: .8rem;
        text-align: left;
        font-family: Arial, Helvetica, sans-serif;
       width: 70%;
       height: 20%;
       top: 28%;
       left: 5%;
       text-wrap: nowrap;
    }
    
    .TagRoleIconType {
        position: absolute;
        z-index: 99;
        width: 15%;
        height: auto;
        max-height: 100%;
        top: 5%;
        left: 80%;
    }
    
    .TagStaffMemberDescription {
        position: absolute;
        z-index: 100;
        color: rgb(171, 171, 171);
        font-weight: lighter;
        font-size: .5rem;
        font-family: 'TW', monospace;
        width: 80%;
        height: 20%;
        top: 50%;
        left: 5%;
    }

    .mobileNextButton2{
        position: absolute;
        z-index: 2147483647;
        opacity: 1;
        top: 200%;
        /*ORIGINAL 50%*/
        left: 85%;
        width: auto;
        height: 6%;
        max-width: 100%;
        object-fit: cover;
        transform: translate(-50%,-50%);
        transition: transform .2s ease;
    }
    

}

