@font-face {
	font-family: "Servant";
	src: url("fonts/the-servant-italic.ttf") format("truetype");
}
@font-face {
    font-family: "TW";
    src: url("fonts/TWFONT/Tw\ Cen\ MT\ Regular.ttf") format("truetype");
}
@font-face {
	font-family: "TW";
	src: url("fonts/TWFONT/Tw\ Cen\ MT\ Regular.ttf") format("truetype");
}
@font-face {
	font-family: "DDay";
	src: url("fonts/FONT/Daddy\ Day.ttf") format("truetype");
}
/*MAIN*/
body,
html {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: black !important;
	overflow: hidden;
	user-select: none;
	position: relative;
}
body {
	cursor: none;
}
@supports (-webkit-overflow-scrolling: touch) {
	body {
		overscroll-behavior-y: none;
	}
}
::-webkit-scrollbar {
	display: none;
}
::-moz-scrollbar {
	display: none;
}
/*ESSENCE*/

.cursorDot {
	position: absolute;
	z-index: 2147483647;
	width: 5px;
	height: 5px;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	pointer-events: none;
	background-color: rgb(233, 233, 233);
}
.blackscreenBlocker {
	position: absolute;
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
	background-color: black;
	z-index: 2147483647;
	opacity: 1;
}

.video-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
	overflow: hidden;
	z-index: 2147483646;
	object-fit: cover;
}

[data-custom="homeMovingItems"] {
	transition: transform 0.3s linear;
}

video {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.ended {
	display: none;
}
/*HOME*/
.FooterContainer p {
	position: absolute;
	color: white;
	font-family: 'TW';
	font-size: 1rem;
	top: 60%;
	font-weight: 100;
	transform: translateX(-50%);
	left: 50%;
	text-align: center;
}
.LogoAndNameFooter {
	position: absolute;
	width: 15%;
	height: 20%;
	transform: translateX(-50%);
	left: 40%;
	display: inline;
	top: 18%;
}

.footerLogo {
	position: absolute;
	width: auto;
	height: 3rem;
	object-fit: cover;
}

.footerEntradoxTitle {
	position: absolute;
	width: 50%;
	height: 50%;
	left: 22%;
	color: rgb(221, 221, 221);
	font-family: 'DDay';
	font-size: 4rem;
	top: -11%;
}

.LogoAndNameFooterMeadowridge {
	position: absolute;
	width: 15%;
	height: 20%;
	transform: translateX(-50%);
	left: 60%;
	top: 18%;
	display: inline;
}

.footerLogoMDR {
	position: absolute;
	width: auto;
	height: 3.2rem;
	object-fit: cover;
}

.footerMeadowridgeTitle {
	position: absolute;
	width: 50%;
	height: 50%;
	left: 20%;
	color: rgb(221, 221, 221);
	font-family: 'DDay';
	font-size: 4rem;
	top: -11%;
}

.thank {
	position: absolute;
	font-family: 'TW';
	font-size: 1rem;
	top: 50%;
	transform: translateX(-50%);
	left: 50%;
	color: rgb(113, 113, 113);
}

.thank img {
	position: absolute;
	width: auto;
	height: 200%;
	object-fit: cover;
	transform: translateY(-50%);
	top: 50%;
	opacity: 0.5;
}

.footerTopHighlight {
	width: 100%;
	height: .1px;
	background-color: #00aaff;
}

.footerTopHighlight2 {
	width: 20%;
	height: .1px;
	background-color: #ffa200;
}

.preloader-bar,
.preloader-bar2 {
	position: absolute;
	height: 2px;
	width: 50%;
	z-index: 2147483647;
	top: 70%;
	transform: translate(-50%, -50%);
	left: 50%;
}

.preloader-bar {
	background-color: #c9c9c9;
	width: 100%;
}

.preloader-bar2 {
	width: 0%;
	background-color: #00aaff;
	transition: all 300ms;
}

#canvas {
	position: absolute;
	z-index: 1;
	opacity: 0;
}

#canvas2 {
	z-index: 1;
	position: absolute;
	opacity: 0;
}

.homeBGContainer {
	position: absolute;
	height: 110%;
	width: 110%;
	max-width: 104%;
	max-height: 104%;
	z-index: 1;
}

.loadingTextIndicator {
	position: absolute;
	opacity: 1;
	font-family: 'Cinzel', serif;
	z-index: 201;
	letter-spacing: .1rem;
	font-size: 1.5rem;
	opacity: 1;
	color: rgb(255, 255, 255);
	transform: translate(-50%, -50%);
	left: 50%;
	top: 68%;
	object-fit: cover;
	text-wrap: nowrap;
}

.particle-frame {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 0, 0, 0);
	z-index: 10;
	top: 0%;
}

.particle-frame2 {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 0, 0, 0);
	z-index: 2;
}

.homeLabel {
	position: absolute;
	opacity: 1;
	font-family: 'TW', Arial, Helvetica, sans-serif;
	z-index: 201;
	letter-spacing: .1rem;
	font-size: 1rem;
	opacity: 1;
	color: rgb(164, 164, 164);
	text-align: right;
	top: 90%;
	left: 90%;
	object-fit: cover;
	text-wrap: nowrap;
}

.entradoxNameLabel {
	position: absolute;
	opacity: 1;
	font-family: 'TW', Arial, Helvetica, sans-serif;
	z-index: 201;
	letter-spacing: .1rem;
	text-align: right;
	font-size: 1rem;
	opacity: 1;
	color: rgb(164, 164, 164);
	top: 2%;
	left: 85%;
	object-fit: cover;
	text-wrap: nowrap;
}

.homeBackgroundRender {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
	object-fit: cover;
	filter: brightness(110%);
	-webkit-filter: brightness(110%);
}

.cursor {
	position: absolute;
	z-index: 2147483647;
	width: 40px;
	height: 40px;
	border: 1px solid #bbbbbb;
	border-radius: 50%;
	pointer-events: none;
	transform: translate(-50%, -50%);
	background-color: transparent;
	transition: all .0125s linear;
}

#smokeEffectHome {
	position: absolute;
	z-index: 2;
	width: 130%;
	height: 130%;
	opacity: 0.15;
	top: -15%;
	left: -30%;
	object-fit: cover;
	transform: rotateY(180deg) scaleY(.2);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
}

.icon-scroll,
.icon-scroll:before {
	position: absolute;
	z-index: 10;
	left: 6%;
}

.icon-scroll {
	width: 40px;
	height: 70px;
	margin-left: -20px;
	top: 88%;
	margin-top: -35px;
	box-shadow: inset 0 0 0 1px #fff;
	border-radius: 25px;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-name: iconShiftDown;
}

.icon-scroll-text {
	position: absolute;
	opacity: 1;
	z-index: 10;
	width: 40rem;
	margin-left: 4rem;
	margin-top: 50%;
	color: rgb(179, 179, 179);
	font-family: 'TW', Arial, sans-serif;
	font-weight: lighter;
	font-size: 1.3rem;
	letter-spacing: .2rem;
}

.icon-scroll:before {
	content: '';
	width: 8px;
	height: 8px;
	background: #fff;
	margin-left: -4px;
	top: 8px;
	left: 50%;
	border-radius: 4px;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-name: scroll;
}

@keyframes scroll {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		transform: translateY(46px);
	}
}

@keyframes iconShiftDown {
	0% {
		transform: translateY(-10%);
	}

	50% {
		transform: translateY(0%);
	}

	100% {
		transform: translateY(-10%);
	}
}

.MDRTeamSymbol {
	position: absolute;
	opacity: 1;
	object-fit: cover;
	width: auto;
	height: 25%;
	max-width: 100%;
	max-height: 100%;
	transition: all .1s linear;
	background-color: transparent;
	z-index: 101;
	top: 48%;
	left: 25%;
}

.containerBottomLeftTextMOBILE {
	position: absolute;
	opacity: 0;
}

.fullOpacity {
	background-color: rgb(0, 179, 255) !important;
	;
	transition: all 0.4s ease;
}

.arrowHighlighted {
	position: absolute;
	padding-top: 2.5%;
	padding-left: 15%;
	opacity: 1;
	z-index: 1;
	width: 8rem;
	height: 0.5rem;
	background-color: transparent;
	box-sizing: border-box;
}

.upDownMobileLine {
	animation: moveUpDownMobile 12s ease-in-out infinite;
}

.backgroundScale {
	animation: backgroundScale 12s ease-in-out infinite;
}

@keyframes backgroundScale {
	0% {
		transform: scale(1);
		left: 0%;
	}

	50% {
		transform: scale(1.02);
		left: -2%;
	}

	80% {
		transform: scale(1.03);
		left: 2%;
	}

	100% {
		left: 0%;
		transform: scale(1);
	}
}

.HB {
	position: absolute;
	z-index: 2147483647;
	padding-top: .4%;
	padding-left: .5%;
	width: 2.3%;
	height: 3.6%;
	max-width: 2.3%;
	max-height: 3.6%;
	filter: saturate(70%);
	filter: contrast(90%);
	filter: grayscale(1000%);
	filter: brightness(0%)
}

.trTitle {
	background-color: transparent;
	z-index: 2147483647;
	width: 12%;
	height: 4%;
	position: absolute;
	top: .5%;
	left: 87.5%;
}

.mobileBackgroundHome {
	opacity: 0;
}

.rlb {
	position: absolute;
	z-index: 90;
	padding-top: 8%;
	padding-left: 60%;
	width: 45%;
	height: 64%;
	max-width: 45%;
	max-height: 64%;
	filter: contrast(400%);
}

.bl {
	opacity: 0;
	position: absolute;
	z-index: 5;
	padding-top: 11%;
	padding-left: 55%;
	width: 37%;
	height: 56%;
	max-width: 37%;
	max-height: 56%;
}

.homeBGContainer {
	position: absolute;
	z-index: 1;
	height: 110%;
	width: 110%;
	max-width: 104%;
	max-height: 104%;
}

.containerforMobileAssets {
	position: absolute;
	opacity: 1;
	height: 100%;
	width: 100%;
	z-index: 1;
}
.staffMobileTextSide {
	display: none;
}
.mobile_title {
	position: absolute;
	font-family: 'DDay', Arial, Helvetica, sans-serif;
	z-index: 201;
	font-size: 8rem;
	opacity: 1;
	color: rgb(222, 222, 222);
	top: 25%;
	left: 1.5%;
	object-fit: cover;
	text-wrap: nowrap;
	transition: all .15s linear;
	width: 100%;
}

.containerBottomLeft {
	position: absolute;
	top: 40%;
	left: 2%;
	z-index: 1;
	width: 50%;
	height: 30rem;
	max-width: 40rem;
	max-height: 30rem;
	background-color: transparent;
}

.mascotIcon {
	position: absolute;
	width: 31%;
	height: 31%;
	top: -60%;
	left: -7%;
	object-fit: contain;
	z-index: 100;
}

.mobile_titleDATE {
	position: absolute;
	font-family: 'DDay', Arial, Helvetica, sans-serif;
	z-index: 101;
	font-size: 1.5rem;
	opacity: 1;
	color: rgb(222, 222, 222);
	top: 22.5%;
	letter-spacing: 3rem;
	left: 11%;
	object-fit: cover;
	text-wrap: nowrap;
	width: 100%;
	-webkit-text-size-adjust: 100%;
}

.containerBottomLeftText {
	position: absolute;
	z-index: 10;
	left: 0%;
	top: -8%;
	font-family: 'TW', monospace;
	font-size: 1.2rem;
	letter-spacing: .1rem;
	color: rgb(222, 222, 222);
	font-weight: lighter;
	opacity: 1;
	object-fit: cover;
}

.barForSideOfContainer {
	position: absolute;
	top: 50%;
	background-color: rgba(0, 157, 255, 0);
	height: 60%;
	width: 0.3%;
}

.barForSideOfContainer2 {
	position: absolute;
	top: 30%;
	background-color: white;
	height: 15%;
	width: 0.5%;
}

.movingWarningUnderline {
	position: absolute;
	width: 100%;
	height: 100%;
	max-width: 40%;
	max-height: 40%;
	top: 40%;
	left: 43%;
	opacity: 0.5;
	transform: translate(-50%, -50%) rotate(90deg);
}

.nestedContainer {
	position: absolute;
	z-index: 1;
	width: 87%;
	height: 15%;
	left: 4%;
	top: 5%;
	background-color: transparent;
	overflow: hidden;
	white-space: pre;
}

.textHeaderContainerHome {
	position: absolute;
	background-color: transparent;
	z-index: 1;
	white-space: nowrap;
	width: auto;
	max-width: 100%;
	object-fit: cover;
}

.headerHorizontalMoveAnim {
	animation: moveText 40s linear infinite;
}

.barForSideOfContainer2 {
	opacity: 0;
}

@keyframes moveText {
	0% {
		transform: translateX(-50%);
	}

	100% {
		transform: translateX(-100%);
	}
}

.bottomLogosHome {
	position: absolute;
	background-color: transparent;
	z-index: 1;
	width: auto;
	height: 15%;
	max-width: 18rem;
	max-height: 8rem;
	top: 55%;
	left: 3.5%;
	object-fit: contain;
	transition: all .2s linear;
}

.movingWarningUnderline2 {
	opacity: 0;
}
/*SECOND IMPORTANCE*/
.menu {
	position: absolute;
	opacity: 0;
	z-index: 2147483646;
	width: 0%;
	height: 5%;
	top: 0%;
	left: 3%;
	flex-wrap: wrap;
	transition: width 0.5s ease-out;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	overflow: hidden;
}

.menuItemContainer {
	flex-direction: row;
	margin-left: 5%;
	display: flex;
	opacity: 1;
}

.AboutUs,
.Staff,
.Robots,
.Sponsor,
.Social,
.homeMenuContainerClass {
	position: relative;
	opacity: 1;
	color: white;
	font-family: 'TW', sans-serif;
	font-weight: 600;
	font-size: 1.1rem;
	background-color: transparent;
	margin: 0;
	padding: 0;
	white-space: nowrap;
	transition: color, .2s linear;
}

.fadeInTheMenu {
	animation: fadeInTheMenu .4s ease-out;
}

@keyframes fadeInTheMenu {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.fadeOutTheMenu {
	animation: fadeOutTheMenu .4s ease-in;
}

@keyframes fadeOutTheMenu {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.MenuButtonContainer {
	position: absolute;
	top: .8%;
	left: .2%;
	z-index: 2147483647;
	background-color: transparent;
	width: 5rem;
	height: 5rem;
	max-width: 5rem;
	max-height: 5rem;
}

.MenuButtonTop,
.MenuButtonBottom,
.MenuButtonMiddle {
	transition: all .5s ease;
	background-color: rgb(255, 255, 255);
	height: 3.5%;
	width: 40%;
	position: absolute;
	left: 10%;
}

.MenuButtonTop {
	top: 10%;
}

.MenuButtonMiddle {
	top: 20%;
}

.MenuButtonBottom {
	top: 30%;
}

.sectionWrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	transition: all 0.3s ease-in-out;
}

#page1 {
	top: 0%;
	object-fit: contain;
}

#page2 {
	top: 100%;
	object-fit: contain;
}

#page3 {
	top: 200%;
	object-fit: contain;
}

#page4 {
	top: 300%;
	object-fit: contain;
}

#page5 {
	top: 400%;
	object-fit: contain;
}

#page6 {
	top: 500%;
	object-fit: contain;
}

#page7 {
	top: 100%;
	object-fit: contain;
	transition: all 0.5s ease-out;
}

.FooterContainer {
	position: absolute;
	z-index: 214748365;
	background-color: rgb(5, 5, 5);
	width: 100%;
	height: 25%;
}

@keyframes content-opener {
	0% {
		width: 3.4;
	}

	100% {
		width: 100%;
	}
}

@keyframes fadeInUniversal {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fadeInUniversalSmoke {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 0.15;
	}
}

@keyframes SmokeInUniversal {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 0.2;
	}
}

@keyframes fadeOutUniversal {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes moveUpDown {

	0%,
	10%,
	50%,
	60%,
	70%,
	100% {
		opacity: 1;
		transform: translateY(5%);
	}

	20%,
	30%,
	40%,
	80%,
	90% {
		transform: translateY(-5%);
	}
}

@keyframes moveUpDown2 {

	0%,
	10%,
	50%,
	60%,
	70%,
	100% {
		opacity: 1;
		transform: translateY(30%);
	}

	20%,
	30%,
	40%,
	80%,
	90% {
		transform: translateY(-30%);
	}
}

@keyframes moveUpDown3 {
	0% {
		transform: translateY(0%);
	}

	50% {
		transform: translateY(5%);
	}

	100% {
		transform: translateY(0%);
	}
}

@keyframes moveUpDownBlue {

	0%,
	10%,
	20%,
	30%,
	60%,
	70%,
	100% {
		opacity: 1;
		transform: translateY(-8%);
	}

	40%,
	50%,
	80%,
	90% {
		opacity: 1;
		transform: translateY(8%);
	}
}

@keyframes flutter {
	0% {
		filter: brightness(100%)
	}

	50% {
		filter: brightness(200%);
	}

	100% {
		filter: brightness(100%);
	}
}

@keyframes flutterS {
	0% {
		filter: brightness(100%)
	}

	50% {
		filter: brightness(150%);
	}

	100% {
		filter: brightness(100%);
	}
}

@keyframes circularShake {
	0% {
		transform: translate(0%, 0%);
	}

	20% {
		transform: translate(5%, 5%);
	}

	40% {
		transform: translate(5%, -5%);
	}

	60% {
		transform: translate(-5%, 5%);
	}

	80% {
		transform: translate(-5%, -5%);
	}

	100% {
		transform: translate(0%, 0%);
	}
}

@keyframes circularShake2 {
	0% {
		transform: translate(0%, 0%);
	}

	20% {
		transform: translate(-5%, -5%);
	}

	40% {
		transform: translate(5%, -5%);
	}

	60% {
		transform: translate(-5%, 5%);
	}

	90% {
		transform: translate(-5%, -5%);
	}

	100% {
		transform: translate(0%, 0%);
	}
}

@keyframes moveUpDownS {

	0%,
	10%,
	50%,
	60%,
	70%,
	100% {
		transform: translateY(3%);
	}

	20%,
	30%,
	40%,
	80%,
	90% {
		transform: translateY(-3%);
	}
}

@keyframes moveUpDown2S {

	0%,
	10%,
	50%,
	60%,
	70%,
	100% {
		transform: translateY(15%);
	}

	20%,
	30%,
	40%,
	80%,
	90% {
		transform: translateY(-15%);
	}
}

@keyframes TS {

	0%,
	10%,
	50%,
	60%,
	70%,
	100% {
		transform: translateY(2%);
	}

	20%,
	30%,
	40%,
	80%,
	90% {
		transform: translateY(-2%);
	}
}

@keyframes evaporateNewStaff {
	0% {
		transform: translateX(0%);
		opacity: 1;
	}

	10% {
		opacity: 0;
	}

	20% {
		opacity: 1;
	}

	30% {
		opacity: 0;
	}

	40% {
		opacity: 1;
	}

	100% {
		transform: translateX(-20%);
		opacity: 0;
	}
}

@keyframes unevaporateNewStaff {
	0% {
		transform: translateX(-20%);
		opacity: 0;
	}

	10% {
		opacity: 1;
	}

	20% {
		opacity: 0;
	}

	30% {
		opacity: 1;
	}

	40% {
		opacity: 0;
	}

	100% {
		transform: translateX(0%);
		opacity: 1;
	}
}

@keyframes displayOnFlicker {
	0% {
		left: 25%;
		opacity: 0;
	}

	3% {
		opacity: 0;
	}

	6% {
		opacity: 1;
	}

	9% {
		opacity: 0;
	}

	11% {
		opacity: 1;
	}

	14% {
		opacity: 0;
	}

	80% {
		left: 30%;
	}

	100% {
		opacity: 1;
		left: 30%;
	}
}

@keyframes displayOnFlickerShadow {
	0% {
		left: 10%;
		opacity: 0;
	}

	3% {
		opacity: 0;
	}

	6% {
		opacity: 1;
	}

	9% {
		opacity: 0;
	}

	11% {
		opacity: 1;
	}

	14% {
		opacity: 0;
	}

	80% {
		left: 15%;
	}

	100% {
		opacity: 1;
		left: 15%;
	}
}

@keyframes displayOffFlicker {
	0% {
		left: 30%;
		opacity: 0;
	}

	3% {
		opacity: 1;
	}

	6% {
		opacity: 0;
	}

	9% {
		opacity: 1;
	}

	11% {
		opacity: 0;
	}

	14% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	80% {
		left: 25%;
	}

	100% {
		opacity: 0;
	}
}

@keyframes displayOffFlickerShadow {
	0% {
		left: 15%;
		opacity: 0;
	}

	3% {
		opacity: 1;
	}

	6% {
		opacity: 0;
	}

	9% {
		opacity: 1;
	}

	11% {
		opacity: 0;
	}

	14% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	80% {
		left: 10%;
	}

	100% {
		opacity: 0;
	}
}

@keyframes flickerInText {
	0% {
		left: 78%;
		opacity: 0;
	}

	3% {
		opacity: 0;
	}

	6% {
		opacity: 1;
	}

	9% {
		opacity: 0;
	}

	11% {
		opacity: 1;
	}

	14% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	80% {
		left: 81%;
	}

	100% {
		opacity: 1;
		left: 81%;
	}
}

@keyframes flickerOutText {
	0% {
		left: 81%;
		opacity: 0;
	}

	3% {
		opacity: 1;
	}

	6% {
		opacity: 0;
	}

	9% {
		opacity: 1;
	}

	11% {
		opacity: 0;
	}

	14% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	80% {
		left: 78%;
	}

	100% {
		opacity: 0;
		left: 78%;
	}
}

@keyframes slideInStaffDesc {
	0% {
		left: 82%;
		opacity: 0;
	}

	100% {
		left: 84%;
		opacity: 1;
	}
}

@keyframes slideOutStaffDesc {
	0% {
		left: 84%;
		opacity: 1;
	}

	100% {
		left: 82%;
		opacity: 0;
	}
}

@keyframes staffContainerSlideIn {
	0% {
		left: 47%;
		opacity: 0;
	}

	100% {
		left: 53%;
		opacity: 1;
	}
}

@keyframes staffContainerSlideOut {
	0% {
		left: 84%;
		opacity: 1;
	}

	100% {
		left: 82%;
		opacity: 0;
	}
}

@keyframes headlineFlickerInText {
	0% {
		left: 40%;
		opacity: 0;
	}

	3% {
		opacity: 0;
	}

	6% {
		opacity: 1;
	}

	9% {
		opacity: 0;
	}

	11% {
		opacity: 1;
	}

	14% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	80% {
		left: 50%;
	}

	100% {
		opacity: 1;
		left: 50%;
	}
}

@keyframes headlineFlickerOutText {
	0% {
		left: 50%;
		opacity: 0;
	}

	3% {
		opacity: 1;
	}

	6% {
		opacity: 0;
	}

	9% {
		opacity: 1;
	}

	11% {
		opacity: 0;
	}

	14% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	80% {
		left: 78%;
	}

	100% {
		opacity: 0;
		left: 40%;
	}
}

@keyframes xbuttonFlicker {
	0% {
		opacity: 0;
	}

	3% {
		opacity: 1;
	}

	6% {
		opacity: 0;
	}

	9% {
		opacity: 1;
	}

	11% {
		opacity: 0;
	}

	14% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes xbuttonFlickerOut {
	0% {
		opacity: 1;
	}

	3% {
		opacity: 0;
	}

	6% {
		opacity: 1;
	}

	9% {
		opacity: 0;
	}

	11% {
		opacity: 1;
	}

	14% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.fadeIn {
	animation: fadeInUniversal 2s ease-in-out forwards;
}

.fadeInSM {
	animation: fadeInUniversalSmoke 2s ease-in-out forwards;
}

.fadeOut {
	animation: fadeInUniversal 1s ease-in-out reverse;
}

.smokeFade {
	animation: fadeOutUniversal 1s linear forwards;
}

.smokeFadeIn {
	animation: SmokeInUniversal 1s linear forwards;
}

.shake {
	animation: moveUpDown 10s ease-in-out infinite;
}

.shake2 {
	animation: moveUpDown2 10s ease-in-out infinite;
}

.shakeSmall {
	animation: moveUpDownS 15s ease-in-out infinite;
}

.shakeSmall2 {
	animation: moveUpDown2S 15s ease-in-out infinite;
}

.textShake {
	animation: TS 15s ease-in-out infinite;
}

.shake3 {
	animation: moveUpDown3 10s ease-in-out infinite;
}

.shake_blue {
	animation: moveUpDownBlue 5s ease-out infinite;
}

.circularShake {
	animation: circularShake 10s ease-in-out infinite;

}

.circularShake2 {
	animation: circularShake2 10s ease-in infinite;
}

.flutter {
	animation: flutter 3s ease-in-out infinite;
}

.flutterS {
	animation: flutterS 3s ease-in-out infinite;
}

.anim_open {
	animation: content-opener .5s ease-in forwards;
}

.anim_close {
	animation: content-opener .5s ease-out reverse;
}

.evaporateNewStaff {
	animation-name: evaporateNewStaff;
	animation-duration: .5s;
}

.unevaporateNewStaff {
	animation-name: unevaporateNewStaff;
	animation-duration: .5s;
}

[id="Aasha Askew"],
[id="Daniel Ashtiani"],
[id="Hari Baidwan"],
[id="Liam Bradley"],
[id="Aella Gong"],
[id="Nicole Zhang"],
[id="Amy Xu"],
[id="Oliver Low"],
[id="Derek Lee"],
[id="Andy Xu"] {
	transition: transform, color, .1s linear;
}

.iconHoverClass {
	transform: scale(1.17) translateX(-12%);
}

[id="Aasha Askew"]:hover {
	transform: scale(1.1);
	color: rgb(255, 200, 0);
}

[id="Daniel Ashtiani"]:hover {
	transform: scale(1.1);
	color: rgb(255, 200, 0);
}

[id="Hari Baidwan"]:hover {
	transform: scale(1.1);
	color: rgb(0, 136, 255);
}

[id="Liam Bradley"]:hover {
	transform: scale(1.1);
	color: rgb(0, 136, 255);
}

[id="Aella Gong"]:hover {
	transform: scale(1.1);
	color: rgb(0, 136, 255);
}

[id="Nicole Zhang"]:hover {
	transform: scale(1.1);
	color: rgb(0, 136, 255);
}

[id="Amy Xu"]:hover {
	transform: scale(1.1);
	color: rgb(0, 136, 255);
}

[id="Oliver Low"]:hover {
	transform: scale(1.1);
	color: rgb(0, 136, 255);
}

[id="Derek Lee"]:hover {
	transform: scale(1.1);
	color: rgb(0, 136, 255);
}

[id="Andy Xu"]:hover {
	transform: scale(1.1);
	color: rgb(0, 136, 255);
}

#ContainerForStaffDescriptionBodyID {
	opacity: 0;
}

.displayOnFlicker {
	animation-name: displayOnFlicker;
	animation-duration: 1s;
}

.displayOnFlickerShadow {
	animation-name: displayOnFlickerShadow;
	animation-duration: 1s;
}

.displayOffFlicker {
	animation-name: displayOffFlicker;
	animation-duration: 1s;
}

.displayOffFlickerShadow {
	animation-name: displayOffFlickerShadow;
	animation-duration: 1s;
}

.flickerInText {
	animation-name: flickerInText;
	animation-duration: 1s;
}

.flickerOutText {
	animation-name: flickerOutText;
	animation-duration: 1s;
}

.slideInStaffDesc {
	animation-name: slideInStaffDesc;
	animation-duration: 1s;
}

.slideOutStaffDesc {
	animation-name: slideOutStaffDesc;
	animation-duration: 1s;
}

.staffContainerSlideIn {
	animation-name: staffContainerSlideIn;
	animation-duration: 1s;
}

.staffContainerSlideOut {
	animation-name: staffContainerSlideOut;
	animation-duration: 1s;
}

.headlineFlickerInText {
	animation-name: headlineFlickerInText;
	animation-duration: 1s;
}

.headlineFlickerOutText {
	animation-name: headlineFlickerOutText;
	animation-duration: 1s;
}
.xbuttonFlicker {
	animation-name: xbuttonFlicker;
	animation-duration: 1s;
}
.xbuttonFlickerOut {
	animation-name: xbuttonFlickerOut;
	animation-duration: 1s;
}
h1 {
	position: absolute;
	opacity: 0;
}
h2 {
	position: absolute;
	opacity: 0;
}
nav {
	position: absolute;
	left: -9999px;
}
/*ROBOTS*/
.robotsPageLabel {
	position: absolute;
	opacity: 1;
	font-family: 'TW', Arial, Helvetica, sans-serif;
	z-index: 201;
	letter-spacing: .1rem;
	font-size: 1rem;
	opacity: 1;
	color: rgb(164, 164, 164);
	top: 95%;
	left: 92%;
	object-fit: cover;
	text-wrap: nowrap;
}
.robotsHeader {
	position: absolute;
	opacity: 1;
	font-family: 'TW', Arial, Helvetica, sans-serif;
	z-index: 201;
	letter-spacing: .1rem;
	font-size: 1rem;
	opacity: 1;
	color: rgb(164, 164, 164);
	top: 2%;
	left: 87%;
	object-fit: cover;
	text-wrap: nowrap;
}
.robot-model-container {
	position: absolute;
	width: 100%;
	height: 100%;
	left: -23% !important;
	top: 5%;
	transition: all .1s linear;
	z-index: 100;
}
.robot-name {
	position: absolute;
	font-family: 'TW', Arial, Helvetica, sans-serif;
	font-size: 6rem;
	color: #00A2FF;
	font-weight: bold;
	letter-spacing: 2rem;
	left: 55%;
	transition: all .13s linear;
	top: 24%;
	text-wrap: nowrap;
	z-index: 10;
}
.robot-name-outline {
	position: absolute;
	font-family: 'TW', Arial, Helvetica, sans-serif;
	font-size: 6rem;
	font-weight: normal;
	letter-spacing: 1.7rem;
	left: 55%;
	top: 34%;
	width: 200%;
	color: transparent;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 1px rgb(0, 145, 255);
	transition: all .2s linear;
	z-index: 10;
	text-wrap: nowrap;
}
.robot-name-outline2 {
	position: absolute;
	font-family: 'TW', Arial, Helvetica, sans-serif;
	font-size: 6rem;
	font-weight: normal;
	letter-spacing: 1.7rem;
	left: 55%;
	top: 14%;
	width: 100%;
	color: transparent;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 1px rgb(0, 145, 255);
	transition: all .2s linear;
	z-index: 10;
	text-wrap: nowrap;
}
.robot-description {
	position: absolute;
	font-family: 'TW', Arial, Helvetica, sans-serif;
	font-size: 1.8rem;
	font-weight: lighter;
	left: 55%;
	top: 47%;
	width: 38%;
	z-index: 4;
	text-align: left;
	color: white;
	line-height: 120%;
	transition: all .1s linear;
}

/*STAFF*/
.adding-pic-soon {
	position: absolute;
	background-color: rgba(0, 0, 0, 0);
	opacity: 0;
	width: 20%;
	height: 10%;
	z-index: 10000;
	color: white;
	font-size: 2rem;
	transform: translate(-50%, -50%);
	left: 30%;
	top: 50%;
	font-family: 'TW', Arial, Helvetica, sans-serif;
}

.staffPanelContainer {
	position: absolute;
	z-index: 2147483647;
	width: 40%;
	height: 85%;
	left: 0%;
	top: 14%;
	object-fit: cover;
	transform: translate(-50%, -50%);
	background-color: rgba(255, 255, 255, 0);
	transition: transform .3s linear;
}

.CurrentStaffList {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 255, 0);
	margin-top: 5%;
	left: 0%;
	top: 0%;
}

.StaffDisplayList {
	position: absolute;
	background-color: rgba(255, 166, 0, 0);
	display: flex;
	flex-wrap: wrap;
	object-fit: cover;
	flex-direction: column;
	height: 100%;
	width: 23%;
	left: 15%;
	z-index: 2147483646;
	top: 0%;
}

.displayNames {
	position: relative;
	margin-top: 17.3%;
	font-family: 'TW', Arial, Helvetica, sans-serif;
	letter-spacing: .3rem;
	font-weight: normal;
	color: white;
	font-size: 40px;
	background-color: rgba(0, 255, 255, 0);
	margin-left: 13%;
}

.StaffDisplayListIcons {
	position: absolute;
	display: flex;
	opacity: 1;
	flex-wrap: wrap;
	height: 100%;
	object-fit: cover;
	flex-direction: column;
}

#CurrentStaffList-Engineer {
	display: inline;
}

.staffPanelBarTopMenu {
	position: absolute;
	display: flex;
	flex-wrap: wrap;
	margin-top: 0px;
	width: 50%;
	height: 10%;
	left: 8%;
	top: -8%;
	background-color: rgba(255, 0, 0, 0);
}

.displayNamesIconsLeft {
	position: absolute;
	background-color: rgba(255, 0, 0, 0);
	display: flex;
	flex-wrap: wrap;
	object-fit: cover;
	flex-direction: column;
	height: 100%;
	width: 100%;
	left: 10%;
	top: 0%;
}

.displayNameIconTestLeft {
	position: relative;
	background-color: rgba(255, 166, 0, 0);
	height: 2.7rem;
	object-fit: cover;
	width: 2.7rem;
	margin-top: 4%;
	transition: transform, color, .1s linear;
}

.staffPanelRole {
	list-style-type: none;
	margin: .1rem;
	opacity: 1;
	padding: 10px;
	font-family: 'TW', Arial, Helvetica, sans-serif;
	letter-spacing: .2rem;
	font-size: 3rem;
	font-weight: bold;
	background-color: rgba(0, 0, 255, 0);
	color: rgb(208, 208, 208);
}

.staffPageLabel {
	position: absolute;
	opacity: 1;
	font-family: 'TW', Arial, Helvetica, sans-serif;
	z-index: 201;
	letter-spacing: .1rem;
	font-size: 1rem;
	opacity: 1;
	color: rgb(164, 164, 164);
	top: 95%;
	left: 92%;
	object-fit: cover;
	text-wrap: nowrap;
}

.staffPageNameLabel {
	position: absolute;
	opacity: 1;
	font-family: 'TW', Arial, Helvetica, sans-serif;
	z-index: 201;
	letter-spacing: .1rem;
	font-size: 1rem;
	opacity: 1;
	color: rgb(164, 164, 164);
	top: 2%;
	left: 88%;
	object-fit: cover;
	text-wrap: nowrap;
}

.Stylizer {
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100%;
	opacity: .04;
}

.ContainerForStaffDescriptionBody {
	position: absolute;
	z-index: 10;
	background-color: rgba(255, 0, 0, 0);
	width: 90%;
	height: 90%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.HumanBody-Image {
	position: absolute;
	transform: translate(-50%, -50%);
	width: auto;
	height: 100%;
	left: 30%;
	top: 50%;
	object-fit: cover;
	z-index: 12;
}

.HumanBody-ImageShadow {
	position: absolute;
	transform: translate(-50%, -50%);
	width: auto;
	height: 100%;
	left: 13%;
	top: 50%;
	object-fit: cover;
	opacity: 1;
	z-index: 11;
}

.StaffMemberHeadlineContainer {
	background-color: rgba(0, 140, 255, 0);
	position: absolute;
	transform: translate(-50%, -50%);
	width: 115%;
	height: 30%;
	left: 50%;
	top: 20%;
	z-index: 9;
}

.HeadlineContainerPicture {
	width: 120%;
	height: 100%;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 45%;
	object-fit: cover;
	position: absolute;
	opacity: 0;
}

.AnimatableSqaureForHeadline {
	background-color: rgba(0, 0, 0, 0);
	position: absolute;
	transform: translate(-50%, -50%);
	width: 22%;
	height: 150%;
	left: 12.5%;
	top: 26%;
	z-index: 101;
}

.staffPageStaffContentXButton {
	position: absolute;
	font-weight: bold;
	font-size: 2.5rem;
	font-family: 'Servant', Arial, Helvetica, sans-serif;
	color: white;
	left: 90%;
	top: 40%;
	z-index: 2147483647;
	background-color: rgba(102, 51, 153, 0);
	transition: transform .15s linear;
}

#staffPageStaffContentXButtonID {
	opacity: 0;
}

.staffPageStaffContentXButton:hover {
	transform: scale(1.2);
}

.StaffMemberHeadlineContainer-Name {
	position: absolute;
	z-index: 2147483647;
	color: rgb(230, 230, 230);
	font-weight: bold;
	font-size: 2rem;
	font-family: 'TW', Arial, Helvetica, sans-serif;
	width: 70%;
	height: 20%;
	top: 120%;
	letter-spacing: 2PX;
	transform: translate(-50%, -50%);
	left: 80%;
	text-wrap: nowrap;
	transition: transform .3s ease-in-out;
}

.StaffMemberHeadlineContainer2 {
	position: absolute;
	transform: translate(-50%, -50%);
	z-index: 100;
	color: rgba(186, 186, 186, 0.019);
	font-weight: bold;
	font-size: 11rem;
	font-family: 'Servant', Arial, Helvetica, sans-serif;
	width: 100%;
	height: 100%;
	top: 100%;
	left: 50%;
	text-align: center;
	text-align: center;
}

.MainRoleIconBehindImage {
	position: absolute;
	width: auto;
	height: 65%;
	left: 73%;
	top: 75%;
	opacity: 0;
	transform: translate(-50%, -50%);
	z-index: 1;
}

.StaffLabelOnContainerForDesc {
	position: absolute;
	background-color: rgba(255, 166, 0, 0);
	width: 100%;
	height: 80%;
	top: 60%;
	left: 53%;
	z-index: 1;
	transform: translate(-50%, -50%);
	color: rgb(13, 13, 13);
}

.VerticleDownRect {
	position: absolute;
	width: 3px;
	height: 50%;
	z-index: 50;
	transform: translate(-50%, -50%);
	left: 97%;
	top: 50%;
	background-color: rgb(171, 171, 171);
}

.StaffLabelOnContainerForDesc p {
	position: absolute;
	transform: translate(-50%, -50%);
	font-weight: bold;
	font-size: 1rem;
	left: -2.5%;
	top: 0%;
	text-align: left;
	font-family: 'Servant', Arial, Helvetica, sans-serif;
}

.ImageForStaffLabelOnContainer {
	position: absolute;
	transform: translate(-50%, -50%);
	width: auto;
	height: 8%;
	left: -3.8%;
	top: 13%;
	filter: brightness(10%);
	object-fit: cover;
	z-index: 15;
}

.ContainerForStaffDescriptionText {
	position: absolute;
	background-color: rgba(72, 0, 255, 0);
	transform: translate(-50%, -50%);
	width: 80%;
	height: 60%;
	left: 83%;
	top: 73%;
	z-index: 20;
	text-align: left;
}

.mobileVersionStaffList {
	opacity: 0;
}

.ContainerForStaffDescriptionTextContent {
	position: absolute;
	font-size: 1.1rem;
	font-weight: normal;
	transform: translate(-50%, -50%);
	left: 34.8%;
	color: rgb(199, 199, 199);
	top: 38%;
	font-family: 'Servant', Arial, Helvetica, sans-serif;
}

.ContainerForStaffDescriptionTextContent2 {
	position: absolute;
	font-size: 1.1rem;
	font-weight: normal;
	transform: translate(-50%, -50%);
	left: 34.8%;
	color: rgb(199, 199, 199);
	top: 58%;
	font-family: 'Servant', Arial, Helvetica, sans-serif;
}

.LineThroughTopExtend {
	position: relative;
	transform: translate(-50%, -50%);
	width: 90%;
	height: 3px;
	left: 15%;
	top: 30%;
	z-index: 0;
	background-color: rgb(0, 145, 213);
}

.StaffRoleTextDisplay {
	position: absolute;
	font-family: 'Servant', Arial, Helvetica, sans-serif;
	font-size: 2rem;
	font-weight: bold;
	transform: translate(-50%, -50%);
	color: rgb(255, 200, 0);
	z-index: 50;
	left: 52%;
	text-align: left;
	background-color: rgba(0, 255, 255, 0);
	top: 20%;
	width: 100%;
}

.StaffRoleTextDisplayText {
	position: absolute;
	font-family: 'Servant', Arial, Helvetica, sans-serif;
	font-size: 1rem;
	font-weight: lighter;
	transform: translate(-50%, -50%);
	left: 4%;
	top: 10%;
	color: rgb(226, 226, 226);
	z-index: 50;
}

.StaffRoleTextDisplay2 {
	position: absolute;
	font-family: 'Servant', Arial, Helvetica, sans-serif;
	font-size: 2rem;
	font-weight: bold;
	transform: translate(-50%, -50%);
	color: rgb(203, 203, 203);
	z-index: 50;
	left: 89%;
	top: 20%;
	width: 100%;
	background-color: rgba(0, 255, 255, 0);
}

.StaffRoleTextDisplayText2 {
	position: absolute;
	font-family: 'Servant', Arial, Helvetica, sans-serif;
	font-size: 1rem;
	font-weight: lighter;
	transform: translate(-50%, -50%);
	left: 43%;
	top: 10%;
	color: rgb(226, 226, 226);
	z-index: 50;
}

.FadedBackgroundForContainer {
	position: absolute;
	z-index: 1;
	background: rgba(35, 35, 35, 0);
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0;
}

/*CONTACTS*/
.rankingContainer {
	position: absolute;
	z-index: 214748364;
	background-color: transparent;
	width: auto;
	height: 100%;
	transition: transform 0.3s linear;
	top: 10%;
	left: 40%;
}

.instagramContainer {
	position: absolute;
	z-index: 214748364;
	background-color: rebeccapurple;
	width: auto;
	height: 100%;
	transition: transform 0.3s linear;
	top: 70%;
	left: 25%;
}

.tutorialContainer {
	position: absolute;
	z-index: 214748364;
	background-color: transparent;
	width: auto;
	height: 100%;
	transition: transform 0.3s linear;
	top: 10%;
	left: 65%;
}

.mailContainer {
	position: absolute;
	z-index: 214748364;
	background-color: transparent;
	width: auto;
	height: 100%;
	transition: transform 0.3s linear;
	top: 25%;
	left: 8%;

}

.podcastContainer {
	position: absolute;
	z-index: 214748364;
	background-color: transparent;
	width: auto;
	height: 50%;
	transition: transform 0.3s linear;
	top: 60%;
	left: 50%;
	opacity: 1;
}

.schoolContainer {
	position: absolute;
	z-index: 214748364;
	background-color: transparent;
	width: auto;
	height: 100%;
	transition: transform 0.3s linear;
	top: 55%;
	left: 75%;
}

.socialsBackground {
	position: absolute;
	z-index: 1;
	left: 0%;
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
	object-fit: cover;
	top: 300%;
	left: 0;
	opacity: 1;
	image-rendering: optimizeQuality;
	filter: brightness(110%);
	transition: all .5s ease-out;
}

.vignette {
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0 0 10rem rgba(0, 0, 0, 0.9) inset;
}

.rankingItem {
	position: absolute;
	z-index: 214748364;
	transition: all 0.3s linear;
	width: auto;
	height: 20%;
	top: 3%;
	object-fit: cover;
}

.rankingItem:hover {
	transform: scale(1.1) !important;
}

.rankingContainer:hover .rankingTextWrapper {
	opacity: 1;
}

.rankingContainer p {
	transition: all 0.3s linear;
	z-index: 9;
	font-family: 'Courier New', monospace;
	font-size: 2.5em;
	color: white;
	font-weight: normal;
	opacity: 1;
	text-shadow: -.4rem .3rem .25rem rgb(14, 14, 14);
}

.rankingWhiteSquare {
	position: absolute;
	background-color: transparent;
	top: 0%;
	left: -20%;
	width: auto;
	height: 24%;
	transition: transform 0.3s linear;
	filter: brightness(110%);

}

.tutorialItem {
	position: absolute;
	z-index: 214748364;
	transition: all 0.3s linear;
	width: auto;
	height: 25%;
	top: 0%;
	left: 1%;
}

.tutorialItem:hover {
	transform: scale(1.1) !important;
}

.tutorialContainer:hover .tutorialTextWrapper {
	opacity: 1;
	width: 15rem;
}

.tutorialTextWrapper {
	position: absolute;
	top: 55%;
	left: 6%;
	height: 3rem;
	width: 0rem;
	background-color: transparent;
	overflow: hidden;
	transition: all 0.4s linear;
}

.mbOurEmail {
	display: none;
	opacity: 0;
}

.tutorialText {
	position: absolute;
	transition: all 0.3s ease;
	padding-left: 1rem;
	z-index: 9;
	font-family: 'Courier New', monospace;
	font-size: 2.5rem;
	color: white;
	font-weight: normal;
	opacity: 1;
	text-shadow: -.4rem .3rem .25rem rgb(14, 14, 14);
}

.mobileSocials {
	display: none;
	opacity: 0;
}

.tutorialWhiteSquare {
	position: absolute;
	background-color: transparent;
	top: 0%;
	left: 0%;
	width: auto;
	height: 30%;
	transition: transform 0.3s linear;
	filter: brightness(110%);
}

.mailItem {
	position: absolute;
	z-index: 214748364;
	transition: all 0.3s linear;
	width: auto;
	height: 40%;
	top: -6%;
	left: 50%;
}

.mailItem:hover {
	transform: scale(1.1) !important;
}

.mailContainer:hover .mailTextWrapper {
	opacity: 1;
	width: 15rem;
}

.mailTextWrapper {
	position: absolute;
	top: 110%;
	left: 22%;
	height: 3rem;
	width: 0rem;
	background-color: transparent;
	overflow: hidden;
	transition: all 0.4s linear;
}

.mailText {
	position: absolute;
	transition: all 0.3s linear;
	padding-left: 1rem;
	z-index: 9;
	font-family: 'Courier New', monospace;
	font-size: 2.5rem;
	color: white;
	font-weight: normal;
	opacity: 1;
	text-shadow: -.4rem .3rem .25rem rgb(14, 14, 14);
}

.mailWhiteSquare {
	position: absolute;
	background-color: transparent;
	top: 0%;
	left: -10%;
	width: auto;
	height: 43%;
	transition: transform 0.3s linear;
	filter: brightness(110%);
}

.schoolItem {
	position: absolute;
	z-index: 214748364;
	transition: all 0.3s linear;
	width: auto;
	height: 23%;
	top: 7%;
	left: 3%;
}

.schoolItem:hover {
	transform: scale(1.1) !important;
}

.schoolContainer:hover .schoolTextWraper {
	opacity: 1;
	width: 15rem;
}

.schoolTextWraper {
	position: absolute;
	top: 52%;
	left: 15%;
	height: 3rem;
	width: 0rem;
	background-color: transparent;
	overflow: hidden;
	transition: all 0.4s linear;
}

.schoolText {
	position: absolute;
	transition: all 0.3s linear;
	padding-left: 1rem;
	z-index: 9;
	font-family: 'Courier New', monospace;
	font-size: 2.5rem;
	color: white;
	font-weight: normal;
	opacity: 1;
	text-shadow: -.4rem .3rem .25rem rgb(14, 14, 14);
}

.schoolWhiteSquare {
	position: absolute;
	background-color: transparent;
	top: 0%;
	left: 0%;
	width: auto;
	height: 30%;
	transition: transform 0.3s linear;
	filter: brightness(110%);
}

.instagramItem {
	position: absolute;
	z-index: 214748364;
	transition: all 0.3s linear;
	width: auto;
	height: 18%;
	top: 5%;
	left: 8%;
}

.mobileDescriptionText {
	position: absolute;
	top: 200%;
	opacity: 0;
}

.instagramItem:hover {
	transform: scale(1.1) !important;
}

.instagramContainer:hover .instagramTextWrapper {
	opacity: 1;
	width: 15rem;
}

.instagramTextWrapper {
	position: absolute;
	top: 50%;
	left: 0%;
	height: 3rem;
	width: 0rem;
	background-color: transparent;
	overflow: hidden;
	transition: all 0.4s linear;
}

.instagramText {
	position: absolute;
	transition: all 0.3s linear;
	padding-left: 1rem;
	z-index: 9;
	font-family: 'Courier New', monospace;
	font-size: 2.5rem;
	color: white;
	font-weight: normal;
	opacity: 1;
	text-shadow: -.4rem .3rem .25rem rgb(14, 14, 14);
}

.instagramWhiteSquare {
	position: absolute;
	background-color: transparent;
	top: 0%;
	left: 0%;
	width: auto;
	height: 24%;
	transition: transform 0.3s linear;
	filter: brightness(110%);
}

.podcastItem {
	position: absolute;
	z-index: 214748364;
	transition: all 0.3s linear;
	width: auto;
	height: 50%;
	top: -5%;
	left: 0%;
}

.podcastItem:hover {
	transform: scale(1.1) !important;
}
.podcastTextWrapper {
	position: absolute;
	top: 90%;
	left: -5%;
	height: 3rem;
	width: 0rem;
	background-color: transparent;
	overflow: hidden;
	transition: all 0.4s linear;
}

.podcastText {
	position: absolute;
	transition: all 0.3s linear;
	padding-left: 1rem;
	z-index: 9;
	font-family: 'Courier New', monospace;
	font-size: 2.5rem;
	color: white;
	font-weight: normal;
	opacity: 1;
	text-shadow: -.4rem .3rem .25rem rgb(14, 14, 14);
}

.podcastWhiteSquare {
	position: absolute;
	background-color: transparent;
	top: 0%;
	left: 0%;
	width: auto;
	height: 40%;
	transition: transform 0.3s linear;
	filter: brightness(110%);
}

.contactsTextTitle {
	position: absolute;
	z-index: 10;
	left: 50%;
	top: 4%;
	transform: translate(-50%, -50%);
	font-family: 'Courier New', monospace;
	font-size: 1rem;
	color: white;
	font-weight: normal;
	opacity: 1;
	letter-spacing: 30px;
	text-shadow: -.4rem .3rem .25rem rgb(14, 14, 14);
}
.contactsTextDisplayer {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.599);
	z-index: 2147483646;
	width: 40%;
	height: 10%;
	top: 10%;
	left: -50%;
	box-shadow: 0px 0px 10px #6c6c6c9c;
	font-family: 'TW', monospace;
	font-size: 1.5em;
	color: white;
	overflow: hidden;
	transition: all .3s ease-in-out;
	opacity: 0;
	text-wrap: nowrap;
}
.moveInTextDisplay {
	left: 0%;
	opacity: 1;
}
/*SPONSOR*/
.bottomBorder {
	position: absolute;
	z-index: 100;
	background-color: rgb(0, 0, 0);
	width: 100%;
	height: 10%;
	max-width: 100%;
	max-height: 10%;
	top: 93%;
	opacity: 1;
}

.borderExtenderTop {
	position: absolute;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0);
	width: 100%;
	height: 8%;
	max-width: 100%;
	max-height: 10%;
	top: 0%;
	opacity: 1;
}

.mobileButtonNextSponsor {
	opacity: 0;
	display: none;
	z-index: 214748364;
}

.PageBackgroundSponsor {
	position: absolute;
	z-index: 1;
	top: 0%;
	left: -.5%;
	opacity: 1;
}

.PageBackgroundSponsorClass {
	width: 120%;
	height: 100%;
	max-width: 120%;
	max-height: 100%;
	filter: brightness(50%);
	filter: saturate(150%);
	filter: grayscale(40%);
}

.SponsorHeader {
	display: flex;
	align-items: center;
	position: absolute;
	z-index: 2147483645;
	background-color: rgba(0, 0, 0, 0.005);
	width: 100%;
	height: 80px;
	object-fit: cover;
}

.TextContainer {
	position: absolute;
	background-color: transparent;
	top: 0;
	left: 3%;
	z-index: 10;
	width: 100%;
	height: 100%;
	opacity: 1;
	object-fit: cover;
}

.yourImpact {
	position: absolute;
	top: 80%;
	left: 8%;
	transform: translate(-50%, -50%);
	text-align: left;
	z-index: 10;
	color: white;
	width: 6vw;
	height: 50px;
	background-color: rgba(255, 0, 0, 0);
	font-family: 'TW', Arial;
	font-weight: lighter;
	font-size: 2vw;
	padding-right: 15%;
	object-fit: cover;
	transition: all .5s linear;
}

.yourImpactText {
	position: absolute;
	text-align: left;
	z-index: 10;
	color: white;
	width: 70%;
	font-family: 'Segoe UI Light', Arial, sans-serif;
	font-weight: 100px;
	font-size: 1.2rem;
	top: 15%;
	left: 2%;
	object-fit: cover;
	transition: all .5s linear;
}

.LearnMoreSponsorButton {
	z-index: 2147483647;
	position: absolute;
	width: 8vw;
	top: 20%;
	left: 50%;
	object-fit: cover;
	height: 5vh;
	max-height: 45px;
	background-color: transparent;
	border: .05rem;
	border-color: rgb(255, 255, 255);
	border-style: groove;
	opacity: 1;
	transition: all .3s ease-in-out;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.LearnMoreSponsorButton:hover {
	background-color: rgb(255, 255, 255);
	transform: scale(1.08);
}

.LearnMoreSponsorButton:hover .LearnMoreTextSponsor {
	color: rgb(0, 0, 0);
}

.LearnMoreTextSponsor {
	position: absolute;
	top: 25%;
	left: 6%;
	text-align: center;
	z-index: 10;
	object-fit: cover;
	color: white;
	letter-spacing: 1px;
	font-family: 'TW', Arial, sans-serif;
	font-weight: bold;
	font-size: 1.2vw;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.sponsorPageLabel {
	position: absolute;
	opacity: 1;
	font-family: 'TW', Arial, Helvetica, sans-serif;
	z-index: 201;
	letter-spacing: .1rem;
	font-size: 1rem;
	opacity: 1;
	color: rgb(164, 164, 164);
	top: 95%;
	left: 92%;
	object-fit: cover;
	text-wrap: nowrap;
}

.sponsorsHeader {
	position: absolute;
	opacity: 1;
	font-family: 'TW', Arial, Helvetica, sans-serif;
	z-index: 201;
	letter-spacing: .1rem;
	font-size: 1rem;
	opacity: 1;
	color: rgb(164, 164, 164);
	top: 2%;
	left: 87%;
	object-fit: cover;
	text-wrap: nowrap;
}

.OurSponsorsButton {
	z-index: 2147483647;
	position: absolute;
	width: 8vw;
	top: 20%;
	height: 5vh;
	left: 60%;
	object-fit: cover;
	max-height: 45px;
	background-color: transparent;
	border: .05rem;
	border-color: rgb(255, 255, 255);
	border-style: groove;
	opacity: 1;
	transition: all .3s ease-in-out;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.OurSponsorsButton:hover {
	background-color: rgb(255, 255, 255);
	transform: scale(1.08);
}

.OurSponsorsButton:hover .OurSponsorsButtonText {
	color: rgb(0, 0, 0);
}

.OurSponsorsButtonText {
	position: absolute;
	top: 25%;
	left: 11%;
	text-align: center;
	object-fit: cover;
	font-size: 1.2vw;
	z-index: 10;
	color: white;
	letter-spacing: 1px;
	font-family: 'TW', Arial, sans-serif;
	font-weight: bold;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.sponsoHeaderBackgroundColor {
	width: 100%;
	height: 100%;
	background-color: transparent;
	object-fit: cover;
}

.SponsorFooter {
	position: absolute;
	z-index: 10;
	width: 100%;
	top: 90%;
	background-color: rgb(0, 0, 0);
	height: 10%;
	object-fit: cover;
	transition: all .5s linear;
}

.sponsorGilbert {
	position: absolute;
	left: 75%;
	width: 4vw;
	top: 50%;
	height: 7vh;
	object-fit: cover;
	transform: translate(-50%, -50%);
	transition: all .5s linear;
}

.sponsorInformationContainerMainDisplay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 222, 173, 0);
	z-index: 2147483644;
	display: flex;
	flex-direction: row;
	transition: all .1s linear;
}

.sponsorshipIcons {
	position: relative;
	width: 30%;
	height: 30%;
	transform: translate(-50%, -50%);
	left: 10%;
	top: 50%;
	object-fit: contain;
	margin-left: 0%;
	transition: all .2s linear;
}

#Tier1SponsorIcon:hover {
	transform: scale(1.03) translate(-50%, -50%);
	filter: brightness(200%);
}

#Tier2SponsorIcon:hover {
	transform: scale(1.03) translate(-50%, -50%);
	filter: brightness(200%);
}

#Tier3SponsorIcon:hover {
	transform: scale(1.03) translate(-50%, -50%);
	filter: brightness(200%);
}

#Tier4SponsorIcon:hover {
	transform: scale(1.03) translate(-50%, -50%);
	filter: brightness(200%);
}

.sponsorIconFlickerIn {
	animation-name: sponsorIconFlickerIn;
	animation-duration: 1s;
}

.sponsorIconFlickerOut {
	animation-name: sponsorIconFlickerOut;
	animation-duration: 1s;
}

.fadeOutTierIcons {
	animation-name: fadeOutTierIcons;
	animation-duration: 1s;
}

.fadeInTierIcons {
	animation-name: fadeInTierIcons;
	animation-duration: 1s;
}

.sponsorTierExitButton {
	position: absolute;
	z-index: 2147483647;
	font-weight: bold;
	font-size: 3rem;
	font-family: 'Servant', Arial, sans-serif;
	font-weight: normal;
	transform: translate(-50%, -50%);
	left: 90%;
	top: 30%;
	color: white;
	opacity: 0;
	transition: all .1s linear;
}

.sponsorTierExitButton:hover {
	transform: scale(1.1) translate(-50%, -50%);
}

.SponsorTiersTextContent {
	position: absolute;
	z-index: 100;
	transform: translate(-50%, -50%);
	left: 70%;
	top: 45%;
	transition: transform, opacity .1s linear;
	width: 40%;
	height: 50%;
	opacity: 0;
}

.SponsorTiersTextContent p {
	font-weight: normal;
	font-size: 1.5rem;
	font-family: 'TW', Arial, sans-serif;
	color: rgb(204, 204, 204);
	vertical-align: middle;
	text-align: left;
}

@keyframes sponsorIconFlickerIn {
	0% {
		position: absolute;
		opacity: 0;
		transform: scale(2.2) translate(0%, -15%)
	}

	3% {
		opacity: 1;
	}

	6% {
		opacity: 0;
	}

	9% {
		opacity: 1;
	}

	11% {
		opacity: 0;
	}

	14% {
		opacity: 1;
	}

	17% {
		opacity: 0;
	}

	20% {
		opacity: 1;
	}

	50% {
		opacity: 1;
	}

	100% {
		transform: scale(2.2) translate(0%, -15%);
		opacity: 1;
		position: absolute;
	}
}

@keyframes sponsorIconFlickerOut {
	0% {
		opacity: 1;
	}

	3% {
		opacity: 0;
	}

	6% {
		opacity: 1;
	}

	9% {
		opacity: 0;
	}

	11% {
		opacity: 1;
	}

	14% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes fadeOutTierIcons {
	0% {
		opacity: 1;
	}

	30% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}

@keyframes fadeInTierIcons {
	0% {
		opacity: 0;
	}

	30% {
		opacity: 1;
	}

	100% {
		opacity: 1;
	}
}

/*ABOUT US*/

.aboutusLabel {
    position: absolute;
    opacity: 1;
    font-family: 'TW', Arial, Helvetica, sans-serif;
    z-index: 201;
    letter-spacing: .1rem;
    font-size: 1rem;
    opacity: 1;
    color: rgb(164, 164, 164);
    top: 95%;
    left: 90%;
    text-align: right;
    object-fit: cover;
    text-wrap: nowrap;
}
.aboutusNameLabel {
    position: absolute;
    opacity: 1;
    font-family: 'TW', Arial, Helvetica, sans-serif;
    z-index: 201;
    letter-spacing: .1rem;
    font-size: 1rem;
    text-align: right;
    opacity: 1;
    color: rgb(164, 164, 164);
    top: 1%;
    left: 85%;
    object-fit: cover;
    text-wrap: nowrap;
}
.icon-scroll2,
.icon-scroll2:before {
    position: absolute;
    z-index: 10;
    left: 95%;
    transition: all .2s linear;
}
.icon-scroll2 {
    width: 40px;
    height: 70px;
    margin-left: -20px;
    top: 88%;
    margin-top: -35px;
    box-shadow: inset 0 0 0 1px #fff;
    border-radius: 25px;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: iconShiftDown;
}
.icon-scroll-text2 {
    position: absolute;
    opacity: 1; 
    z-index: 10;
    width: 40rem;
    margin-left: -8rem;
    margin-top: 50%;
    color: rgb(179, 179, 179);
    font-family: 'TW', Arial, sans-serif;
    font-weight: lighter; 
    font-size: 1.3rem;
    letter-spacing: .2rem;
}
.icon-scroll2:before {
    content: '';
    width: 8px;
    height: 8px;
    background: #fff;
    margin-left: -4px;
    top: 8px;
    left: 50%;
    border-radius: 4px;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: scroll;
}
.backgroundContainerForAboutUs {
    background-color: transparent;
    position:absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    top: 0%;
    transition: transform .2s linear;
}
.AboutUsBottomBar {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    top: 93%;
    z-index: 4;
    transition: all .2s linear;
}
.AboutUsBottomBarIcons {
    position: absolute;
    width: auto;
    height: auto;
    max-width: 600px;
    max-height: 600px;
    z-index: 5;
    transform: translate(-50%, -50%);
    left: 20%;
    top: -10%;
}
.AboutUsItemSide {
    position: absolute;
    z-index: 10;
    width: auto;
    height: 80%;
    left: 50%;
    top: 10%;
    transition: all 0.4s linear;
}
.AboutUsTextTitle {
    position: absolute;
    font-family: 'TW', Arial, Helvetica, sans-serif;
    font-size: 7.5rem;
    color: #00A2FF;
    font-weight: bold;
    letter-spacing: 1.7rem;
    left: 3%;
    transition: all .1s linear;
    top: 10%;
}
.AboutUsTextTitleOutline {
    position: absolute;
    font-family: 'TW', Arial, Helvetica, sans-serif;
    font-size: 7.5rem;
    font-weight: normal;
    letter-spacing: 1.7rem;
    left: 3%;
    top: 20%;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px rgb(0, 145, 255);
    transition: all .2s linear;
}
.AboutUsTextDesc {
    position: absolute;
    font-family: 'TW', Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    font-weight: normal;
    left: 3%;
    top: 36%;
    width: 38%;
    z-index: 4;
    text-align: left;
    color: white;
    line-height: 120%;
    transition: all .25s linear;
}
.AboutUsTextDescForMobile {
    opacity: 0;
}