.mobileNextButton {
    position: absolute;
    top: 200%;
}
.rankingContainer {
    position: absolute;
    z-index: 214748364;
    background-color: transparent;
    width: 200px;
    height: 200px;
    transition: transform 0.3s linear;
    top: 10%;
    left: 40%;   
}
.instagramContainer {
    position: absolute;
    z-index: 214748364;
    background-color: transparent;
    width: 400px;
    height: 400px;
    transition: transform 0.3s linear;
    top: 70%;
    left: 25%;
}
.tutorialContainer {
    position: absolute;
    z-index: 214748364;
    background-color: transparent;
    width: 400px;
    height: 400px;
    transition: transform 0.3s linear;
    top: 10%;
    left: 65%;
}
.mailContainer {
    position: absolute;
    z-index: 214748364;
    background-color: transparent;
    width: 300px;
    height: 300px;
    transition: transform 0.3s linear;
    top: 25%;
    left: 8%;

}
.podcastContainer {
    position: absolute;
    z-index: 214748364;
    background-color: transparent;
    width: 180px;
    height: 180px;
    transition: transform 0.3s linear;
    top: 60%;
    left: 50%;
    opacity: 1;
}
.schoolContainer {
    position: absolute;
    z-index: 214748364;
    background-color: transparent;
    width: 500px;
    height: 500px;
    transition: transform 0.3s linear;
    top: 55%;
    left: 75%;
}
.socialsBackground {
    position: absolute;
    z-index: 1;
    left: 0%;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    top: 300%;
    left: 0;
    opacity: 1;
    image-rendering:optimizeQuality;
    filter:brightness(110%);
    transition: all .5s ease-out;
}
.vignette {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10rem rgba(0,0,0,0.9) inset;
  }
.rankingItem {
    position: absolute;
    z-index: 214748364;
    transition: all 0.3s linear;
    max-width: 240px;
    max-height:240px;
    width: auto;
    height: auto;
    top: 3%;
    left: 20%;
}
.rankingItem:hover {
    transform: scale(1.1) !important; 
}
.rankingContainer:hover .rankingTextWrapper {
    opacity: 1;
    width: 15rem;
}
.rankingTextWrapper {
    position: absolute;
    top: 100%;
    left: 10%;
    height: 3rem;
    width: 0rem;
    background-color: transparent;
    overflow: hidden;
    transition: all 0.4s linear;
}
.rankingText {
    position: absolute;
    transition: all 0.3s linear;
    padding-left: 1rem;
    z-index: 9;
    font-family: 'Courier New', monospace;
    font-size: 2.5rem;
    color: white;
    font-weight: normal;
    opacity: 1;
    text-shadow: -.4rem .3rem .25rem rgb(14, 14, 14);
}
.rankingWhiteSquare {
    position: absolute;
    background-color: transparent;
    top: 0%;
    left: 0%;
    max-width: 230px;
    max-height:230px;
    width: auto;
    height: auto;
    transition: transform 0.3s linear;
    filter: brightness(110%);
    
}
.tutorialItem {
    position: absolute;
    z-index: 214748364;
    transition: all 0.3s linear;
    max-width: 290px;
    max-height:290px;
    width: auto;
    height: auto;
    top: 0%;
    left: 1%;
}
.tutorialItem:hover {
    transform: scale(1.1) !important; 
}
.tutorialContainer:hover .tutorialTextWrapper {
    opacity: 1;
    width: 15rem;
}
.tutorialTextWrapper {
    position: absolute;
    top: 55%;
    left: 6%;
    height: 3rem;
    width: 0rem;
    background-color: transparent;
    overflow: hidden;
    transition: all 0.4s linear;
}
.mbOurEmail{
    display: none;
    opacity: 0;
}
.tutorialText {
    position: absolute;
    transition: all 0.3s ease;
    padding-left: 1rem;
    z-index: 9;
    font-family: 'Courier New', monospace;
    font-size: 2.5rem;
    color: white;
    font-weight: normal;
    opacity: 1;
    text-shadow: -.4rem .3rem .25rem rgb(14, 14, 14);
}
.mobileSocials{
    display: none;
    opacity: 0;
}
.tutorialWhiteSquare {
    position: absolute;
    background-color: transparent;
    top: 0%;
    left: 0%;
    max-width: 270px;
    max-height:270px;
    width: auto;
    height: auto;
    transition: transform 0.3s linear;
    filter: brightness(110%);
}
.mailItem {
    position: absolute;
    z-index: 214748364;
    transition: all 0.3s linear;
    max-width: 350px;
    max-height:350px;
    width: auto;
    height: auto;
    top: -6%;
    left: 30%;
}
.mailItem:hover {
    transform: scale(1.1) !important; 
}
.mailContainer:hover .mailTextWrapper {
    opacity: 1;
    width: 15rem;
}
.mailTextWrapper {
    position: absolute;
    top: 110%;
    left: 22%;
    height: 3rem;
    width: 0rem;
    background-color: transparent;
    overflow: hidden;
    transition: all 0.4s linear;
}
.mailText {
    position: absolute;
    transition: all 0.3s linear;
    padding-left: 1rem;
    z-index: 9;
    font-family: 'Courier New', monospace;
    font-size: 2.5rem;
    color: white;
    font-weight: normal;
    opacity: 1;
    text-shadow: -.4rem .3rem .25rem rgb(14, 14, 14);
}
.mailWhiteSquare {
    position: absolute;
    background-color: transparent;
    top: 0%;
    left: 0%;
    max-width: 400px;
    max-height:400px;
    width: auto;
    height: auto;
    transition: transform 0.3s linear;
    filter: brightness(110%);
}
.schoolItem {
    position: absolute;
    z-index: 214748364;
    transition: all 0.3s linear;
    max-width: 300px;
    max-height:300px;
    width: auto;
    height: auto;
    top: 7%;
    left: 3%;
}
.schoolItem:hover {
    transform: scale(1.1) !important; 
}
.schoolContainer:hover .schoolTextWraper {
    opacity: 1;
    width: 15rem;
}
.schoolTextWraper {
    position: absolute;
    top: 52%;
    left: 15%;
    height: 3rem;
    width: 0rem;
    background-color: transparent;
    overflow: hidden;
    transition: all 0.4s linear;
}
.schoolText {
    position: absolute;
    transition: all 0.3s linear;
    padding-left: 1rem;
    z-index: 9;
    font-family: 'Courier New', monospace;
    font-size: 2.5rem;
    color: white;
    font-weight: normal;
    opacity: 1;
    text-shadow: -.4rem .3rem .25rem rgb(14, 14, 14);
}
.schoolWhiteSquare {
    position: absolute;
    background-color: transparent;
    top: 0%;
    left: 0%;
    max-width: 320px;
    max-height:320px;
    width: auto;
    height: auto;
    transition: transform 0.3s linear;
    filter: brightness(110%);
}
.instagramItem {
    position: absolute;
    z-index: 214748364;
    transition: all 0.3s linear;
    max-width: 230px;
    max-height:230px;
    width: auto;
    height: auto;
    top: 7%;
    left: 3%;
}
.mobileDescriptionText {
    position: absolute;
    top: 200%;
    opacity: 0;
}
.instagramItem:hover {
    transform: scale(1.1) !important; 
}
.instagramContainer:hover .instagramTextWrapper {
    opacity: 1;
    width: 15rem;
}
.instagramTextWrapper {
    position: absolute;
    top: 50%;
    left: 0%;
    height: 3rem;
    width: 0rem;
    background-color: transparent;
    overflow: hidden;
    transition: all 0.4s linear;
}
.instagramText {
    position: absolute;
    transition: all 0.3s linear;
    padding-left: 1rem;
    z-index: 9;
    font-family: 'Courier New', monospace;
    font-size: 2.5rem;
    color: white;
    font-weight: normal;
    opacity: 1;
    text-shadow: -.4rem .3rem .25rem rgb(14, 14, 14);
}
.instagramWhiteSquare {
    position: absolute;
    background-color: transparent;
    top: 0%;
    left: 0%;
    max-width: 230px;
    max-height:230px;
    width: auto;
    height: auto;
    transition: transform 0.3s linear;
    filter: brightness(110%);
}
.podcastItem {
    position: absolute;
    z-index: 214748364;
    transition: all 0.3s linear;
    max-width: 220px;
    max-height:220px;
    width: auto;
    height: auto;
    top: -5%;
    left: 0%;
}
.podcastItem:hover {
    transform: scale(1.1) !important; 
}
.podcastContainer:hover .podcastTextWrapper {
    opacity: 1;
    width: 15rem;
}
.podcastTextWrapper {
    position: absolute;
    top: 90%;
    left: -5%;
    height: 3rem;
    width: 0rem;
    background-color: transparent;
    overflow: hidden;
    transition: all 0.4s linear;
}
.podcastText {
    position: absolute;
    transition: all 0.3s linear;
    padding-left: 1rem;
    z-index: 9;
    font-family: 'Courier New', monospace;
    font-size: 2.5rem;
    color: white;
    font-weight: normal;
    opacity: 1;
    text-shadow: -.4rem .3rem .25rem rgb(14, 14, 14);
}
.podcastWhiteSquare {
    position: absolute;
    background-color: transparent;
    top: 0%;
    left: 0%;
    max-width: 180px;
    max-height:180px;
    width: auto;
    height: auto;
    transition: transform 0.3s linear;
    filter: brightness(110%); 
}
.contactsTextTitle {
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 4%;
    transform: translate(-50%, -50%);
    font-family: 'Courier New', monospace;
    font-size: 1rem;
    color: white;
    font-weight: normal;
    opacity: 1;
    letter-spacing: 30px;
    text-shadow: -.4rem .3rem .25rem rgb(14, 14, 14);
}
@media screen and (max-width: 1800px) {
    #page4 {
      z-index: 214748364 !important;
      transform: scale(1)!important;
    }
    }
@media screen and (max-width: 1600px) {
    #page4 {
      z-index: 214748364 !important;
      transform: scale(.9)!important;
    }
    .contactsTextTitle {
        opacity: 0;
        transition: opacity 1s linear;
    }
    }
@media screen and (max-width: 1500px) {
    #page4 {
      z-index: 214748364 !important;
      transform: scale(.8)!important;
    }
    .mailContainer {
        left: -5% !important;
        transition: left 1s linear;
    }
    .instagramContainer {
        left: 15% !important;
        transition: left 1s linear;
    }
    .rankingContainer {
        left: 30% !important;
        transition: left 1s linear;
    }
    }
@media screen and (max-width: 1400px) {
    #page4 {
      z-index: 214748364 !important;
      transform: scale(.8)!important;
    }
    }
@media screen and (max-width: 1250px) {
    #page4 {
      z-index: 214748364 !important;
      transform: scale(0.8)!important;
    }
    }
@media screen and (max-width: 1200px) {
    #page4 {
      z-index: 214748364 !important;
      transform: scale(0.8)!important;
      left: -5% !important;
    }
    }
@media screen and (max-width: 1000px) {
  #page4 {
    z-index: 214748364 !important;
    transform: scale(0.7)!important;
  }
  .mailContainer {
    left: -20% !important;
    transition: left 1s linear;
}
.instagramContainer {
    left: 10% !important;
    transition: left 1s linear;
}
.schoolContainer {
    left: 90% !important;
    transition: left 1s linear;
}
.tutorialContainer {
    left: 80% !important;
    transition: left 1s linear;
    }
  }
  @media screen and (max-width: 900px) {
    #page4 {
        z-index: 214748364 !important;
        transform: scale(0.6)!important;
    }
  }
  @media screen and (max-width: 800px) {
    #page4 {
        z-index: 214748364 !important;
        transform: scale(0.55)!important;
      }
      .mailContainer {
        left: -35% !important;
        transition: left 1s linear;
    }
  }
  @media screen and (max-width: 750px) {
    #page4 {
        z-index: 214748364 !important;
        transform: scale(0.5)!important;
      }
  }

  @media only screen and (max-width: 700px) {
    .mbOurEmail{
        position: absolute;
        display: unset;
        opacity: 0;
        top: 50%;
        width: 100%;
        height: 100%;
        background-color: black;
        color: white;
        font-size: 30px;
        font-weight: lighter;
        font-family: 'TW', Arial, Helvetica, sans-serif;
        transition: all .2s linear;
        -webkit-transition: all .2s linear; 
        -moz-transition: all .2s linear; 
        -o-transition: all .2s linear;
    }
    #mobileSIMG-Email {
        opacity: 0;
    }
    .socialsBackground,.rankingContainer,.tutorialContainer,.mailContainer,.schoolContainer,.podcastContainer,.instagramContainer,.contactsTextTitle  {
        display: none;
        opacity: 0;
    }
    .mobileSocials{
        position: absolute;
        z-index: 214748364;
        display: inline;
        opacity: 1;
        height: 110%;
        width: 120%;
        transform: translate(-50%,-50%);
        left: 57%;
        top: 60%;
    }
    .mobileSocialsHeader {
        position: absolute;
        width: 100%;
        height: 10%;
        top: 0%;
        z-index: 214748364;
        display: flex;
        flex-direction: row;
    }
    .mobileSocialsHeaderLine {
        z-index: 214748364;
        position: absolute;
        width: 100%;
        height: 1px;
        top: 5%;
        background-color: rgb(211, 211, 211);
    }
    .mobileSocialsFooterLine {
        position: absolute;
        width: 100%;
        height: .5px;
        top: 90%;
        background-color: rgb(211, 211, 211);
    }
    .mobileSocialsHeaderText {
        z-index: 2147483647;
        font-size: 30px;
        font-weight: lighter;
        font-family: 'TW', Arial, Helvetica, sans-serif;
        margin-left: 10%;
        width: 100%;
        height: 50%;
    }
    .mobileSocialImage{
        position: absolute;
        overflow: hidden;
        z-index: 1;
        width: 100%;
        height: 100%;
        top: -4%;
        object-fit: contain;
        transition: all .2s linear;
        -webkit-transition: all .2s linear; 
        -moz-transition: all .2s linear; 
        -o-transition: all .2s linear;
    }
    .tagOnImage-Mobile {
        position: absolute;
        width: 50%;
        height: 7%;
        top: 80%;
        left: -5%;
        z-index: 2;
        background-color: rgb(35, 165, 247);
        color: rgb(0, 0, 0);
        font-weight: normal;
        font-size: 50px;
        transition: all .2s linear;
        -webkit-transition: all .2s linear; 
        -moz-transition: all .2s linear; 
        -o-transition: all .2s linear;
        font-family: 'PrintClearly', Arial, Helvetica, sans-serif;
    }
    #mobileSocialsHeaderText-Instagram {
        color: white;
    }
    #mobileSocialsHeaderText-Email {
        color: rgb(165, 165, 165);
    }

  }
  @media only screen and (max-width: 280px) {
    .tagOnImage-Mobile {
        top: 72%;
        width: 60%;
        font-size: 40px;
    }
    .mobileSocialsHeaderLine {
        top: 14%;
        height: 1.5px;
    }
    .mobileSocialsFooterLine {
        top: 82%;
        height: 1.5px;
    }
    .mobileSocialsHeader {
        top: 8%;
    }
  }