/* MOBILE */
@media screen and (orientation: portrait) {
/* HIDE DESKTOP ITEMS*/
	.icon-scroll, .icon-scroll2, .particle-frame, .AboutUsItemSide, .AboutUsBottomBarIcons, .FadedBackgroundForContainer, .ContainerForStaffDescriptionBody, .staffPageStaffContentXButton, .adding-pic-soon, .AboutUsTextDesc, .staffPanelContainer, .SponsorHeader, .SponsorFooter, .socialsBackground, .contactsTextTitle, .mobileDescriptionText, .rankingContainer, .tutorialContainer, .mailContainer, .schoolContainer, .instagramContainer, .podcastContainer, .robot-description, .robot-name, .robot-name-outline, .movingWarningUnderline, .homeMenuContainerClass, .mascotIcon {
		opacity: 0;
		display: none;
	}
/* SHOW MOBILE ITEMS */
	.AboutUsTextDescForMobile, .mobileSocials, .mobileButtonNextSponsor, .mobileVersionStaffList, .staffMobileTextSide {
		opacity: 1;
		display: block;
		z-index: 100;
	}
/* SET DEFAULT MOBILE CSS */
	/*HOME MOBILE DEFAULT */
	.bottomLogosHome {
		top: 83%;
		width: 50%;
		height: auto;
	}
	.MDRTeamSymbol {
		width: 50%;
		top: 23%;
		left: 1%;
		height: auto;
	}
	.mobile_title {
		font-size: 3em;
		top: 58%;
	}
	.mobile_titleDATE {
		font-size: 1.3em;
		letter-spacing: .85em;
		top: 55%;
	}
	.containerBottomLeft {
		left: 5%;
	}
	.containerBottomLeftText {
		text-align: left;
		width: 70%;
		font-size:  .7em;
		top: 18%;
		left: 0%;
	}
	.mobile_title, .mobile_titleDATE {
		left: 4%;
	}

	/*ABOUT US MOBILE DEFAULT */
	.AboutUsTextDescForMobile {
		position: absolute;
		font-family: 'TW', Arial, Helvetica, sans-serif;
		font-size: 1.2em;
		font-weight: lighter;
		left: 3%;
		top: 40%;
		width: 90%;
		z-index: 4;
		text-align: left;
		color: white;
		line-height: 150%;
	}
	.AboutUsTextTitle, .AboutUsTextTitleOutline {
		font-size: 14vw;
		width: 90%;
		letter-spacing: .2em;
	}
	/*STAFF MOBILE DEFAULT */
	.mobileVersionStaffList {
		position: absolute;
		width: auto;
		height: 90%;
		left: 5%;
		top: 5%;
	}
	.mobileStaffContainer {
		height: 5%;
		font-family: 'TW', Arial, Helvetica, sans-serif;
		color: rgb(222, 222, 222);
		text-align: left;
		line-height: 50%;
		font-size: 1.35em;
		top: 0%;
		left: 0%;
	}
	.textonMobileStaffContainer {
		font-size: .9em;
		height: 5%;
		margin-top: -5%;
		color: rgba(0, 136, 255, 0.708);
	}
	.staffMobileTextSide {
		position: absolute;
		color: rgba(222, 222, 222, 0.053);
		font-family: 'DDay', Arial, Helvetica, sans-serif;
		font-size: 12vh;
		width:100%;
		height: 100%;
		left:30%;
		top: 2%;
		text-wrap: nowrap;
		writing-mode: vertical-rl;
	}
	/*SPONSOR MOBILE DEFAULT */
	.mobileButtonNextSponsor {
		position: absolute;
		top: 90%;
		left: 10%;
		font-family: 'DDay', Arial, Helvetica, sans-serif;
		color: rgb(222, 222, 222);
		width: 70%;
		letter-spacing: .08em;
		height: 10%;
		font-size: 2em;
		z-index: 2147483647;
	}

	.sponsorInformationContainerMainDisplay {
		left: -35%;
		top: -25%;
		transition: transform .2s linear;
	}

	.sponsorshipIcons {
		position: relative;
		width: 60%;
		height: auto;
		object-fit: contain;
		margin-left: 70%;
		transition: all .2s linear;
	}
	.SponsorTiersTextContent {
		left: 50%;
		top: 80%;
		width: 80%;
		background-color: rgba(102, 51, 153, 0);
		height: 80%;
		opacity: 1 !important;
	}
	.SponsorTiersTextContent p {
		font-size: 1em;
		font-weight: lighter;
	}

	/* SOCIALS/CONTACTS MOBILE DEFAULT */
	.mobileSocialsHeader {
		position: absolute;
		width: auto;
		height: 10%;
		top: 20%;
		z-index: 2147483647;
		display: flex;
		flex-direction: row;
	}
	.mbOurEmail {
		top: 50%;
		left: 10%;
		position: absolute;
		font-family: 'TW', Arial, Helvetica, sans-serif;
		font-size: 1.2em;
		font-weight: lighter;
		color: rgb(232, 232, 232);
		display: block;
	}
	.mobileSocialsHeaderLine {
		z-index: 1;
		position: absolute;
		width: 100%;
		height: .7px;
		top: 25%;
		background-color: rgb(255, 255, 255);
	}

	.mobileSocialsFooterLine {
		position: absolute;
		width: 100%;
		height: .5px;
		top: 80%;
		z-index: 1;
		background-color: rgba(211, 211, 211, 0);
	}

	.mobileSocialsHeaderText {
		z-index: 2147483647;
		font-size: 2em;
		font-weight: lighter;
		font-family: 'TW', Arial, Helvetica, sans-serif;
		margin-left: 10%;
		width: 100%;
		height: 50%;
		text-align: center;
		letter-spacing: .05em;
	}

	.mobileSocialImage {
		position: absolute;
		z-index: 1;
		width: 85%;
		height:auto;
		object-fit: contain;
		transition: all .2s linear;
		-webkit-transition: all .2s linear;
		-moz-transition: all .2s linear;
		-o-transition: all .2s linear;
		left: 50%;
		top: 60%;
		transform: translate(-50%,-50%);
	}
	#mobileSIMG-Email {
		opacity: 0;
	}

	.tagOnImage-Mobile {
		position: absolute;
		width: 40%;
		height: auto;
		z-index: 2;
		top: 90%;
		transform: translateX(-50%);
		left: 21%;
		background-color: rgb(35, 165, 247);
		color: rgb(0, 0, 0);
		font-weight: normal;
		font-size: 1em;
		transition: all .2s linear;
		-webkit-transition: all .2s linear;
		-moz-transition: all .2s linear;
		-o-transition: all .2s linear;
		font-family: 'TW', Arial, Helvetica, sans-serif;
	}

	#mobileSocialsHeaderText-Instagram {
		color: white;
	}
	#mobileSocialsHeaderText-Email {
		color: rgb(165, 165, 165);
	}

	/*ROBOTS MOBILE DEFAULT */
	.robot-model-container {
		display: none !important;
		opacity: 0;
	}
	#page6 {
		opacity: 0;
		display: none;
	}
	/*FOOTER MOBILE DEFAULT */
	.footerTopHighlight, .footerTopHighlight2 {
		height: .01em;
	}
	.footerEntradoxTitle, .footerMeadowridgeTitle {
		font-size: 1.5em;
		text-align: left;
	}
	.footerEntradoxTitle {
		left: -200%;
		top: -50%;
	}
	.footerMeadowridgeTitle {
		left: -335%;
		top: 50%;
	}
	.footerLogo, .footerLogoMDR, .thank {
		opacity: 0;
	}
	.FooterContainer p {
		text-align: left;
		width: 80%;
		font-size: .8em;
		left: 43%;
		top: 40%;
	}
}


/* GALAXY FOLD */
@media screen and (max-width: 300px) and (orientation: portrait) {
	.SponsorTiersTextContent p {
		font-size: .8em;
		font-weight: lighter;
	}
}




/*DESKTOP */
/*DESKTOP HEIGHT */
@media screen and (max-height: 800px) and (orientation: landscape) {
	.mobile_title {
		top: 20%;
	}

	.mobile_titleDATE {
		top: 15%;
	}

	.AboutUsTextTitle {
		top: 5%;
	}

	.AboutUsBottomBarIcons {
		top: -2%;
	}

	.AboutUsItemSide {
		left: 50%;
	}

	.robot-model-container {
		top: -15%;
	}

	.robot-name {
		top: 14%;
	}

	.robot-name-outline2 {
		top: 2%;
	}

	.robot-name-outline {
		top: 25%;
	}

	.robot-description {
		font-size: 25px;
	}

	.SponsorTiersTextContent p {
		font-size: 20px;
	}
}

@media screen and (max-height: 700px) and (orientation: landscape) {

	.mobile_title {
		top: 20%;
	}

	.mobile_titleDATE {
		top: 15%;
	}

	.mascotIcon {
		top: -87%;
	}

	.containerBottomLeft {
		top: 60%;
	}

	.MDRTeamSymbol {
		top: 60%;
	}

	#page2 {
		transform: scale(.9) !important;
	}

	.AboutUsTextTitle {
		top: 0%;
	}

	.AboutUsTextTitleOutline {
		top: 15%;
	}

	.AboutUsBottomBarIcons {
		top: 5%;
	}

	.SponsorTiersTextContent p {
		font-size: 18px;
	}
}

@media screen and (max-height: 650px) and (orientation: landscape) {
	.SponsorTiersTextContent p {
		font-size: 15px;
	}
}

@media screen and (max-height: 600px) and (orientation: landscape) {
	#page1 {
		transform: scale(.9) !important;
	}

	.mobile_title {
		top: 20%;
	}

	.mobile_titleDATE {
		top: 15%;
	}

	.mascotIcon {
		top: -83%;
	}

	.containerBottomLeft {
		top: 65%;
	}

	.MDRTeamSymbol {
		top: 60%;
	}


	#page2 {
		transform: scale(.8) !important;
	}

	.AboutUsTextTitle {
		top: -10%;
	}

	.AboutUsTextTitleOutline {
		top: 6%;
	}

	.AboutUsBottomBarIcons {
		top: 5%;
	}

	.AboutUsTextDesc {
		top: 25%;
	}

	#page4 {
		transform: scale(.8) !important;
	}

	.mailContainer {
		top: 5%;
	}

	.ContainerForStaffDescriptionTextContent2 {
		top: 70%;
	}

	.robot-model-container {
		top: -20%;
		transform: scale(.6);
	}

	.robot-name {
		top: 14%;
		font-size: 70px;
	}

	.robot-name-outline2 {
		font-size: 70px;
		top: 2%;
	}

	.robot-name-outline {
		font-size: 70px;
		top: 26%;
	}

	.robot-description {
		font-size: 20px;
	}
	.particle-frame {
		top: -30% !important;
	}
}

@media screen and (max-height: 500px) and (orientation: landscape) {
	.SponsorTiersTextContent p {
		font-size: 12px;
	}

	.StaffMemberHeadlineContainer-Name {
		top: 110%;
	}

	#page2 {
		transform: scale(.75) !important;
	}

	.AboutUsTextTitle {
		top: -15%;
		font-size: 90px;
	}

	.AboutUsTextTitleOutline {
		top: 3%;
		font-size: 90px;
	}

	.AboutUsBottomBarIcons {
		opacity: 0;
	}

	.AboutUsTextDesc {
		top: 28%;
	}

	.icon-scroll2,
	.icon-scroll2:before {
		opacity: 0;
	}

	.AboutUsItemSide {
		transform: scale(1.2) !important;
	}

	#page1 {
		transform: scale(.9) !important;
	}

	.mobile_title {
		top: 15%;
	}

	.mobile_titleDATE {
		top: 10%;
	}

	.mascotIcon {
		top: -83%;
		opacity: 0;
	}

	.containerBottomLeft {
		top: 65%;
	}


}

@media screen and (max-height: 400px) and (orientation: landscape) {
	.SponsorTiersTextContent p {
		font-size: 9px;
	}

	#page1 {
		transform: scale(.8) !important;
	}

	.mobile_title {
		top: 5%;
	}

	.mobile_titleDATE {
		top: 0%;
	}

	.mascotIcon {
		top: -83%;
		opacity: 0;
	}

	.containerBottomLeft {
		top: 70%;
	}

	.MDRTeamSymbol {
		opacity: 0;
	}


	#page2 {
		transform: scale(.5) !important;
	}

	.AboutUsTextTitle {
		top: -50%;
		font-size: 50px;
	}

	.AboutUsTextTitleOutline {
		font-size: 50px;
		top: -30%;
	}

	.AboutUsTextDesc {
		top: -5%;
		font-size: 15px;
	}

	#page5 {
		transform: scale(.6) !important;
	}

	.staffPanelContainer {
		top: -10%;
		height: 130%;
	}

	#page4 {
		transform: scale(.5) !important;
	}

	.mailContainer {
		top: -20%;
	}

	.rankingContainer {
		top: -18%;
	}

	.tutorialContainer {
		top: -10%;
	}

	.robot-model-container {
		top: -25%;
		transform: scale(.4);
	}

	.robot-name {
		top: 14%;
		font-size: 50px;
	}

	.robot-name-outline2 {
		font-size: 50px;
		top: 2%;
	}

	.robot-name-outline {
		font-size: 50px;
		top: 26%;
	}

	.robot-description {
		font-size: 15px;
	}
	.particle-frame {
		top: -50% !important;
		transform: scale(.5);
	}
}

@media screen and (max-height: 450px) and (orientation: landscape) {
	#page1 {
		transform: scale(.8) !important;
	}

	.mobile_title {
		top: 8%;
	}

	.mobile_titleDATE {
		top: 1%;
	}

	.mascotIcon {
		top: -83%;
		opacity: 0;
	}

	.containerBottomLeft {
		top: 65%;
	}

	.MDRTeamSymbol {
		opacity: 0;
	}


	#page2 {
		transform: scale(.7) !important;
	}

	.AboutUsItemSide {
		transform: scale(1.5) !important;
	}

	.AboutUsTextTitle {
		top: -30%;
		font-size: 90px;
	}

	.AboutUsTextTitleOutline {
		top: -10%;
		font-size: 90px;
	}

	.SponsorTiersTextContent p {
		font-size: 10px;
	}

	#page5 {
		transform: scale(.8) !important;
	}

	.staffPanelContainer {
		top: -6%;
		height: 110%;
	}

	.StaffMemberHeadlineContainer-Name {
		top: 100%;
	}

	.ContainerForStaffDescriptionTextContent {
		top: 50%;
	}

	.ContainerForStaffDescriptionTextContent2 {
		top: 90%;
	}

	.StaffRoleTextDisplay {
		top: 25%;
	}

	.StaffRoleTextDisplay2 {
		top: 25%;
	}
}


@media screen and (max-height: 300px) and (orientation: landscape) {
	#page5 {
		transform: scale(.5) !important;
	}

	.staffPanelContainer {
		top: -30%;
		height: 150%;
	}

	.SponsorTiersTextContent p {
		font-size: 8px;
	}

	#page1 {
		transform: scale(.6) !important;
	}

	.mobile_title {
		top: -10%;
	}

	.mobile_titleDATE {
		top: -20%;
	}

	.containerBottomLeft {
		top: 50%;
	}

	.bottomLogosHome {
		top: 90%;
	}

	.icon-scroll,
	.icon-scroll:before {
		opacity: 0;
	}

	#page1 {
		transform: scale(.3) !important;
	}

	.mobile_title {
		top: -50%;
	}

	.mobile_titleDATE {
		top: -70%;
	}

	.AboutUsTextTitle {
		top: -100%;
		font-size: 50px;
	}

	.AboutUsTextTitleOutline {
		font-size: 50px;
		top: -60%;
	}

	#page2 {
		transform: scale(.3) !important;
	}

	.AboutUsItemSide {
		opacity: 0;
	}

	#page2 {
		transform: scale(.2) !important;
	}

	.AboutUsTextTitle {
		top: -150%;
		font-size: 50px;
	}

	.AboutUsTextTitleOutline {
		font-size: 50px;
		top: -100%;
	}
}


@media screen and (max-height: 200px) and (orientation: landscape) {
	#page4 {
		opacity: 0;
	}

	#page5 {
		transform: scale(.4) !important;
	}

	.staffPanelContainer {
		top: -50%;
		height: 200%;
	}

	#page6 {
		opacity: 0;
	}
	.particle-frame {
		opacity: 0;
		display: none !important;
	}
}

@media screen and (max-height: 100px) and (orientation: landscape) {
	#page5 {
		transform: scale(.5) !important;
		opacity: 0;
	}

	#page2 {
		opacity: 0;
	}

	#page1 {
		transform: scale(.2) !important;
	}

	.mobile_title {
		top: -130%;
	}

	.mobile_titleDATE {
		top: -150%;
	}

	.containerBottomLeft {
		top: 130%;
	}
}

/* DESKTOP WIDTH */
