/* MOBILE */
@media screen and (orientation: portrait) {
/* HIDE DESKTOP ITEMS*/
	.icon-scroll, .icon-scroll2, .particle-frame, .AboutUsItemSide, .AboutUsBottomBarIcons, .FadedBackgroundForContainer, .ContainerForStaffDescriptionBody, .staffPageStaffContentXButton, .adding-pic-soon, .AboutUsTextDesc, .staffPanelContainer, .SponsorHeader, .SponsorFooter, .socialsBackground, .contactsTextTitle, .mobileDescriptionText, .rankingContainer, .tutorialContainer, .mailContainer, .schoolContainer, .instagramContainer, .podcastContainer, .robot-description, .robot-name, .robot-name-outline, .movingWarningUnderline, .homeMenuContainerClass, .mascotIcon {
		opacity: 0;
		display: none;
	}
/* SHOW MOBILE ITEMS */
	.AboutUsTextDescForMobile, .mobileSocials, .mobileButtonNextSponsor, .mobileVersionStaffList, .staffMobileTextSide {
		opacity: 1;
		display: block;
		z-index: 100;
	}
/* SET DEFAULT MOBILE CSS */
	/*HOME MOBILE DEFAULT */
	.bottomLogosHome {
		top: 83%;
		width: 50%;
		height: auto;
	}
	.MDRTeamSymbol {
		width: 50%;
		top: 23%;
		left: 1%;
		height: auto;
	}
	.mobile_title {
		font-size: 3em;
		top: 58%;
	}
	.mobile_titleDATE {
		font-size: 1.3em;
		letter-spacing: .85em;
		top: 55%;
	}
	.containerBottomLeft {
		left: 5%;
		width: 100%;
		top: 55%;
	}
	.containerBottomLeftText {
		text-align: left;
		width: 70%;
		font-size:  .7em;
		top: 18%;
		left: 0%;
	}
	.mobile_title, .mobile_titleDATE {
		left: 4%;
	}

	/*ABOUT US MOBILE DEFAULT */
	.AboutUsTextDescForMobile {
		position: absolute;
		font-family: 'TW', Arial, Helvetica, sans-serif;
		font-size: 1.2em;
		font-weight: lighter;
		left: 3%;
		top: 40%;
		width: 90%;
		z-index: 4;
		text-align: left;
		color: white;
		line-height: 150%;
	}
	.AboutUsTextTitle, .AboutUsTextTitleOutline {
		font-size: 14vw;
		width: 90%;
		letter-spacing: .2em;
	}
	/*STAFF MOBILE DEFAULT */
	.mobileVersionStaffList {
		position: absolute;
		width: auto;
		height: 90%;
		left: 5%;
		top: 5%;
	}
	.mobileStaffContainer {
		height: 5%;
		font-family: 'TW', Arial, Helvetica, sans-serif;
		color: rgb(222, 222, 222);
		text-align: left;
		line-height: 50%;
		font-size: 1.35em;
		top: 0%;
		left: 0%;
	}
	.textonMobileStaffContainer {
		font-size: .9em;
		height: 5%;
		margin-top: -5%;
		color: rgba(0, 136, 255, 0.708);
	}
	.staffMobileTextSide {
		position: absolute;
		color: rgba(222, 222, 222, 0.053);
		font-family: 'DDay', Arial, Helvetica, sans-serif;
		font-size: 12vh;
		width:100%;
		height: 100%;
		left:30%;
		top: 2%;
		text-wrap: nowrap;
		writing-mode: vertical-rl;
	}
	/*SPONSOR MOBILE DEFAULT */
	.mobileButtonNextSponsor {
		position: absolute;
		top: 90%;
		left: 10%;
		font-family: 'DDay', Arial, Helvetica, sans-serif;
		color: rgb(222, 222, 222);
		width: 70%;
		letter-spacing: .08em;
		height: 10%;
		font-size: 2em;
		z-index: 2147483647;
	}

	.sponsorInformationContainerMainDisplay {
		left: -35%;
		top: -25%;
		transition: transform .2s linear;
	}

	.sponsorshipIcons {
		position: relative;
		width: 60%;
		height: auto;
		object-fit: contain;
		margin-left: 70%;
		transition: all .2s linear;
	}
	.SponsorTiersTextContent {
		left: 50%;
		top: 80%;
		width: 80%;
		background-color: rgba(102, 51, 153, 0);
		height: 80%;
		opacity: 1 !important;
	}
	.SponsorTiersTextContent p {
		font-size: 1em;
		font-weight: lighter;
	}

	/* SOCIALS/CONTACTS MOBILE DEFAULT */
	.mobileSocialsHeader {
		position: absolute;
		width: auto;
		height: 10%;
		top: 20%;
		z-index: 2147483647;
		display: flex;
		flex-direction: row;
	}
	.mbOurEmail {
		top: 50%;
		left: 10%;
		position: absolute;
		font-family: 'TW', Arial, Helvetica, sans-serif;
		font-size: 1.2em;
		font-weight: lighter;
		color: rgb(232, 232, 232);
		display: block;
	}
	.mobileSocialsHeaderLine {
		z-index: 1;
		position: absolute;
		width: 100%;
		height: .7px;
		top: 25%;
		background-color: rgb(255, 255, 255);
	}

	.mobileSocialsFooterLine {
		position: absolute;
		width: 100%;
		height: .5px;
		top: 80%;
		z-index: 1;
		background-color: rgba(211, 211, 211, 0);
	}

	.mobileSocialsHeaderText {
		z-index: 2147483647;
		font-size: 2em;
		font-weight: lighter;
		font-family: 'TW', Arial, Helvetica, sans-serif;
		margin-left: 10%;
		width: 100%;
		height: 50%;
		text-align: center;
		letter-spacing: .05em;
	}

	.mobileSocialImage {
		position: absolute;
		z-index: 1;
		width: 85%;
		height:auto;
		object-fit: contain;
		transition: all .2s linear;
		-webkit-transition: all .2s linear;
		-moz-transition: all .2s linear;
		-o-transition: all .2s linear;
		left: 50%;
		top: 60%;
		transform: translate(-50%,-50%);
	}
	#mobileSIMG-Email {
		opacity: 0;
	}

	.tagOnImage-Mobile {
		position: absolute;
		width: 40%;
		height: auto;
		z-index: 2;
		top: 90%;
		transform: translateX(-50%);
		left: 21%;
		background-color: rgb(35, 165, 247);
		color: rgb(0, 0, 0);
		font-weight: normal;
		font-size: 1em;
		transition: all .2s linear;
		-webkit-transition: all .2s linear;
		-moz-transition: all .2s linear;
		-o-transition: all .2s linear;
		font-family: 'TW', Arial, Helvetica, sans-serif;
	}

	#mobileSocialsHeaderText-Instagram {
		color: white;
	}
	#mobileSocialsHeaderText-Email {
		color: rgb(165, 165, 165);
	}

	/*ROBOTS MOBILE DEFAULT */
	.robot-model-container {
		display: none !important;
		opacity: 0;
	}
	#page6 {
		opacity: 0;
		display: none;
	}
	/*FOOTER MOBILE DEFAULT */
	.footerTopHighlight, .footerTopHighlight2 {
		height: .01em;
	}
	.footerEntradoxTitle, .footerMeadowridgeTitle {
		font-size: 1.5em;
		text-align: left;
	}
	.footerEntradoxTitle {
		left: -200%;
		top: -50%;
	}
	.footerMeadowridgeTitle {
		left: -335%;
		top: 50%;
	}
	.footerLogo, .footerLogoMDR, .thank {
		opacity: 0;
	}
	.FooterContainer p {
		text-align: left;
		width: 80%;
		font-size: .8em;
		left: 43%;
		top: 40%;
	}
}


/* GALAXY FOLD */
@media screen and (max-width: 300px) and (orientation: portrait) {
	.SponsorTiersTextContent p {
		font-size: .8em;
		font-weight: lighter;
	}
}




/*DESKTOP */
/*DESKTOP WIDTH*/
/*HOME DESKTOP WIDTH DEFAULT */
@media screen and (max-width: 1600px) and (orientation: landscape) {
	.mobile_title {
		left: 1.5%;
	}
	.containerBottomLeft {
		width: 50%;
		left: 2%;
		top: 40%;
	}
	.containerBottomLeftText {
		left: 0%;
		top: -8%;
	}
	.mascotIcon {
		top: -60%;
		left: -7%;
		object-fit: contain;
	}
	.bottomLogosHome {
		left: 3%;
	}
	.MDRTeamSymbol {
		left: 25%;
	}
	.movingWarningUnderline {
		left: 45%;
	}
	.particle-frame {
		background-color: rgba(102, 51, 153, 0);
		width: 100%;
		height: 100%;
		left: -10%;
	}
}
@media screen and (max-width: 1400px) and (orientation: landscape) {
	.mobile_title {
		font-size: 6em;
	}
	.containerBottomLeftText {
		font-size: 1em;
	}
	.mobile_titleDATE {
		font-size: 2em;
		letter-spacing: .9em;
	}
	.particle-frame {
		background-color: rgba(102, 51, 153, 0);
		width: 100%;
		height: 100%;
		left: -20%;
	}
}
@media screen and (max-width: 1200px) and (orientation: landscape) {
	.bottomLogosHome {
		left: 3%;
	}
	.MDRTeamSymbol {
		left: 30%;
	}
	.movingWarningUnderline {
		left: 55%;
	}
	.particle-frame {
		width: 100%;
		height: 100%;
		left: -30%;
	}
}
@media screen and (max-width: 1000px) and (orientation: landscape) {
	.bottomLogosHome {
		left: 3%;
	}
	.MDRTeamSymbol {
		left: 40%;
	}
	.movingWarningUnderline {
		opacity: 0;
	}
	.containerBottomLeft {
		width: 130%;
	}
	.mobile_title {
		font-size: 4em;
	}
	.containerBottomLeft {
		font-size: .9em;
		width: 50%;
	}
	.mobile_titleDATE {
		font-size: 1.3em;
		letter-spacing: .9em;
	}
	.bottomLogosHome {
		width: 20%;
		height: auto;
		left: 1%;
	}
	.MDRTeamSymbol {
		width: 20%;
		height: auto;
		left: 28%;
	}
	.particle-frame {
		display: none;
	}
}

/*ABOUT US DESKTOP WIDTH DEFAULT */
@media screen and (max-width: 1600px) and (orientation: landscape) {
	.AboutUsTextTitle, .AboutUsTextTitleOutline, .AboutUsTextDesc {
		left: 2%;
	}
	.AboutUsTextTitle, .AboutUsTextTitleOutline {
		font-size: 6em;
	}
	.AboutUsTextDesc {
		width: 45%;
		font-size: 1em;
	}
	.AboutUsBottomBarIcons {
		left: 20%;
		width: auto;
		height: 50%;
		object-fit: contain;
	}
}

@media screen and (max-width: 1300px) and (orientation: landscape) {
	.AboutUsTextTitle, .AboutUsTextTitleOutline, .AboutUsTextDesc {
		left: 2%;
	}
	.AboutUsTextTitle, .AboutUsTextTitleOutline {
		font-size: 6em;
	}
	.AboutUsTextDesc {
		width: 48%;
		font-size: 1em;
	}
	.AboutUsBottomBarIcons {
		left: 25%;
		width: auto;
		height: 30%;
		object-fit: contain;
	}
	.AboutUsItemSide {
		width: 50%;
		height: auto;
	}
}

@media screen and (max-width: 1100px) and (orientation: landscape) {
	.AboutUsTextTitle, .AboutUsTextTitleOutline, .AboutUsTextDesc {
		left: 2%;
	}
	.AboutUsTextTitle, .AboutUsTextTitleOutline {
		font-size: 4em;
	}
	.AboutUsTextDesc {
		width: 48%;
		font-size: .8em;
	}
	.AboutUsBottomBarIcons {
		left: 25%;
		width: auto;
		height: 15%;
		object-fit: contain;
	}
	.AboutUsItemSide {
		width: 50%;
		height: auto;
	}
}
/*STAFF DESKTOP WIDTH DEFAULT */

@media screen and (max-width: 1500px) and (orientation: landscape) {
	.staffPanelContainer {
		left: 10%;
		width: 50%;
	}
}
@media screen and (max-width: 1300px) and (orientation: landscape) {
	.staffPanelContainer {
		left: 10%;
		width: 50%;
	}
	.StaffRoleTextDisplay2 {
		font-size: 1.5em;
	}
	.StaffRoleTextDisplay {
		font-size: 1.5em;
	}
	.ContainerForStaffDescriptionTextContent, .ContainerForStaffDescriptionTextContent2 {
		font-size: .9em;
	}
}
@media screen and (max-width: 1000px) and (orientation: landscape) {
	.staffPanelContainer {
		left: 10%;
		width: 70%;
	}
	.StaffRoleTextDisplay2 {
		font-size: 1em;
	}
	.StaffRoleTextDisplay {
		font-size: 1em;
	}
	.ContainerForStaffDescriptionTextContent, .ContainerForStaffDescriptionTextContent2 {
		font-size: .7em;
	}
	.StaffRoleTextDisplayText, .StaffRoleTextDisplayText2 {
		font-size: .6em;
	}
}
/*SPONSORSHIP DESKTOP WIDTH DEFAULT */
@media screen and (max-width: 1550px) and (orientation: landscape) {
	.SponsorTiersTextContent p {
		font-size: .95em;
	}
	.yourImpactText {
		width: 90%;
		font-size: .8em;
	}
}
@media screen and (max-width: 1000px) and (orientation: landscape) {
	.SponsorTiersTextContent p {
		font-size: .8em;
	}
	.yourImpactText {
		font-size: .6em;
	}
}
/*CONTACTS/SOCIAL DESKTOP WIDTH DEFAULT */

@media screen and (max-width: 1300px) and (orientation: landscape) {
	.contactsTextDisplayer {
		font-size: 1em;

	}
}
@media screen and (max-width: 1100px) and (orientation: landscape) {
	.contactsTextDisplayer {
		font-size: .7em;

	}
}
@media screen and (max-width: 1000px) and (orientation: landscape) {
	.contactsTextDisplayer {
		font-size: .5em;

	}
}

/*ROBOT DESKTOP WIDTH DEFAULT*/
@media screen and (max-width: 1600px) and (orientation: landscape) {
	.robot-name, .robot-name-outline, .robot-name-outline2 {
		font-size:4.5em;
		left: 50%;
	}
	.robot-description {
		font-size: 1.5em;
		left: 50%;
		width: 50%;
	}
	.robot-model-container {
		transform: scale(.8);
		left: -35% !important;
	}
}
@media screen and (max-width: 1400px) and (orientation: landscape) {
	.robot-name, .robot-name-outline, .robot-name-outline2 {
		font-size:4em;
		left: 50%;
	}
	.robot-description {
		font-size: 1em;
		left: 50%;
		width: 50%;
	}
	.robot-model-container {
		transform: scale(.7);
		left: -35% !important;
	}
}
@media screen and (max-width: 1200px) and (orientation: landscape) {
	.robot-name, .robot-name-outline, .robot-name-outline2 {
		font-size:3.3em;
		left: 50%;
	}
	.robot-description {
		font-size: 1.2em;
		left: 50%;
		width: 45%;
	}
	.robot-model-container {
		transform: scale(.5);
		left: -40% !important;
	}
}
@media screen and (max-width: 1000px) and (orientation: landscape) {
	.robot-name, .robot-name-outline, .robot-name-outline2 {
		font-size:2em;
		left: 50%;
		letter-spacing: .5em;
	}
	.robot-description {
		font-size: .7em;
		left: 50%;
		width: 40%;
	}
	.robot-model-container {
		transform: scale(.4);
		left: -40% !important;
	}
}
@media screen and (max-width: 900px) and (orientation: landscape) {
	.robot-name, .robot-name-outline, .robot-name-outline2 {
		font-size:2em;
		left: 50%;
		letter-spacing: .5em;
	}
	.robot-description {
		font-size: .7em;
		left: 50%;
		width: 40%;
	}
	.robot-model-container {
		transform: scale(.3);
		left: -45% !important;
	}
}
/*DESKTOP HEIGHT */
	/*HOME HEIGHT*/
@media screen and (max-height: 800px) and (orientation: landscape) {
	.containerBottomLeft {
		top: 40%;
	}
	.bottomLogosHome, .MDRTeamSymbol {
		top: 60%;
	}
	.containerBottomLeftText {
		top: 0%;
	}
	.particle-frame {
		top: -20%;
	}
}
@media screen and (max-height: 700px) and (orientation: landscape) {
	.mobile_title {
		top: 25%;
	}
	.mobile_titleDATE {
		top: 15%;
	}
	.bottomLogosHome, .MDRTeamSymbol {
		top: 55%;
	}
	.mascotIcon {
		top: -50%;
	}
	.containerBottomLeftText {
		top: -5%;
	}
	.particle-frame {
		top: -25%;
		transform: scale(.8);
	}
}
@media screen and (max-height: 550px) and (orientation: landscape) {
	.mobile_title {
		top: 23%;
	}
	.mobile_titleDATE {
		top: 9%;
	}
	.bottomLogosHome, .MDRTeamSymbol {
		top: 60%;
	}
	.icon-scroll {
		opacity: 0;
	}
	.particle-frame {
		top: -30%;
		transform: scale(.6);
	}
}
@media screen and (max-height: 400px) and (orientation: landscape) {
	.mobile_title {
		top: 13%;
	}
	.mobile_titleDATE {
		top: 9%;
	}
	.bottomLogosHome, .MDRTeamSymbol {
		top: 60%;
	}
	.icon-scroll {
		opacity: 0;
	}
	.particle-frame {
		top: -30%;
		transform: scale(.5);
	}
}


/*ABOUT US HEIGHT*/
@media screen and (max-height: 800px) and (orientation: landscape) {
	.AboutUsTextTitle {
		top: 5%;
	}
	.AboutUsTextTitleOutline {
		top: 20%;
	}
	.AboutUsBottomBarIcons {
		top: 0%;
		width: auto;
		height: 20%;
	}
}
@media screen and (max-height: 700px) and (orientation: landscape) {
	.AboutUsTextTitle {
		top: 5%;
		font-size: 6em;
	}
	.AboutUsTextTitleOutline {
		top: 20%;
		font-size: 6em;
	}
	.AboutUsBottomBarIcons {
		top: 0%;
	}
	.AboutUsTextDesc {
		font-size: .8em;
	}

}
@media screen and (max-height: 550px) and (orientation: landscape) {
	.AboutUsTextTitle {
		top: 5%;
		font-size: 5em;
	}
	.AboutUsTextTitleOutline {
		top: 20%;
		font-size: 5em;
	}
	.AboutUsItemSide {
		width: auto;
		height:80%;
	}
	.AboutUsTextDesc {
		font-size: .7em;
	}
	.AboutUsTextTitle {
		top: 8%;
		font-size: 4em;
	}
	.AboutUsTextTitleOutline {
		top: 20%;
		font-size: 4em;
	}

	.icon-scroll2 {
		display: none;
	}

}
@media screen and (max-height: 400px) and (orientation: landscape) {
	.AboutUsTextDesc {
		font-size: .5em;
		top: 40%;
	}
	.AboutUsTextTitle {
		top: 8%;
		font-size: 3em;
	}
	.AboutUsTextTitleOutline {
		top: 20%;
		font-size: 3em;
	}
}
/*STAFF HEIGHT*/
@media screen and (max-height: 700px) and (orientation: landscape) {
	.ContainerForStaffDescriptionTextContent2 {
		top: 60%;
	}
}

@media screen and (max-height: 500px) and (orientation: landscape) {
	.ContainerForStaffDescriptionTextContent2, .ContainerForStaffDescriptionTextContent {
		font-size: .8em;
	}
	.displayNamesIconsLeft {
		display: none;
	}
	.displayNames {
		font-size: 2em;
	}
}
@media screen and (max-height: 400px) and (orientation: landscape) {
	.ContainerForStaffDescriptionTextContent2, .ContainerForStaffDescriptionTextContent {
		font-size: .7em !important;
	}
	.StaffRoleTextDisplay, .StaffRoleTextDisplay2 {
		font-size: .8em;
		top: 10%;
	}
	.StaffRoleTextDisplayText, .StaffRoleTextDisplayText2 {
		top: 0%;
		font-size: .6em;
	}
	.StaffMemberHeadlineContainer-Name {
		font-size: 1.2em;
		top: 90%;
	}
	.ContainerForStaffDescriptionTextContent2 {
		top: 75%;
	}
	.displayNames {
		font-size: 1em;
	}
	.staffPanelRole {
		font-size: 2em;
	}
}
@media screen and (max-height: 300px) and (orientation: landscape) {
	.ContainerForStaffDescriptionTextContent2, .ContainerForStaffDescriptionTextContent {
		font-size: .5em !important;
	}
}
/* ROBOT HEIGHT DEFUALT */
@media screen and (max-height: 700px) and (orientation: landscape) {
	.robot-model-container {
		top: -25%;
		transform: scale(.6) !important;
		left: -45% !important;
	}
}
@media screen and (max-height: 600px) and (orientation: landscape) {
	.robot-model-container {
		top: -40%;
		transform: scale(.4) !important;
	}
}
@media screen and (max-height: 500px) and (orientation: landscape) {
	.robot-model-container {
		top: -25%;
		transform: scale(.3) !important;
	}
}

/* DESKTOP FOOTER */
@media screen and (max-width: 1700px) and (orientation: landscape) {
	.footerTopHighlight, .footerTopHighlight2 {
		height: .01em;
	}
	.footerEntradoxTitle, .footerMeadowridgeTitle {
		font-size: 2.6em;
		text-align: left;
	}
	.footerEntradoxTitle {
		left: -196%;
		top: -50%;
	}
	.footerMeadowridgeTitle {
		left: -330%;
		top: 50%;
	}
	.footerLogo, .footerLogoMDR, .thank {
		opacity: 0;
	}
	.FooterContainer p {
		text-align: left;
		width: 80%;
		font-size: 1.3em;
		left: 43%;
		top: 50%;
	}
	.thank {
		opacity: 1;
		left: 70%;
		top: 15%;
		transform: scale(1.2);
	}
}

@media screen and (max-height: 740px) and (orientation: landscape) {
	.footerEntradoxTitle, .footerMeadowridgeTitle {
		font-size: 2em;
	}
	.footerMeadowridgeTitle {
		top: 70%;
	}
	.FooterContainer p {
		font-size: 1em;
	}
}
@media screen and (max-height: 530px) and (orientation: landscape) {
	.footerEntradoxTitle, .footerMeadowridgeTitle {
		font-size: 1.5em;
	}
	.footerMeadowridgeTitle {
		top: 70%;
	}
	.FooterContainer p {
		font-size: .7em;

	}
}
@media screen and (max-height: 430px) and (orientation: landscape) {
	.footerEntradoxTitle, .footerMeadowridgeTitle {
		font-size: 1em;
	}
	.footerMeadowridgeTitle {
		top: 70%;
	}
	.FooterContainer p {
		font-size: .5em;
	}
}