.robotsPageLabel {
	position: absolute;
	opacity: 1;
	font-family: 'TW', Arial, Helvetica, sans-serif;
	z-index: 201;
	letter-spacing: .1rem;
	font-size: 1rem;
	opacity: 1;
	color: rgb(164, 164, 164);
	top: 95%;
	left: 92%;
	object-fit: cover;
	text-wrap: nowrap;
}
.robotsHeader {
	position: absolute;
	opacity: 1;
	font-family: 'TW', Arial, Helvetica, sans-serif;
	z-index: 201;
	letter-spacing: .1rem;
	font-size: 1rem;
	opacity: 1;
	color: rgb(164, 164, 164);
	top: 2%;
	left: 87%;
	object-fit: cover;
	text-wrap: nowrap;
}
.robot-model-container {
	position: absolute;
	width: 100%;
	height: 100%;
	left: -23% !important;
	top: 5%;
	transition: all .1s linear;
	z-index: 100;
}
.robot-name {
	position: absolute;
	font-family: 'TW', Arial, Helvetica, sans-serif;
	font-size: 6rem;
	color: #00A2FF;
	font-weight: bold;
	letter-spacing: 2rem;
	left: 55%;
	transition: all .13s linear;
	top: 24%;
	text-wrap: nowrap;
	z-index: 10;
}
.robot-name-outline {
	position: absolute;
	font-family: 'TW', Arial, Helvetica, sans-serif;
	font-size: 6rem;
	font-weight: normal;
	letter-spacing: 1.7rem;
	left: 55%;
	top: 34%;
	width: 200%;
	color: transparent;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 1px rgb(0, 145, 255);
	transition: all .2s linear;
	z-index: 10;
	text-wrap: nowrap;
}
.robot-name-outline2 {
	position: absolute;
	font-family: 'TW', Arial, Helvetica, sans-serif;
	font-size: 6rem;
	font-weight: normal;
	letter-spacing: 1.7rem;
	left: 55%;
	top: 14%;
	width: 100%;
	color: transparent;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 1px rgb(0, 145, 255);
	transition: all .2s linear;
	z-index: 10;
	text-wrap: nowrap;
}
.robot-description {
	position: absolute;
	font-family: 'TW', Arial, Helvetica, sans-serif;
	font-size: 1.8rem;
	font-weight: lighter;
	left: 55%;
	top: 47%;
	width: 38%;
	z-index: 4;
	text-align: left;
	color: white;
	line-height: 120%;
	transition: all .1s linear;
}
@media screen and (max-width: 1800px) {
	#page6 {
		transform: scale(1) !important;
		z-index: 10;
	}
}
@media screen and (max-width: 1650px) {
	#page6 {
		transform: scale(.9) !important;
		z-index: 10;
	}
}
@media screen and (max-width: 1600px) {
	#page6 {
		transform: scale(.9) !important;
		z-index: 10;
	}
	.robot-model-container {
		left: -30% !important;
	}
}
@media screen and (max-width: 1500px) {
	#page6 {
		transform: scale(.85) !important;
		z-index: 10;
	}
	.robot-model-container {
		left: -35% !important;
	}
	.robotsPageLabel {
		left: 100%;
		top: 105%;
	}
	.robotsHeader {
		left: 96%;
		top: -10%;
	}
}
@media screen and (max-width: 1400px) {
	#page6 {
		transform: scale(.8) !important;
		z-index: 10;
	}
	.robot-model-container {
		left: -42% !important;
	}
}
@media screen and (max-width: 1300px) {
	#page6 {
		transform: scale(.75) !important;
		z-index: 10;
	}
	.robot-model-container {
		left: -48% !important;
	}
	.robotsPageLabel {
		left: 120%;
		top: 120%;
	}
	.robotsHeader {
		left: 110%;
		top: -30%;
	}
}
@media screen and (max-width: 1200px) {
	#page6 {
		transform: scale(.6) !important;
		z-index: 10;
	}
	.robot-model-container {
		left: -68% !important;
	}
	.robot-description {
		width: 80%;
	}
}
@media screen and (max-width: 1100px) {
	#page6 {
		transform: scale(.6) !important;
		z-index: 10;
	}
	.robot-model-container {
		left: -65% !important;
	}
	.robot-description {
		width: 70%;
	}
	.robotsPageLabel {
		opacity: 0;
	}
	.robotsHeader {
		opacity: 0;
	}
}
@media screen and (max-width: 1000px) {
	#page6 {
		transform: scale(.5) !important;
		z-index: 10;
	}
	.robot-model-container {
		left: -80% !important;
	}
	.robot-description {
		width: 70%;
	}
}
@media screen and (max-width: 950px) {
	#page6 {
		transform: scale(.5) !important;
		z-index: 10;
	}
	.robot-model-container {
		left: -85% !important;
	}
	.robot-description {
		width: 80%;
	}
}
@media screen and (max-width: 900px) {
	#page6 {
		transform: scale(.5) !important;
		z-index: 10;
	}
	.robot-model-container {
		left: -90% !important;
	}
	.robot-description {
		width: 80%;
	}
	.robot-name-outline {
		width: 200%;
	}
}
@media screen and (max-width: 800px) {
	#page6 {
		transform: scale(1) !important;
		z-index: 10;
	}
	.robot-model-container {
		left: 0% !important;
		top: 10%;
		transform: scale(.65) translateX(-50%) !important;
	}
	.robot-description {
		width: 100%;
		opacity: 0 !important;
	}
	.robot-name {
		left: 15%;
		top: 12%;
		transform: scale(.6) translateX(-50%) !important;
	}
	.robot-name-outline {
		left: 15%;
		top: 6%;
		transform: scale(.6) translateX(-50%) !important;
	}
	.robot-name-outline2 {
		top: 18%;
		left: 15%;
		transform: scale(.6) translateX(-50%) !important;
	}
}
@media screen and (max-width: 750px) {
	#page6 {
		transform: scale(.9) !important;
		z-index: 10;
	}
	.robot-model-container {
		left: 0% !important;
		top: 10%;
		transform: scale(.65) translateX(-70%) !important;
	}
	.robot-name {
		left: 15%;
		top: 12%;
		transform: scale(.6) translateX(-50%) !important;
	}
	.robot-name-outline {
		opacity: 0;
	}
	.robot-name-outline2 {
		top: 18%;
		left: 15%;
		transform: scale(.6) translateX(-50%) !important;
	}
}
@media screen and (max-width: 600px) {
	#page6 {
		transform: scale(.81) !important;
		z-index: 10;
	}
	.robot-model-container {
		left: -86% !important;
		top: 5%;
		transform: scale(.6) translateX(50%) !important;
	}
	.robot-name {
		left: -30%;
		top: 0%;
		transform: scale(.7) !important;
	}
	.robot-name-outline2 {
		top: 7%;
		left: 15%;
		transform: scale(.7) translateX(-50%) !important;
	}
}
@media screen and (max-width: 500px) {
	#page6 {
		transform: scale(.8) !important;
		z-index: 10;
	}
	.robot-model-container {
		left: -85% !important;
		top: 5%;
		transform: scale(.5) translateX(50%) !important;
	}
	.robot-name {
		left: -40%;
		top: 0%;
		transform: scale(.6) !important;
	}
	.robot-name-outline2 {
		top: 7%;
		left: 2%;
		transform: scale(.6) translateX(-50%) !important;

	}
}
@media only screen and (max-width: 400px) {
	.robot-name {
		left: -55%;
		top: 0%;
		transform: scale(.55) !important;
	}
	.robot-name-outline2 {
		top: 7%;
		left: -1%;
		transform: scale(.57) translateX(-50%) !important;
	}
	.robot-model-container {
		left: -95% !important;
		top: 5%;
		transform: scale(.5) translateX(50%) !important;
	}
}
@media only screen and (max-width: 280px) {
	#page6 {
		transform: scale(.9) !important;
		z-index: 10;
	}
	.robot-model-container {
		left: -65% !important;
		top: 5%;
		transform: scale(.3) !important;
	}
	.robot-name {
		top: 0%;
		left: -95%;
		transform: scale(.35) !important;
	}
	.robot-name-outline {
		top: 5%;
		left: -35%;
		transform: scale(.35) !important;
		opacity: 1;
	}
	.robot-name-outline2 {
		top: 8%;
		left: -35%;
		transform: scale(.35) !important;
	}
}
@media screen and (max-height: 800px) and (orientation: landscape) {
	.robot-model-container {
		top: -15%;
	}
	.robot-name {
		top: 14%;
	}
	.robot-name-outline2 {
		top: 2%;
	}
	.robot-name-outline {
		top: 25%;
	}
	.robot-description {
		font-size: 25px;
	}
}
@media screen and (max-height: 600px) and (orientation: landscape) {
	.robot-model-container {
		top: -20%;
		transform: scale(.6);
	}
	.robot-name {
		top: 14%;
		font-size: 70px;
	}
	.robot-name-outline2 {
		font-size: 70px;
		top: 2%;
	}
	.robot-name-outline {
		font-size: 70px;

		top: 26%;
	}
	.robot-description {
		font-size: 20px;
	}
}
@media screen and (max-height: 400px) and (orientation: landscape) {
	.robot-model-container {
		top: -25%;
		transform: scale(.4);
	}
	.robot-name {
		top: 14%;
		font-size: 50px;
	}
	.robot-name-outline2 {
		font-size: 50px;
		top: 2%;
	}
	.robot-name-outline {
		font-size: 50px;

		top: 26%;
	}
	.robot-description {
		font-size: 15px;
	}
}
@media screen and (max-height: 300px) and (orientation: landscape) {
	.robot-model-container {
		top: -25%;
		transform: scale(.2);
	}
	.robot-name {
		top: 14%;
		font-size: 30px;
	}
	.robot-name-outline2 {
		font-size: 30px;
		top: 2%;
	}
	.robot-name-outline {
		font-size: 30px;
		top: 26%;
	}
	.robot-description {
		font-size: 10px;
	}
}
@media screen and (max-height: 200px) and (orientation: landscape) {
	#page6 {
		opacity: 0;
	}
}