@font-face {
    font-family: "TW";
    src: url("fonts/TWFONT/Tw\ Cen\ MT\ Regular.ttf") format("truetype");
}
.aboutUsBackgroundPage {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: brightness(80%);
    object-fit: cover; /* Maintain aspect ratio and cover the entire container */
}

.mobileCircleAboutUs {
    position: absolute;
    top: 200%;

}

.lineDownMobileAboutUs {
    position: absolute;
    left: 200%;
}
.lineDownMobileAboutUs2 {
    position: absolute;
    top: 200%;
}

.mobileCircleAboutUs2 {
    position: absolute;
    top: 200%;

}


.backgroundContainerForAboutUs {
    background-color: transparent;
    position:absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    top: 0%;
}

.AboutUsBottomBar {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    top: 93%;
    z-index: 4;
}
.AboutUsBottomBarIcons {
    position: absolute;
    width: auto;
    height: auto;
    max-width: 600px;
    max-height: 600px;
    z-index: 5;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 4%;
    
}
.AboutUsItemSide {
    position: absolute;
    z-index: 10;
    width: auto;
    height: auto;
    max-width: 95%;
    max-height: 95%;
    left: 42%;
    top: 0%;
    transition: all 0.4s linear;

}

.AboutUsTextTitle {
    position: absolute;
    font-family: 'TW', Arial, Helvetica, sans-serif;
    font-size: 7.5rem;
    color: #00A2FF;
    font-weight: bold;
    letter-spacing: 1.7rem;
    left: 3%;
    transition: all .7s linear;
    top: 10%;
}
.AboutUsTextTitleOutline {
    position: absolute;
    font-family: 'TW', Arial, Helvetica, sans-serif;
    font-size: 7.5rem;
    font-weight: normal;
    letter-spacing: 1.7rem;
    left: 3%;
    top: 20%;
    color: transparent;
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke: .5px white;
    transition: all .7s linear;

}

.AboutUsTextDesc {
    position: absolute;
    font-family: 'TW', Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    font-weight: normal;
    left: 3%;
    top: 36%;
    width: 38%;
    z-index: 4;
    text-align: left;
    color: white;
    line-height: 120%;
    transition: all .7s linear;

}
.AboutUsHalftoneDecoration1 {
    position: absolute;
    width: auto;
    height: auto;
    max-width: 30%;
    max-height: 30%;
    z-index: 5;
    left: 4%;
    top: -5%;
    transition: all 0.5s linear;

}
.AboutUsHalftoneDecoration2 {
    position: absolute;
    width: auto;
    height: auto;
    max-width: 30%;
    max-height: 30%;
    z-index: 5;
    left: 80%;
    top: 30%;
    filter: brightness(-100%);
    transition: all 0.5s linear;

}
.AboutUsHalftoneDecoration3 {
    position: absolute;
    width: auto;
    height: auto;
    max-width: 30%;
    max-height: 30%;
    z-index: 1;
    left: 1%;
    top: 55%;
    filter: brightness(-100%);
    transition: all 0.5s linear;
}





@media only screen and (max-width: 700px) {
    

    .aboutUsBackgroundPage {
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        width: auto;
        max-width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);
        filter: brightness(80%);
        object-fit: cover; /* Maintain aspect ratio and cover the entire container */
    }
    
    
    .backgroundContainerForAboutUs {
        background-color: transparent;
        position:absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
        top: 0%;
    }
    
    .AboutUsBottomBar {
        position: absolute;
        background-color: rgba(0, 0, 0, 0);
        width: 100%;
        height: 10%;
        top: 95%;
        z-index: 4;
    }
    .AboutUsBottomBarIcons {
        position: absolute;
        width: auto;
        height: auto;
        max-width: 250px;
        max-height: 250px;
        z-index: 5;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 20%;
        
    }
    .AboutUsItemSide {
        position: absolute;
        z-index: 10;
        width: auto;
        height: auto;
        max-width: 70%;
        max-height: 70%;
        left: 10%;
        top: 3%;
        transition: all 0.4s linear;
    
    }
    
    .AboutUsTextTitle {
        position: absolute;
        font-family: 'TW', Arial, Helvetica, sans-serif;
        font-size: 2rem;
        color: #00A2FF;
        font-weight: bold;
        letter-spacing: 1.7rem;
        left: 5%;
        transition: all .7s linear;
        z-index: 4;
        top: 45%;
    }
    .AboutUsTextTitleOutline {
        position: absolute;
        font-family: 'TW', Arial, Helvetica, sans-serif;
        font-size: 2rem;
        font-weight: normal;
        letter-spacing: 1.6rem;
        left: 5%;
        top: 48%;
        z-index: 3;
        color: transparent;
        -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
        -webkit-text-stroke: .5px white;
        transition: all .7s linear;
    
    }
    
    .AboutUsTextDesc {
        position: absolute;
        font-family: 'TW', monospace;
        font-size: .7rem;
        color: white;
        font-weight:100px;
        left: 5%;
        top: 55%;
        width: 90%;
        z-index: 4;
        text-align: left;
        line-height: 120%;
        transition: all .7s linear;
    
    }
    .AboutUsHalftoneDecoration1 {
        position: absolute;
        width: auto;
        height: auto;
        max-width: 30%;
        max-height: 30%;
        z-index: 5;
        left: 4%;
        top: 200%;
        transition: all 0.5s linear;
    
    }
    .AboutUsHalftoneDecoration2 {
        position: absolute;
        width: auto;
        height: auto;
        max-width: 30%;
        max-height: 30%;
        z-index: 5;
        left: 80%;
        top: 200%;
        filter: brightness(-100%);
        transition: all 0.5s linear;
    
    }
    .AboutUsHalftoneDecoration3 {
        position: absolute;
        width: auto;
        height: auto;
        max-width: 30%;
        max-height: 30%;
        z-index: 1;
        left: 1%;
        top: 200%;
        filter: brightness(-100%);
        transition: all 0.5s linear;
    }

    .mobileCircleAboutUs {
        position: absolute;
        height: auto;
        width: 40%;
        max-width: 40%;
        max-height: 40%;
        top: 30%;
    }
    
    .mobileCircleAboutUs2 {
        position: absolute;
        height: auto;
        width: 40%;
        max-width: 40%;
        max-height: 40%;
        top: 70%;
        left: 200%;
    }

    .lineDownMobileAboutUs {
        position: absolute;
        opacity: 1;
        width: 3px;
        height: 100%;
        top: 0%;
        max-width: .05%;
        left: 85%;
        background-color: rgba(0, 170, 255, 0);
        transition: all .5% ease;

      }
      .lineDownMobileAboutUs2 {
        position: absolute;
        opacity: 1;
        width: 300%;
        height: 3px;
        top: 80%;
        max-height: .05%;
        left: 0%;
        background-color: rgb(0, 170, 255);
        
      }
    

      .upDownMobileLineAboutUs {
        animation: moveUpDownMobileAboutUs 18s ease-in-out infinite;
    }

    @keyframes moveUpDownMobileAboutUs {
        0% {
            top: 5%;
        }
        50% {
            top: 45%;
        }
        75% {
            top: 50%;
        }
        100% {
            top: 5%;
        }
    }

    .SideMobileLineAboutUs {
        animation: SideMobileLineAboutUs 12s ease-in-out infinite;
    }
    
    
    @keyframes SideMobileLineAboutUs {
        0% {
            left: 40%;
        }
        50% {
            left: 30%;
        }
        75% {
            left: 50%;
        }
        100% {
            left: 40%;
        }
    }
}
